<div id="fb-root"></div>
<header class="width">
   <div class="region region-header-top">
      <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
         <noscript class="no_scr">"JzavaScript is a standard programming language that is included to provide
            interactive features, Kindly enable Javascript in your browser. For details visit help page"
         </noscript>
         <div class="wrapper common-wrapper">
            <div class="container common-container four_content top-header">
               <div class="common-left clearfix">
                  <ul>
                     <li class="gov-india"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                              href="https://india.gov.in/hi"
                              title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">ଓଡ଼ିଶା
                              ସରକାର<br></a></span></li>
                     <li class="ministry"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                              href="https://india.gov.in/hi"
                              title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">Government of
                              odisha<br></a></span></li>
                  </ul>
               </div>
               <div class="common-right clearfix">
                  <ul id="header-nav">
                     <li class="ico-skip cf"><a href="#skipCont" title="">Skip to main content</a>
                     </li>
                     <li class="ico-site-search cf">
                        <a href="javascript:void(0);" id="toggleSearch" title="Site Search">
                           <img class="top" src="assets/images/ico-site-search.png" alt="Site Search" /></a>
                        <div class="search-drop both-search">
                           <div class="google-find">
                              <form method="get" action="http://www.google.com/search" target="_blank">
                                 <label for="search_key_g" class="notdisplay">Search</label>
                                 <input type="text" name="q" value="" id="search_key_g" />
                                 <input type="submit" value="Search" class="submit" />
                                 <div class="">
                                    <input type="radio" name="sitesearch" value="" id="the_web" />
                                    <label for="the_web">The Web</label>
                                    <input type="radio" name="sitesearch" value="india.gov.in" checked
                                       id="the_domain" />
                                    <label for="the_domain"> INDIA.GOV.IN</label>
                                 </div>
                              </form>
                           </div>
                           <div class="find">
                              <form name="searchForm" action="">
                                 <label for="search_key" class="notdisplay">Search</label>
                                 <input type="text" name="search_key" id="search_key" onKeyUp="autoComplete()"
                                    autocomplete="off" required />
                                 <input type="submit" value="Search" class="bttn-search" />
                              </form>
                              <div id="auto_suggesion"></div>
                           </div>
                        </div>
                     </li>
                     <li class="ico-accessibility cf">
                        <a href="javascript:void(0);" id="toggleAccessibility" title="Accessibility Dropdown"
                           role="link">
                           <img class="top" src="assets/images/ico-accessibility.png" alt="Accessibility Dropdown" />
                        </a>
                        <ul style="visibility: hidden;">
                           <li> <a onClick="set_font_size(increase)" title="Increase font size"
                                 href="javascript:void(0);" role="link">A<sup>+</sup>
                              </a>
                           </li>
                           <li> <a onClick="set_font_size()" title="Reset font size" href="javascript:void(0);"
                                 role="link">A<sup>&nbsp;</sup></a> </li>
                           <li> <a onClick="set_font_size(decrease)" title="Decrease font size"
                                 href="javascript:void(0);" role="link">A<sup>-</sup></a> </li>
                           <li> <a href="javascript:void(0);" class="high-contrast dark" title="High Contrast"
                                 role="link">A</a> </li>
                           <li> <a href="javascript:void(0);" class="high-contrast light" title="Normal Contrast"
                                 style="display: none;" role="link">A</a> </li>
                        </ul>
                     </li>
                     <li class="ico-social cf">
                        <a href="javascript:void(0);" id="toggleSocial" title="Social Medias">
                           <img class="top" src="assets/images/ico-social.png" alt="Social Medias" /></a>
                        <ul>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.facebook.com/"><img alt="Facebook Page"
                                    src="assets/images/ico-facebook.png"></a>
                           </li>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.twitter.com/"><img alt="Twitter Page"
                                    src="assets/images/ico-twitter.png"></a>
                           </li>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.youtube.com/"><img alt="youtube Page"
                                    src="assets/images/ico-youtube.png"></a>
                           </li>
                        </ul>
                     </li>
                     <li class="ico-sitemap cf">
                        <a href="" title="Sitemap">
                           <img class="top" src="assets/images/ico-sitemap.png" alt="Sitemap" /></a>
                     </li>
                     <li style="margin-right: 10px;">
                        <a href=""><strong style="color:black">English</strong>
                        </a>
                     </li>
                     <li>
                        <a href="/odia"><strong strong style="color:black">Odia</strong>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <p id="scroll" style="display: none;"><span></span></p>
   </div>
   <!--Top-Header Section end-->
   <section class="wrapper header-wrapper">
      <div class="container common-container four_content header-container">

         <div class="logo">
            <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
               <img class="national_emblem" src="../../../assets/images/container/seed2.jpg" alt="national emblem"
                  style="border-radius: 50%;width: 100px;">
            </a>
            <div style="display: flex;"> <strong>Seed Portal</strong>
            </div>
            <div style="display: flex;"> <strong>Directorate of Agriculture and food production odisha</strong>
            </div>

         </div>

         <div class="header-right clearfix">
            <div class="right-content clearfix">
               <div class="float-element" style="display: flex;">
                  <div class="logo">
                     <strong>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ
                     </strong>
                     <div> Department of Agriculture </div>
                     <div> and Farmers' Empowerment</div>
                  </div>
                  <div> <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
                        <img class="national_emblem" src="assets/images/OdishaLogo.png" alt="national emblem">

                     </a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="container common-container four_content header-container">
         <marquee behavior="alternate" style="color: darkred;"><strong>DELAERS/PACS MUST MAKE ONLINE ENTRY BEFORE
               PHYSICAL SALE OF SEEDS TO THE FARMERS
               HAVING VALID FARMER ID.</strong></marquee>
         <marquee behavior="alternate" style="color: darkred;"> <strong>FOR FARMER REGISTRATION & FARMER ID ISSUE KINDLY
               CONTACT TO:-
               <b>7008542438</b>(Between 10AM to 6PM).</strong>
         </marquee>
      </div>
   </section>
   <!-- ------------------------------------------- -->


   <!-- <section class="wrapper megamenu-wraper container">
   <div class="container common-container four_content">
     <p class="showhide"><em></em><em></em><em></em></p> -->
   <!-- <nav class="main-menu clearfix" id="menuNav">
   
         <ul>
   
            <li><a href="#" class="home"><span style="display: none;">home</span><i class="fa fa-home"></i></a>
            </li>
            <li>
               <a href="#">Released Variety</a>
   
               <ul >
                  <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OUAT">OUAT </a></li>
                  <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=CRRI">CRRI</a></li>
                  <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OTHERS">Others</a></li>
               </ul>
   
            </li>
   
            <li>
               <a href="http://odishaseedsportal.nic.in/farmerVariety/FrmVar">Farmers Variety</a>
            </li>
            <li>
               <a href="#">Govt. Seed Sector</a>
   
               <ul>
                  <li><a href="http://www.osscltd.in/index.htm">OSSC</a></li>
                  <li><a href="http://www.orissaagro.com/">OAIC</a></li>
                  <li><a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">OSSOPCA</a>
                  </li>
               </ul>
   
            </li>
            <li>
               <a href="http://odishaseedsportal.nic.in/SeedPortalData/ABOUT_US.pdf">About Us</a>
   
               <ul>
                  <li><a href="http://odishaseedsportal.nic.in/Home/Contact">Contact Us</a></li>
               </ul>
   
            </li>
            <li>
               <a href="http://odishaseedsportal.nic.in/login/login">Login </a>
            </li>
            <li><a href="inner.html">Seed DBT <img src="assets/theme/images/ico-new.png" /></a>
   
               <ul>
                  <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">INVENTORY OF SEED</a></li>
                  <li><a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx">PRINT FARMER ID</a></li>
                  <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">Farmer Registration</a></li>
                  <li><a href="https://www.youtube.com/watch?v=SBIz7kNCeww&feature=youtu.be">Video of Seed DBT
                        App</a></li>
                  <li><a href="https://www.youtube.com/watch?v=OcTOE8lSun0">Video of Seed Transaction on web</a>
                  </li>
                  <li><a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/">Online Seed licencing</a></li>
               </ul>
   
            </li>
            <li ><a href="inner.html"><span>
               Farmer Updation Manual 
            </span>
              </a>
   
               <ul>
                  <li><a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a>
                  </li>
                  <li><a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a>
                  </li>
               </ul>
   
            </li>
   
         </ul>
   
      </nav>
      <nav class="main-menu clearfix" id="overflow_menu">
         <ul class="nav-menu clearfix">
         </ul>
      </nav>
   </div>
   <style type="text/css">
      body~.sub-nav {
         right: 0
      }
   </style> 
</section>  -->




   <section class="wrapper megamenu-wraper">
      <div class="container common-container four_content">
         <p class="showhide"><em></em><em></em><em></em></p>
         <nav class="main-menu clearfix" id="main_menu">
            <ul class="nav-menu">
               <li class="nav-item"> <a href="#" class="home"><span style="display: none;">home</span><i
                        class="fa fa-home"></i></a> </li>
               <li class="nav-item" *ngFor='let i of MenuTextE'>
                  <a href="{{i.MenuLink}}">{{i.MenuText}}<img src="{{i.MenuImg}}" /></a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li *ngFor='let j of SubMenuTextE'><a href="{{j.MenuLink}}">{{j.MenuText}} </a></li>
                     </ul>
                  </div>
               </li>

               <li class="nav-item">
                  <a href="#">Released Variety</a>

                  <ul class="sub-nav-group">
                     <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OUAT">OUAT </a></li>

                     <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=CRRI">CRRI</a></li>
                     <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OTHERS">Others</a></li>
                  </ul>

               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/farmerVariety/FrmVar">Farmers Variety</a>
               </li>
               <li class="nav-item">
                  <a href="#">Govt. Seed Sector</a>

                  <ul class="sub-nav-group">
                     <li><a href="http://www.osscltd.in/index.htm">OSSC</a></li>
                     <li><a href="http://www.orissaagro.com/">OAIC</a></li>
                     <li><a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">OSSOPCA</a>
                     </li>
                  </ul>

               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/ABOUT_US.pdf">About Us</a>

                  <ul class="sub-nav-group">
                     <li><a href="http://odishaseedsportal.nic.in/Home/Contact">Contact Us</a></li>
                  </ul>

               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/login/login">Login </a>
               </li>
               <li class="nav-item"><a href="inner.html">Seed DBT <img src="assets/theme/images/ico-new.png" /></a>

                  <ul class="sub-nav-group">
                     <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">INVENTORY OF SEED</a></li>
                     <li><a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx">PRINT FARMER ID</a></li>
                     <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">Farmer Registration</a></li>
                     <li><a href="https://www.youtube.com/watch?v=SBIz7kNCeww&feature=youtu.be">Video of Seed DBT
                           App</a></li>
                     <li><a href="https://www.youtube.com/watch?v=OcTOE8lSun0">Video of Seed Transaction on web</a>
                     </li>
                     <li><a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/">Online Seed licencing</a></li>
                  </ul>

               </li>
               <li class="nav-item"><a href="inner.html">Farmer Updation Manual <img
                        src="assets/theme/images/ico-new.png" /></a>

                  <ul class="sub-nav-group">
                     <li><a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a>
                     </li>
                     <li><a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a>
                     </li>
                  </ul>

               </li>
               <!-- <li class="nav-item"><a href="inner.html">Farmer Updation Manual <img
                  src="assets/theme/images/ico-new.png" /></a> -->
               <!-- <div class="sub-nav">
               <ul class="sub-nav-group">
                  <li><a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a>
                  </li>
                  <li><a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a>
                  </li>
               </ul>
            </div> -->
               <!-- </li> -->
            </ul>
         </nav>
         <nav class="main-menu clearfix" id="overflow_menu">
            <ul class="nav-menu clearfix">
            </ul>
         </nav>
      </div>
      <style type="text/css">
         body~.sub-nav {
            right: 0
         }
      </style>
   </section>
</header>
<!--/.nav-wrapper-->
<!-- <section class="wrapper banner-wrapper width">
   <div id="flexSlider" class="flexslider">
      <div class="flex-viewport" style="overflow: hidden; position: relative;">
        
         <ul class="slides">
            <li>
               <img src="../../../assets/theme/images/banner/WhatsApp Image 2023-07-25 at 11.31.30 AM.jpeg"
                  alt="slide 1" draggable="false">
            </li>
            <li>
               <img src="../../../assets/theme/images/banner/WhatsApp Image 2023-07-25 at 11.31.31 AM.jpeg"
                  alt="slide 2" draggable="false">
            </li>
            <li>
               <img src="../../../assets/theme/images/banner/WhatsApp Image 2023-07-25 at 11.31.32 AM.jpeg"
                  alt="slide 3" draggable="false">
            </li>

         </ul>
      </div>
   </div>
</section> -->

<section class="wrapper banner-wrapper">
   <div id="flexSlider" class="flexslider">
       <ul class="slides">    
         <li><img src="../../../assets/theme/images/banner/various-seeds-grains-8416445.jpg" style="height: 400px;image-resolution:from-image 800dpi" alt="Home slider1"></li>            
           <li><img src="../../../assets/theme/images/banner/stock-pf.jpg" style="height: 400px;image-resolution:from-image 800dpi" alt="Home slider1"></li>
           <li><img src="../../../assets/theme/images/banner/assorted-seed-lot.jpg" style="height: 400px;image-resolution:from-image 800dpi" alt="Home slider2"></li>
           <li><img src="../../../assets/theme/images/banner/Rice-layout.jpg" style="height: 400px;image-resolution:from-image 800dpi" alt="Home slider2"></li>
           <li><img src="../../../assets/theme/images/banner/various-spice-seeds-collage-colorful-75072470.jpg" style="height: 400px;image-resolution: from-image 800dpi" alt="Home slider3"></li>
           
       </ul>
   </div>
</section>
<div class="wrapper" id="skipCont"></div>
<!--/#skipCont-->
<section id="fontSize" class="wrapper body-wrapper width " style="margin: 0% 8% 4% 9%;">

   <br>
   <app-container-sec1></app-container-sec1>
   <br>
   <app-container-sec2></app-container-sec2>
   <br>
</section>
<section id="fontSize" class="wrapper body-wrapper width" style="background-color:rgba(233, 233, 233, 0.979)">
  
   <h2 style="text-align:center;"><span> <i class="fa fa-life-ring" aria-hidden="true" style="color:#44bd9e !important;"></i></span>Seed Supports</h2>
   <app-container-sec5></app-container-sec5>
   <br>
   <!-- <app-container-sec6></app-container-sec6>  -->
</section>
<section id="fontSize" class="wrapper body-wrapper width" style="margin: 0% 8% 4% 9%; ">
   <div class="photo-glry-title">
      <h2 class="title-font-bold title-font-black"><span class="accent-fore-color icon-money"></span> Fees Structure
      </h2>
   </div>
   <div class="about-text">
      <table class="table" style="table-layout: fixed;">
         <thead class="thead-dark">
            <tr>
               <th scope="col" style="width: 10%;">SL</th>
               <th scope="col">Crop</th>
               <th scope="col">Govt. Seed Price (Rs.)
               </th>
               <th scope="col">NAC Seed Price (Rs.)
               </th>
               <th scope="col">HIL Seed Price (Rs.)
               </th>
               <th scope="col">Jaysankar Agro Seed Price (Rs.)
               </th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let crop of groupedCropData; let i = index">
               <td>{{ i + 1 }}</td>
               <td>{{ crop.Crop_Name}}</td>
               <!-- <td>{{ crop.Crop_Name.data.All_in_cost_Price}}</td> -->
               <td >{{ crop.x.GOVT || '--'}}</td>
               <td >{{ crop.x.NSC ||'--'}}</td>
               <td>{{ crop.x.HIL ||'--'}}</td>
               <td >{{ crop.x.JA||'--'}}
               </td>
            </tr>
         </tbody>

      </table>
   </div>

</section>


<section id="fontSize" class="wrapper body-wrapper width" style="margin: 0% 8% 4% 9%;">
   <div class="container common-container four_content gallery-container">
      <div class="gallery-area clearfix">
         <div class="gallery-heading">
            <h3>Photo Gallery</h3>
            <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About Photo Gallery"><span>View
                  All</span></a>
         </div>
         <div class="fancybox">
            <ul class="slider">
               <li>
                  <a href="../assets/images/FooterImg/1.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/1.png" alt="photo gallery slide1" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/8.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/8.png" alt="photo gallery slide2" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/3.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/3.png" alt="photo gallery slide3" />
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="../assets/images/FooterImg/4.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/4.png" alt="photo gallery slide4" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/5.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/5.png" alt="photo gallery slide5" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/6.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/6.png" alt="photo gallery slide6" />
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="gallery-right">
         <div class="video-heading">
            <h3>Video Gallery</h3>
            <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About video"><span>View
                  All</span></a>
         </div>
         <div class="video-wrapper">
            <video src="" poster="../assets/theme/images/video01.jpg"></video>
         </div>
      </div>
   </div>
</section>
<section id="fontSize" class="wrapper body-wrapper width">
   <div class="card">
      <div class="row">
         <div class="col-md-8">
            <h4 class="text-left" style="background: #4538d9;
            color: white;
            display: block;
            border: 1px solid yellow;
            text-align: center;"><strong>Latest News</strong></h4>
            <span class="col-md-1"> <i class="fa fa-pencil-square-o fa-2x"></i></span>
            <div class="col-md-5">
               <!-- <hr> -->
               <div class="post-date">
                  <!-- <i class="fa fa-pencil-square-o fa-2x"></i> -->
                  <h5 class="post-title"><a href="#" style="color:black">COMMITTEES AND SUBCOMMITTIES</a></h5>
               </div>

               <div class="post-content">
                  <p><br> </p>
                  <p> Proceedings of the Odisha State Seed Subcommittie Meeting&nbsp;dated ,
                     <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/Minutes_of_the_meeting_of_odishaState_Seed_Sub_Committee_8_11_2016_New.pdf">
                        8 NOV 2016 (1)</a>
                     <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/Minutes_of_the_meeting_of_odishaState_Seed_Sub_Committee_8_11_2016_New1.pdf">,
                        8 NOV 2016 (2)</a>
                     <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/Minutes_of_the_meeting_of_odishaState_Seed_Sub_Committee_8_11_2016.pdf">,
                        8 NOV 2016 (3)</a>
                     <a href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/Minutes_of_the_State_Seed_Sub-Committee_Meeting_05.12.2023.pdf"
                        target="_blank">, 24 Dec. 2023</a>
                     <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/Minutes_of_the_State_Seed_Sub-Committee_Meeting_05.12.2023.pdf">,
                        05 DEC 2023</a>
                     <a href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/37074.pdf"
                        target="_blank">, 17 Sep. 2023</a>,&nbsp; <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/L.No.%20201%20dt.%207.2.2023.pdf"
                        target="_blank">, 7 Feb. 2023</a>

                     <br> <a
                        href="http://odishaseedsportal.nic.in/SeedPortalData/State_Seed_Sub-Committee/SEED_MONITORING_UNIT.docx">Seed
                        Monitoring Unit(SMU).</a>
                  </p> <a class="read-more" href="#">Read More...<i class="fa fa-angle-right"></i></a>
                  <p></p>
               </div>
            </div>
            <span class="col-md-1"><i class="fa fa-pencil-square-o fa-2x"></i></span>
            <div class="col-md-5">
               <div class="post-row item">
                  <div class="left-meta-post">
                     <div class="post-date"></div>
                     <div class="post-type"></div>
                  </div>
                  <h3 class="post-title"><a href="#" style="color:black">SEED PRICE</a></h3>
                  <div class="post-content">
                     <p><br></p>
                     <p><a href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/CRBNseedprice.pdf"
                           target="_blank">Chatishgargh Rajya Bej Krushi Vikash Nigam Price K2023-24</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/PriceSeed18-24.pdf"
                           target="_blank"> Seed Price for Kharif 2023-24.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/SeedPriceKharif202318.pdf"
                           target="_blank"> Seed Price for Kharif 2023-24.</a> <br> <a
                           href="SeedPortalData/Sale rate of Paddy seeds in Kharif 2016.pdf" target="_blank">Seed Price
                           and
                           dealer commission 2016</a> <br> <a href="SeedPortalData/SeedPriceForRabi_2016_17_New.pdf"
                           target="_blank">Seed Price For Rabi 2023-24</a><br> <a
                           href="SeedPortalData/scan0095%20(1).pdf" target="_blank">Seed Price for Kharif 2023-24</a>
                        <br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/CertifiedSeedPriceRabi2023-24.pdf"
                           target="_blank">Certified Rabi Seed Price for year 2023-24.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/Rabi Seed Price.pdf"
                           target="_blank">Rabi Seed Price for year 2023-24.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/Seed_Price/Uniform_Sale_Price_of_Breeder_Seed_for_2023.pdf"
                           target="_blank">Breeder Seed Price for year 2023-24.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/pdf8.pdf" target="_blank">Foundation
                           Seed
                           Price for Kharif 2023 . </a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/pdf7.pdf">Foundation Seed Price for Rabi
                           2023-24 .</a><br> <a href="http://odishaseedsportal.nic.in/SeedPortalData/pdf6.pdf"
                           target="_blank">Certified Seed Price for Kharif 2023.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/scan0142.pdf" target="_blank">Certified
                           Seed Price for Rabi 2023-24.</a><br> <a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/13318.pdf" target="_blank">Certified
                           Seed
                           Price for Kharif 2015 .</a>
                     </p> <a class="read-more" href="#">Read More...<i class="fa fa-angle-right"></i></a>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="card" style="margin: 20px;
            padding: 10px;height: 80vh !important;">
               <h4 class="text-center"><strong>NOTICES</strong></h4>
               <hr>

               <div id="mq" class="smartmarquee example">
                  <ul class="">
                     <marquee id="test" behavior="scroll" direction="up" scrolldelay="100" scrollamount="2"
                        onmouseover="this.stop()" onmouseout="this.start()" height="200px">
                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a
                                       href="SeedPortalData/OSSOPCA_News_Letter/PRAMANIKA-7thEDITION.pdf"
                                       target="_blank">OSSOPCA 7th Pramanika Letter</a><img
                                       src="Images/newgood.gif"></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>
                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a href="SeedPortalData/41086.pdf"
                                       target="_blanck">Circulars/Orders section in the OSP</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>
                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a href="VideoPlay.aspx" target="_blank">Farmer
                                       Registration
                                       Video</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>
                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p></p>
                              <h5><strong style="color:green"><a
                                       href="http://odishaseedsportal.nic.in/SeedPortalData/FarmerRegistrationForm-DAFP.pdf"
                                       target="_blank">Farmer Registration Form</a>
                                    <p></p>
                                 </strong>
                                 <p></p>
                              </h5>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a
                                       href="http://odishaseedsportal.nic.in/SeedPortalData/InstructionsManual(uploaded).pdf"
                                       target="_blank">Instruction Manual</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a
                                       href="http://odishaseedsportal.nic.in/SeedPortalData/SampleLeaftlet.pdf"
                                       target="_blank">Sample Leaftlet</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"> </strong></p>
                              <p><strong style="color:green"><a href="/Images/scan0075%20(2).pdf" target="_blank">All
                                       seed
                                       dealers are requested to enter your mobile No.(Smart Phone) and mode of
                                       transaction(either in web or in mobile app.) in seed licensing system
                                       immediately.</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a href="/Images/scan0075%20(2).pdf"
                                       target="_blank">Representation submitted by Sri, Surendra Nath Patra and
                                       others.</a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green">
                                    <a href="http://odishaseedsportal.nic.in/Home/ViewSeedData">Seed Availability,Supply
                                       Position-2015</a></strong></p><strong style="color:green">
                              </strong>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green"><a
                                       href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_news_letter/PRAMANIKA-6th%20EDITION.pdf"
                                       target="_blank"><span
                                          style="font-family: arial, sans-serif; font-size: 12.8000002407349px;">ଓସୋପ୍
                                          କାର
                                          ସଦ୍ୟତମ ସମାଚାର ପତ୍ର</span></a></strong></p>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green">
                                    <a
                                       href="http://odishaseedsportal.nic.in/SeedPortalData/Circular/modalities_to_involve_DDAs_in_Seed_production_programme.pdf">&nbsp;Modalities
                                       to involve DDAs in Seed production programme.</a></strong></p><strong
                                 style="color:green">
                              </strong>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>


                        <div class="classic-testimonials item">
                           <div class="testimonial-content">
                              <p><strong style="color:green"></strong></p>
                              <p><strong style="color:green">
                                    <a href="http://odishaseedsportal.nic.in/SeedPortalData/scan0135.pdf">ବିହନ
                                       ପ୍ରମାଣିକରଣ
                                       ମୂଲ୍ୟ</a></strong></p><strong style="color:green">
                              </strong>
                              <p></p>
                           </div>
                           <div class="testimonial-author"><span>Directorate of Agriculture &amp; FP</span> - Govt. of
                              Odisha</div>
                        </div>
                     </marquee>
                  </ul>
               </div>
            </div>

         </div>
      </div>
   </div>

</section>
<!--/.body-wrapper-->






<section class="wrapper carousel-wrapper width">
   <h2 style="display: none;">Carousel</h2>
   <div class="container common-container four_content carousel-container" style="padding-top: 2%;padding-bottom: 2%;">
      <div id="flexCarousel" class="flexslider carousel">
         <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://www.epestodisha.nic.in/odiahome"
                     onclick=" confirm('This link will take you to an external website.')" title="AGRISNET">
                     <img src="../../../assets/images/FooterImg/acfw.jpg" alt="AGRISNET" draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://agrisnetodisha.ori.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')" title="Agriodisha">
                     <img src="../../../assets/images/FooterImg/AGRISNETICON.jpg" alt="Agriodisha"
                        draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://odishaagro.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')" title="Odisha Govertment">
                     <img src="../../../assets/images/FooterImg/cluster.png" alt="Odisha Govertment"
                        draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://ossopca.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')"
                     title="Agriculture Coperation &amp; Farmers Welfare">
                     <img src="../../../assets/images/FooterImg/ossopcaicon.jpg"
                        alt="Agriculture Coperation &amp; Farmers Welfare" draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://agriodisha.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')"
                     title="Plant Protection,Quarantine &amp; Storage">
                     <img src="../../../assets/images/FooterImg/Agriodisha.jpg"
                        alt="Plant Protection,Quarantine &amp; Storage" draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://ossc.nic.in/" onclick=" confirm('This link will take you to an external website.')"
                     title="Kalia">
                     <img src="../../../assets/images/FooterImg/OSSC.jpg" alt="Kalia" draggable="false"></a>
               </li>

               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://apicol.nic.in/" onclick=" confirm('This link will take you to an external website.')"
                     title="Plant Protection,Quarantine &amp; Storage">
                     <img src="../../../assets/images/FooterImg/apicol.png"
                        alt="Plant Protection,Quarantine &amp; Storage" draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="http://odishaseedsportal.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')" title="Kalia">
                     <img src="../../../assets/images/FooterImg/Seedsportal.jpg" alt="Kalia" draggable="false"></a>
               </li>

               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://odishasolarpump.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')"
                     title="Plant Protection,Quarantine &amp; Storage">
                     <img src="../../../assets/images/FooterImg/Webp.net-resizeimage (6).jpg"
                        alt="Plant Protection,Quarantine &amp; Storage" draggable="false"></a>
               </li>


               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://odishaagrilicense.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')" title="e-licencing">
                     <img src="../../../assets/images/FooterImg/Webp.net-resizeimage (7).jpg" alt="e-licencing"
                        draggable="false"></a>
               </li>

               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://kalia.odisha.gov.in/index.html"
                     onclick=" confirm('This link will take you to an external website.')" title="Kalia">
                     <img src="../../../assets/images/FooterImg/KALIALOGO.jpg" alt="Kalia" draggable="false"></a>
               </li>
               <li style="width: 200px; margin-right: 5px; float: left; display: block;"><a target="_blank"
                     href="https://odishafarmmachinery.nic.in/"
                     onclick=" confirm('This link will take you to an external website.')" title="odishafarmmachinery">
                     <img src="../../../assets/images/FooterImg/farmmachinery (2).jpg" alt="odishafarmmachinery"
                        draggable="false"></a>
               </li>
            </ul>
         </div>
      </div>
   </div>

</section>
<app-footer></app-footer>