<div id="fb-root"></div>
<header>
   <div class="region region-header-top">
      <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
         <noscript class="no_scr">"JzavaScript is a standard programming language that is included to provide
            interactive features, Kindly enable Javascript in your browser. For details visit help page"
         </noscript>
         <div class="wrapper common-wrapper">
            <div class="container common-container four_content top-header">
               <div class="common-left clearfix">
                  <ul>
                     <li class="gov-india"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                              href="https://india.gov.in/hi"
                              title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">ଓଡ଼ିଶା
                              ସରକାର<br></a></span></li>
                     <li class="ministry"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                              href="https://india.gov.in/hi"
                              title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">Government of
                              odisha<br></a></span></li>

                  </ul>
               </div>
               <div class="common-right clearfix">
                  <ul id="header-nav">
                     <li class="ico-skip cf"><a href="#skipCont" title="">Skip to main content</a>
                     </li>
                     <li class="ico-site-search cf">
                        <a href="javascript:void(0);" id="toggleSearch" title="Site Search">
                           <img class="top" src="assets/images/ico-site-search.png" alt="Site Search" /></a>
                        <div class="search-drop both-search">
                           <div class="google-find">
                              <form method="get" action="http://www.google.com/search" target="_blank">
                                 <label for="search_key_g" class="notdisplay">Search</label>
                                 <input type="text" name="q" value="" id="search_key_g" />
                                 <input type="submit" value="Search" class="submit" />
                                 <div class="">
                                    <input type="radio" name="sitesearch" value="" id="the_web" />
                                    <label for="the_web">The Web</label>
                                    <input type="radio" name="sitesearch" value="india.gov.in" checked
                                       id="the_domain" />
                                    <label for="the_domain"> INDIA.GOV.IN</label>
                                 </div>
                              </form>
                           </div>
                           <div class="find">
                              <form name="searchForm" action="">
                                 <label for="search_key" class="notdisplay">Search</label>
                                 <input type="text" name="search_key" id="search_key" onKeyUp="autoComplete()"
                                    autocomplete="off" required />
                                 <input type="submit" value="Search" class="bttn-search" />
                              </form>
                              <div id="auto_suggesion"></div>
                           </div>
                        </div>
                     </li>
                     <li class="ico-accessibility cf">
                        <a href="javascript:void(0);" id="toggleAccessibility" title="Accessibility Dropdown"
                           role="link">
                           <img class="top" src="assets/images/ico-accessibility.png" alt="Accessibility Dropdown" />
                        </a>
                        <ul style="visibility: hidden;">
                           <li> <a onClick="set_font_size(increase)" title="Increase font size"
                                 href="javascript:void(0);" role="link">A<sup>+</sup>
                              </a>
                           </li>
                           <li> <a onClick="set_font_size()" title="Reset font size" href="javascript:void(0);"
                                 role="link">A<sup>&nbsp;</sup></a> </li>
                           <li> <a onClick="set_font_size(decrease)" title="Decrease font size"
                                 href="javascript:void(0);" role="link">A<sup>-</sup></a> </li>
                           <li> <a href="javascript:void(0);" class="high-contrast dark" title="High Contrast"
                                 role="link">A</a> </li>
                           <li> <a href="javascript:void(0);" class="high-contrast light" title="Normal Contrast"
                                 style="display: none;" role="link">A</a> </li>
                        </ul>
                     </li>
                     <li class="ico-social cf">
                        <a href="javascript:void(0);" id="toggleSocial" title="Social Medias">
                           <img class="top" src="assets/images/ico-social.png" alt="Social Medias" /></a>
                        <ul>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.facebook.com/"><img alt="Facebook Page"
                                    src="assets/images/ico-facebook.png"></a>
                           </li>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.twitter.com/"><img alt="Twitter Page"
                                    src="assets/images/ico-twitter.png"></a>
                           </li>
                           <li>
                              <a target="_blank" title="External Link that opens in a new window"
                                 href="http://www.youtube.com/"><img alt="youtube Page"
                                    src="assets/images/ico-youtube.png"></a>
                           </li>
                        </ul>
                     </li>
                     <li class="ico-sitemap cf">
                        <a href="" title="Sitemap">
                           <img class="top" src="assets/images/ico-sitemap.png" alt="Sitemap" /></a>
                     </li>
                     <li class="hindi cmf_lan d-hide">
                        <label class="de-lag">
                           <span>Language</span>
                           <select title="Select language">
                              <option>English</option>
                              <option>हिन्दी</option>
                           </select>
                        </label>
                     </li>
                     <li class="hindi cmf_lan m-hide">
                        <a href="javascript:;" title="Select Language">Language</a>
                        <ul>
                           <li><a target="_blank" href="" lang="hi" class="alink"
                                 title="Click here for हिन्दी version.">हिन्दी</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <p id="scroll" style="display: none;"><span></span></p>
   </div>
   <!--Top-Header Section end-->
   <section class="wrapper header-wrapper">
      <div class="container common-container four_content header-container">
         <h1 class="logo">
            <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
               <img class="national_emblem" src="assets/images/OdishaLogo.png" alt="national emblem">
               <p>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ</p>
               <!-- <p>{{LogoTextO}}</p>
                <span> {{LogoTextE}} </span> -->
               <span> Department of Agriculture and Farmers' Empowerment</span>

            </a>
         </h1>
         <div class="header-right clearfix">
            <div class="right-content clearfix">
               <div class="float-element">
                  <a class="sw-logo" target="_blank" href="https://swachhbharat.mygov.in/"
                     title="Swachh Bharat, External link that open in a new windows"><img
                        src="assets/images/swach-bharat.png" alt="Swachh Bharat"></a>
               </div>
            </div>
         </div>
      </div>
      <div class="container common-container four_content header-container">
         <marquee behavior="alternate">DELAERS/PACS MUST MAKE ONLINE ENTRY BEFORE PHYSICAL SALE OF SEEDS TO THE FARMERS
            HAVING VALID FARMER ID.</marquee>
         <marquee behavior="alternate"> FOR FARMER REGISTRATION & FARMER ID ISSUE KINDLY CONTACT TO:-
            <b>7008542438</b>(Between 10AM to 6PM).
         </marquee>
      </div>
   </section>
   <!--/.header-wrapper-->
   <section class="wrapper megamenu-wraper">
      <div class="container common-container four_content">
         <p class="showhide"><em></em><em></em><em></em></p>
         <nav class="main-menu clearfix" id="main_menu">
            <ul class="nav-menu">
               <li class="nav-item"> <a href="#" class="home"><span style="display: none;">home</span><i
                        class="fa fa-home"></i></a> </li>
               <li class="nav-item" *ngFor='let i of MenuTextE'>
                  <a href="{{i.MenuLink}}">{{i.MenuText}}<img src="{{i.MenuImg}}" /></a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li *ngFor='let j of SubMenuTextE'><a href="{{j.MenuLink}}">{{j.MenuText}} </a></li>
                     </ul>
                  </div>
               </li>

               <li class="nav-item">
                  <a href="#">Released Variety</a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OUAT">OUAT </a></li>
                        <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=CRRI">CRRI</a></li>
                        <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OTHERS">Others</a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/farmerVariety/FrmVar">Farmers Variety</a>
               </li>
               <li class="nav-item">
                  <a href="#">Govt. Seed Sector</a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li><a href="http://www.osscltd.in/index.htm">OSSC</a></li>
                        <li><a href="http://www.orissaagro.com/">OAIC</a></li>
                        <li><a
                              href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">OSSOPCA</a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/ABOUT_US.pdf">About Us</a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li><a href="http://odishaseedsportal.nic.in/Home/Contact">Contact Us</a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a href="http://odishaseedsportal.nic.in/login/login">Login </a>
               </li>
               <li class="nav-item"><a href="inner.html">Seed DBT <img src="assets/theme/images/ico-new.png" /></a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">INVENTORY OF SEED</a></li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx">PRINT FARMER ID</a></li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">Farmer Registration</a></li>
                        <li><a href="https://www.youtube.com/watch?v=SBIz7kNCeww&feature=youtu.be">Video of Seed DBT
                              App</a></li>
                        <li><a href="https://www.youtube.com/watch?v=OcTOE8lSun0">Video of Seed Transaction on web</a>
                        </li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/">Online Seed licencing</a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item"><a href="inner.html">Farmer Updation Manual <img
                        src="assets/theme/images/ico-new.png" /></a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">
                        <li><a
                              href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a>
                        </li>
                        <li><a
                              href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </nav>
         <nav class="main-menu clearfix" id="overflow_menu">
            <ul class="nav-menu clearfix">
            </ul>
         </nav>
      </div>
      <style type="text/css">
         body~.sub-nav {
            right: 0
         }
      </style>
   </section>
</header>
<!--/.nav-wrapper-->
<section class="wrapper banner-wrapper">
   <div id="flexSlider" class="flexslider">
      <ul class="slides">
         <li>
            <p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/11.jpg"
               alt="slide 1">
         </li>
         <li>
            <p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/12.jpg"
               alt="slide 2">
         </li>
         <li>
            <p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/13.jpg"
               alt="slide 3">
         </li>
         <li>
            <p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/14.jpg"
               alt="slide 4">
         </li>
         <li><img src="assets/theme/images/banner/5.jpg" alt="slide 5"></li>
      </ul>
   </div>
</section>
<div class="wrapper" id="skipCont"></div>
<!--/#skipCont-->
<section id="fontSize" class="wrapper body-wrapper " style="margin: 0% 8% 4% 9%;">

   <br>
   <app-container-sec1></app-container-sec1>
   <app-container-sec2></app-container-sec2>
   
   <div class="container common-container four_content gallery-container">
      <div class="gallery-area clearfix">
         <div class="gallery-heading">
            <h3>Photo Gallery</h3>
            <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About Photo Gallery"><span>View
                  All</span></a>
         </div>
         <div class="fancybox">
            <ul class="slider">
               <li>
                  <a href="../assets/images/FooterImg/1.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/1.png" alt="photo gallery slide1" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/2.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/2.png" alt="photo gallery slide2" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/3.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/3.png" alt="photo gallery slide3" />
                  </a>
               </li>
            </ul>
            <ul>
               <li>
                  <a href="../assets/images/FooterImg/4.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/4.png" alt="photo gallery slide4" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/5.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/5.png" alt="photo gallery slide5" />
                  </a>
               </li>
               <li>
                  <a href="../assets/images/FooterImg/6.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/6.png" alt="photo gallery slide6" />
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="gallery-right">
         <div class="video-heading">
            <h3>Video Gallery</h3>
            <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About video"><span>View
                  All</span></a>
         </div>
         <div class="video-wrapper">
            <video src="" poster="../assets/theme/images/video01.jpg"></video>
         </div>
      </div>
   </div>
   <!-- magazine and external links -->
   <div class="wrapper home-btm-slider">
    
   </div>

   <div class="wrapper tab-section">
      <div class="container common-container four_content" style="background-color: whitesmoke;">
         <label for="html">Latest News</label>
         <div class="col-md-12">
            <div class="col-md-4" style="height: 200px;">
               <i class="fa fa-pencil-square-o" aria-hidden="true">COMMITTEES AND SUBCOMMITTIES</i>
               <p class="text-slide1 pause"></p>
               <div class="scroll-text-1 scroll-left">
                  <p class="text-slide1 pause">   Proceedings of the Odisha State Seed Subcommittie Meeting dated ,  </p>
               </div>

            </div>
            <div class="col-md-4" style="height: 200px;">
               <i class="fa fa-pencil-square-o" aria-hidden="true">SEED PRICE</i>
               <p class="text-slide1 pause"></p>
               <div class="scroll-text-1 scroll-left">
                 <p><p><a >Chatishgargh Rajya Bej Krushi Vikash Nigam Price K2018-19</a>
                    <a > Seed Price for Kharif 2018-19.</a><a > Seed Price for Kharif 2017-18.</a> 
                    <a >Seed Price and dealer commission 2016</a>   
                     <a >Seed Price For Rabi 2016-17</a><a >Seed Price for Kharif 2016-17</a>  
               </div>

            </div>
            <div class="col-md-4" style="height: 200px;">
               <i class="fa fa-pencil-square-o" aria-hidden="true">Notice</i>
               <p class="text-slide1 pause"></p>
               <div class="scroll-text-1 scroll-left">
                  <marquee width="60%" direction="up" height="100px">
                     This is a sample scrolling text that has scrolls in the upper direction.
                     </marquee>
               </div>

            </div>

         </div>


      </div>

   </div>


</section>
<!--/.body-wrapper-->

<section class="fig">
<div class="row">
   <div class="col-md-3">
      <figure class="figure">
         <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).webp" class="figure-img img-fluid z-depth-1"
           alt="..." style="width: 400px">
         <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
       </figure>
   </div>
  
   <div class="col-md-3">
      <figure class="figure">
         <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).webp" class="figure-img img-fluid z-depth-1"
           alt="..." style="width: 400px">
         <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
       </figure>
   </div>
   <div class="col-md-3">
      <figure class="figure">
         <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).webp" class="figure-img img-fluid z-depth-1"
           alt="..." style="width: 400px">
         <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
       </figure>
   </div>
   <div class="col-md-3">
      <figure class="figure">
         <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).webp" class="figure-img img-fluid z-depth-1"
           alt="..." style="width: 400px">
         <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
       </figure>
   </div>
</div>
</section>
<!--/.banner-wrapper-->
<section class="wrapper carousel-wrapper">
   <div class="container common-container four_content carousel-container">
      <div id="flexCarousel" class="flexslider carousel">
         <ul class="slides">
            <li>
               <a target="_blank" href="http://digitalindia.gov.in/"
                  title="Digital India, External Link that opens in a new window"><img
                     src="../assets/images/carousel/digital-india.png" alt="Digital India"></a>
            </li>
            <li>
               <a target="_blank" href="http://www.makeinindia.com/"
                  title="Make In India, External Link that opens in a new window"> <img
                     src="../assets/images/carousel/makeinindia.png" alt="Make In India"></a>
            </li>
            <li>
               <a target="_blank" href="http://india.gov.in/"
                  title="National Portal of India, External Link that opens in a new window"><img
                     src="../assets/images/carousel/india-gov.png" alt="National Portal of India"></a>
            </li>
            <li>
               <a target="_blank" href="http://goidirectory.nic.in/"
                  title="GOI Web Directory, External Link that opens in a new window"><img
                     src="../assets/images/carousel/goidirectory.png" alt="GOI Web Directory"></a>
            </li>
            
         </ul>
      </div>
   </div>
</section>
<app-footer></app-footer>