<div id="fb-root"></div>
<header>
    <div class="region region-header-top">
       <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
          <noscript class="no_scr">"JzavaScript is a standard programming language that is included to provide interactive features, Kindly enable Javascript in your browser. For details visit help page"
          </noscript>
          <div class="wrapper common-wrapper">
             <div class="container common-container four_content top-header">
                <div class="common-left clearfix">
                   <ul>
                      <li class="gov-india"><span class="responsive_go_hindi" lang="hi"><a target="_blank" href="https://india.gov.in/hi" title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">ଓଡ଼ିଶା ସରକାର<br></a></span></li>
                      <li class="ministry"><span class="responsive_go_hindi" lang="hi"><a target="_blank" href="https://india.gov.in/hi" title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">Government of odisha<br></a></span></li>
                   </ul>
                </div>
                <div class="common-right clearfix">
                   <ul id="header-nav">
                      <li class="ico-skip cf"><a href="#skipCont" title="">Skip to main content</a>
                      </li>
                      <li class="ico-site-search cf">
                         <a href="javascript:void(0);" id="toggleSearch" title="Site Search">
                         <img class="top" src="assets/images/ico-site-search.png" alt="Site Search" /></a>
                         <div class="search-drop both-search">
                            <div class="google-find">
                               <form method="get" action="http://www.google.com/search" target="_blank">
                                  <label for="search_key_g" class="notdisplay">Search</label>
                                  <input type="text" name="q" value="" id="search_key_g" />
                                  <input type="submit" value="Search" class="submit" />
                                  <div class="">
                                     <input type="radio" name="sitesearch" value="" id="the_web" />
                                     <label for="the_web">The Web</label>
                                     <input type="radio" name="sitesearch" value="india.gov.in" checked id="the_domain" />
                                     <label for="the_domain"> INDIA.GOV.IN</label>
                                  </div>
                               </form>
                            </div>
                            <div class="find">
                               <form name="searchForm" action="">
                                  <label for="search_key" class="notdisplay">Search</label>
                                  <input type="text" name="search_key" id="search_key" onKeyUp="autoComplete()" autocomplete="off" required />
                                  <input type="submit" value="Search" class="bttn-search" />
                               </form>
                               <div id="auto_suggesion"></div>
                            </div>
                         </div>
                      </li>
                      <li class="ico-accessibility cf">
                         <a href="javascript:void(0);" id="toggleAccessibility" title="Accessibility Dropdown" role="link">
                         <img class="top" src="assets/images/ico-accessibility.png" alt="Accessibility Dropdown" />
                         </a>
                         <ul style="visibility: hidden;">
                            <li> <a onClick="set_font_size(increase)" title="Increase font size" href="javascript:void(0);" role="link">A<sup>+</sup>
                               </a>
                            </li>
                            <li> <a onClick="set_font_size()" title="Reset font size" href="javascript:void(0);" role="link">A<sup>&nbsp;</sup></a> </li>
                            <li> <a onClick="set_font_size(decrease)" title="Decrease font size" href="javascript:void(0);" role="link">A<sup>-</sup></a> </li>
                            <li> <a href="javascript:void(0);" class="high-contrast dark" title="High Contrast" role="link">A</a> </li>
                            <li> <a href="javascript:void(0);" class="high-contrast light" title="Normal Contrast" style="display: none;" role="link">A</a> </li>
                         </ul>
                      </li>
                      <li class="ico-social cf">
                         <a href="javascript:void(0);" id="toggleSocial" title="Social Medias">
                         <img class="top" src="assets/images/ico-social.png" alt="Social Medias" /></a>
                         <ul>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window" href="http://www.facebook.com/"><img alt="Facebook Page" src="assets/images/ico-facebook.png"></a>
                            </li>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window" href="http://www.twitter.com/"><img alt="Twitter Page" src="assets/images/ico-twitter.png"></a>
                            </li>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window" href="http://www.youtube.com/"><img alt="youtube Page" src="assets/images/ico-youtube.png"></a>
                            </li>
                         </ul>
                      </li>
                      <li class="ico-sitemap cf">
                         <a href="" title="Sitemap">
                         <img class="top" src="assets/images/ico-sitemap.png" alt="Sitemap" /></a>
                      </li>
                      <li class="hindi cmf_lan d-hide">
                         <label class="de-lag">
                            <span>Language</span>
                            <select title="Select language">
                               <option>English</option>
                               <option>हिन्दी</option>
                            </select>
                         </label>
                      </li>
                      <li class="hindi cmf_lan m-hide">
                         <a href="javascript:;" title="Select Language">Language</a>
                         <ul>
                            <li><a target="_blank" href="" lang="hi" class="alink" title="Click here for हिन्दी version.">हिन्दी</a></li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <p id="scroll" style="display: none;"><span></span></p>
    </div>
    <!--Top-Header Section end-->
    <section class="wrapper header-wrapper">
       <div class="container common-container four_content header-container">
          <h1 class="logo">
             <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
                <img class="national_emblem" src="assets/images/OdishaLogo.png" alt="national emblem" >
                <p>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ</p>
                <!-- <p>{{LogoTextO}}</p>
                <span> {{LogoTextE}} </span> -->
                <span> Department of Agriculture and Farmers' Empowerment</span>
             </a>
          </h1>
          <div class="header-right clearfix">
             <div class="right-content clearfix">
                <div class="float-element">                           
                   <a class="sw-logo" target="_blank" href="https://swachhbharat.mygov.in/" title="Swachh Bharat, External link that open in a new windows"><img src="assets/images/swach-bharat.png" alt="Swachh Bharat"></a>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--/.header-wrapper-->
    <section class="wrapper megamenu-wraper">
       <div class="container common-container four_content">
          <p class="showhide"><em></em><em></em><em></em></p>
          <nav class="main-menu clearfix" id="main_menu">
             <ul class="nav-menu">
                <li class="nav-item"> <a href="#" class="home"><span style="display: none;">home</span><i class="fa fa-home"></i></a> </li>
                <li class="nav-item" *ngFor='let i of MenuTextE'>
                  <a href="{{i.MenuLink}}">{{i.MenuText}}<img src="{{i.MenuImg}}"/></a>
                  <div class="sub-nav">
                     <ul class="sub-nav-group">                        
                        <li *ngFor='let j of SubMenuTextE'><a href="{{j.MenuLink}}">{{j.MenuText}} </a></li>
                     </ul>
                  </div>
               </li>

               <!-- <li class="nav-item" >
                  <a href="#">Seed DBT  <img src="../assets/theme/images/ico-new.png"/></a>
               </li> -->

                <!--<li class="nav-item">
                   <a href="#">Released Variety</a>
                   <div class="sub-nav">
                      <ul class="sub-nav-group">
                         <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OUAT">OUAT </a></li>
                         <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=CRRI">CRRI</a></li>
                         <li><a href="http://odishaseedsportal.nic.in/ouatreport/dtls?cod=OTHERS">Others</a></li>                              
                      </ul>
                   </div>
                </li>
                <li class="nav-item">
                   <a href="http://odishaseedsportal.nic.in/farmerVariety/FrmVar">Farmers Variety</a>                        
                </li>
                <li class="nav-item">
                   <a href="#">Govt. Seed Sector</a>
                   <div class="sub-nav">
                      <ul class="sub-nav-group">
                         <li><a href="http://www.osscltd.in/index.htm">OSSC</a></li>
                         <li><a href="http://www.orissaagro.com/">OAIC</a></li>
                         <li><a href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">OSSOPCA</a></li>
                         </ul>
                   </div>
                </li>
                <li class="nav-item">
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/ABOUT_US.pdf">About Us</a>
                   <div class="sub-nav">
                      <ul class="sub-nav-group">
                         <li><a href="http://odishaseedsportal.nic.in/Home/Contact">Contact Us</a></li>
                      </ul>
                   </div>
                </li>
                <li class="nav-item">
                   <a href="http://odishaseedsportal.nic.in/login/login">Login </a>
                </li>
                <li class="nav-item"><a href="inner.html">Seed DBT <img src="assets/theme/images/ico-new.png" /></a>
                   <div class="sub-nav">
                      <ul class="sub-nav-group">
                         <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">INVENTORY OF SEED</a></li>
                         <li><a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx">PRINT FARMER ID</a></li>
                         <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">Farmer Registration</a></li>
                         <li><a href="https://www.youtube.com/watch?v=SBIz7kNCeww&feature=youtu.be">Video of Seed DBT App</a></li>
                         <li><a href="https://www.youtube.com/watch?v=OcTOE8lSun0">Video of Seed Transaction on web</a></li>
                         <li><a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/">Online Seed licencing</a></li>
                      </ul>
                   </div>
                </li>
                <li class="nav-item"><a href="inner.html">Farmer Updation Manual <img src="assets/theme/images/ico-new.png" /></a>
                   <div class="sub-nav">
                      <ul class="sub-nav-group">
                         <li><a href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a></li>
                         <li><a href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a></li>                              
                      </ul>
                   </div>
                </li>-->
             </ul>
          </nav>
          <nav class="main-menu clearfix" id="overflow_menu">
             <ul class="nav-menu clearfix">
             </ul>
          </nav>
       </div>
       <style type="text/css">
          body ~ .sub-nav {
          right: 0
          }
       </style>
    </section>
 </header>
 <!--/.nav-wrapper--> 
  <section class="wrapper banner-wrapper">   
   <div id="flexSlider" class="flexslider">      
      <ul class="slides">
         <li><p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/11.jpg" alt="slide 1"></li>
         <li><p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/12.jpg" alt="slide 2"></li>
         <li><p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/13.jpg" alt="slide 3"></li>
         <li><p class="Front">Odisha Seeds Portal</p><img class="img1" src="assets/theme/images/banner/14.jpg" alt="slide 4"></li>
         <li><img src="assets/theme/images/banner/5.jpg" alt="slide 5"></li>
      </ul>      
   </div>
</section>
<div class="wrapper" id="skipCont"></div>
<!--/#skipCont-->
<section id="fontSize" class="wrapper body-wrapper ">
   <app-news></app-news>
   <br>
   <app-container-sec1></app-container-sec1>
  <app-container-sec2></app-container-sec2>
   <!-- whats new section -->
   <div class="wrapper  related-whatsnew-link">
      <div class="container common-container four_content">
         <app-container-sec3></app-container-sec3>
         <app-container-sec4></app-container-sec4>         
      </div>
   </div>
   <div class="wrapper maganzine-linke-wapper">
      <div class="container common-container four_content">
         <div class="magazine-wapper">
            <app-container-sec5></app-container-sec5>
         </div>
         <div class="external-link-wapper">
            <app-container-sec6></app-container-sec6>
         </div>
      </div>
   </div>
   <!-- magazine and external links -->
   <div class="wrapper home-btm-slider">
      <div class="container common-container four_content gallery-container">
         <div class="gallery-area clearfix">
            <div class="gallery-heading">
               <h3>Photo Gallery</h3>
               <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About Photo Gallery"><span>View All</span></a>
            </div>
            <div class="fancybox">  
               <ul class="slider">
                  <li>
                     <a href="../assets/images/FooterImg/1.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/1.png" alt="photo gallery slide1" />
                     </a>
                  </li>
                  <li>
                     <a href="../assets/images/FooterImg/2.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/2.png" alt="photo gallery slide2" />
                     </a>
                  </li>
                  <li>
                     <a href="../assets/images/FooterImg/3.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/3.png" alt="photo gallery slide3" />
                     </a>
                  </li>
               </ul>
               <ul>
                  <li>
                     <a href="../assets/images/FooterImg/4.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/4.png" alt="photo gallery slide4" />
                     </a>
                  </li>
                  <li>
                     <a href="../assets/images/FooterImg/5.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/5.png" alt="photo gallery slide5" />
                     </a>
                  </li>
                  <li>
                     <a href="../assets/images/FooterImg/6.png" data-fancybox="images">
                     <img src="../assets/images/FooterImg/6.png" alt="photo gallery slide6" />
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="gallery-right">
            <div class="video-heading">
               <h3>Video Gallery</h3>
               <a class="bttn-more bttn-view" href="#" alt="View all" title="View All About video"><span>View All</span></a>
            </div>
            <div class="video-wrapper">
               <video src="" poster="../assets/theme/images/video01.jpg"></video>
            </div>
         </div>
      </div>
   </div>
   <div class="wrapper notice-slider">
      <div class="container common-container four_content">
         <div id="notice-slider" class="flexslider">
            <h3>Notice</h3>
            <ul class="slides">
               <li><a href="#">Description of Notice 1 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 2 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 3 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 4 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 5 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 6 goes here - Day - MM/DD/YYYY.</a></li>
               <li><a href="#">Description of Notice 7 goes here - Day - MM/DD/YYYY.</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="wrapper tab-section">
      <div class="container common-container four_content">
         <div class="page-tab clearfix">
            <div class="page-tab-res clearfix">
               <div id="parentHorizontalTab">
                  <ul class="resp-tabs-list hor_1">
                     <li><a href="#1">AWARDS</a></li>
                     <li><a href="#2">EVENTS</a></li>
                     <li><a href="#3">IMPORTANT DOCUMENT</a></li>
                     <li><a href="#4">RECRUITMENT</a></li>
                     <li><a href="#5">MISCELLANEOUS</a></li>
                  </ul>
                  <div class="resp-tabs-container hor_1">
                     <div class="clearfix" id="hor_1_tab_item-0">
                        <ul class="content_list">
                           <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Description of Award 1 goes here - YYYY-YY.</a></li>
                           <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Description of Award 2 goes here - YYYY-YY.</a></li>
                           <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Description of Award 3 goes here - YYYY-YY.  </a></li>
                        </ul>
                     </div>
                     <div class="clearfix" id="hor_1_tab_item-1">
                        <ul class="content_list">
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Event 1 goes here - Month-YYYY.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Event 2 goes here - Month-YYYY.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Event 3 goes here - Month-YYYY.</a></li>
                        </ul>
                     </div>
                     <div class="clearfix" id="hor_1_tab_item-2">
                        <ul class="content_list">
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Important Document 1 goes here.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Important Document 2 goes here.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Important Document 3 goes here.</a></li>
                        </ul>
                     </div>
                     <div class="clearfix" id="hor_1_tab_item-3">
                        <ul class="content_list">
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Recruitment 1  goes here  dd/yy/yyy - dd/mm/yyyy.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Recruitment 1  goes here  dd/yy/yyy - dd/mm/yyyy.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Recruitment 1  goes here  dd/yy/yyy - dd/mm/yyyy.</a></li>
                        </ul>
                     </div>
                     <div class="clearfix" id="hor_1_tab_item-4">
                        <ul class="content_list">
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Miscellaneous 1  goes here.</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Miscellaneous 1  goes here</a></li>
                           <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Description of Miscellaneous 1  goes here</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--/.body-wrapper-->
<!--/.banner-wrapper-->
<section class="wrapper carousel-wrapper">
   <div class="container common-container four_content carousel-container">
      <div id="flexCarousel" class="flexslider carousel">
         <ul class="slides">
            <li>
               <a target="_blank" href="http://digitalindia.gov.in/" title="Digital India, External Link that opens in a new window"><img src="../assets/images/carousel/digital-india.png" alt="Digital India"></a>
            </li>
            <li>
               <a target="_blank" href="http://www.makeinindia.com/" title="Make In India, External Link that opens in a new window"> <img src="../assets/images/carousel/makeinindia.png" alt="Make In India"></a>
            </li>
            <li>
               <a target="_blank" href="http://india.gov.in/" title="National Portal of India, External Link that opens in a new window"><img src="../assets/images/carousel/india-gov.png" alt="National Portal of India"></a>
            </li>
            <li>
               <a target="_blank" href="http://goidirectory.nic.in/" title="GOI Web Directory, External Link that opens in a new window"><img src="../assets/images/carousel/goidirectory.png" alt="GOI Web Directory"></a>
            </li>
            <li>
               <a target="_blank" href="https://data.gov.in/" title="Data portal, External Link that opens in a new window"><img src="../assets/images/carousel/data-gov.png" alt="Data portal"></a>
            </li>
            <li>
               <a target="_blank" href="https://mygov.in/" title="MyGov, External Link that opens in a new window"><img src="../assets/images/carousel/mygov.png" alt="MyGov Portal"></a>
            </li>
         </ul>
      </div>
   </div>
</section>
<!--/.carousel-wrapper-->
<footer class="wrapper footer-wrapper">
   <div class="footer-top-wrapper">
      <div class="container common-container four_content footer-top-container">
         <ul>
            <li><a href="#">Website Policies</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Conditions </a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Web Information Manager</a></li>
            <li><a href="#">Visitor Analytics</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Disclaimer</a></li>
         </ul>
      </div>
   </div>
   <div class="footer-bottom-wrapper">
      <div class="container common-container four_content footer-bottom-container">
         <div class="footer-content clearfix">
            <div class="copyright-content"> Website Content Managed by <strong>Ministry of Tourism, Government of India</strong> <span>Designed, Developed and Hosted by <a target="_blank" title="NIC, External Link that opens in a new window" href="http://www.nic.in/"><strong>National Informatics Centre</strong></a><strong> ( NIC )</strong></span> </div>
            <div class="logo-cmf">
               <a target="_blank" href="http://cmf.gov.in/" title="External link that opens in new tab"><img alt="cmg logo" src="../assets/images/cmf-logo.png"></a>
            </div>
         </div>
      </div>
   </div>
</footer>