.img1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  overflow: hidden;
}

.Front {
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: middle;
}

a:link {
  color: rgb(7, 7, 7);
  background-color: transparent;
  text-decoration: none;
}

.content {
  bottom: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* border-radius: 40px; */
  background-color: aliceblue;
}


#cardform {
  height: 30vh !important;
  margin-top: 20px;
  /* bottom: 10px; */
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}



@media only screen and (min-width:200px) and (max-width:780px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    overflow: visible;
  }

  #fontSize {
    width: 100%;
    overflow: scroll;
  }
  
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }
  th {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 20px;
    white-space: nowrap;
    font-weight: bold;
  }
  
  td:nth-of-type(1):before { content: "SL"; }
  td:nth-of-type(2):before { content: "Crop"; }
  td:nth-of-type(3):before { content: "Govt. Seed Price (Rs.)"; }
  td:nth-of-type(4):before { content: "NAC Seed Price (Rs.)"; }
  td:nth-of-type(5):before { content: "HIL Seed Price (Rs.)"; }
  td:nth-of-type(6):before { content: "Jaysankar Agro Seed Price (Rs.)"; }
}


th { background: #c5c5c5;}
table {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font: normal 12px arial; 
        width: 100%;
}
td, th { border: 1px solid #cdcdcd; padding: 2px;}

