<footer>
    <div class="footer-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Seed Portal Directorate of Agriculture<br /> and Food Production Odisha</h3>
                    <div class="footer-links">
                        <p> <a href="#">Terms & Conditions</a> / <a href="#">Privacy Policy</a> / <a
                                href="#">Sitemap</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-cright d-flex">
                        <img src="../../assets/images/logo/nic-logo.png" alt="">
                        <p>Designed and Developed By <a href="https://odisha.nic.in/" target="_blank"> NIC,
                                Odisha</a></p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="footer-smedia">
                        <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" title="Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
