<!-- <footer class="wrapper footer-wrapper">
   <div class="footer" style="background-color: black;">
  
         <div class="row" style="color: white;">
            <div class="col-md-3"><h4>SUCCESS STORY</h4></div>
            <div class="col-md-3"><h4>TENDER / EOI
               EXPRESSION OF INTEREST</h4></div>
            <div class="col-md-3"> <h4>IMPORTANT LINKS</h4></div>
            <div class="col-md-3" >
               <h4>Contact Us:</h4>
               <span>Shri Prem Chandra Chaudhary, IAS,
                  Director,</span>
               <span>Directorate of Agriculture and Food Production,</span>
               <p> E-Mail -  <span> diragri.or@nic.in</span></p>
              
               <p> Phone Number:<span>0674-2395532</span></p>
               <p> Sri Pramod Kumar Mohanty,
                  Joint Director (Farm and Seeds)</p>
               <p> Directorate of Agriculture and Food Production,
                  E-Mail-jdafarmseeds.dag@nic.in</p>
               <p>Phone Number: 0674-2392431</p>
            </div>
         </div>
    
   </div>
</footer> -->
<footer _ngcontent-qkk-c5="" class="wrapper footer-wrapper">
   <div _ngcontent-qkk-c5="" class="footer-top-wrapper">
      <div _ngcontent-qkk-c5="" class="container common-container four_content footer-top-container">
         <ul _ngcontent-qkk-c5="">
            <li _ngcontent-qkk-c5=""><a _ngcontent-qkk-c5="" routerlink="/Website-Policy"
                  href="#/Website-Policy">Website policies</a></li>
            <li _ngcontent-qkk-c5=""><a _ngcontent-qkk-c5="" routerlink="/Contact-us" href="#/Contact-us">Contact Us</a>
            </li>
         </ul>
      </div>
   </div>
   <div _ngcontent-qkk-c5="" class="footer-bottom-wrapper">
      <div _ngcontent-qkk-c5="" class="container common-container four_content footer-bottom-container">
         <div _ngcontent-qkk-c5="" class="footer-content clearfix">
            <div _ngcontent-qkk-c5="" class="copyright-content"> Website Content Managed by <strong
                  _ngcontent-qkk-c5="">Department of Agriculture &amp; Farmers' Empowerment Government of
                  Odisha</strong><span _ngcontent-qkk-c5="">Designed, Developed and Hosted by <a _ngcontent-qkk-c5=""
                     target="_blank" title="NIC, External Link that opens in a new window"
                     href="http://www.nic.in/"><strong _ngcontent-qkk-c5="">National Informatics
                        Centre</strong></a><strong _ngcontent-qkk-c5=""> ( NIC )</strong></span></div>
            <div _ngcontent-qkk-c5="" class="logo-cmf"><a _ngcontent-qkk-c5="" target="_blank" href="http://cmf.gov.in/"
                  title="External link that opens in new tab, cmf"><img _ngcontent-qkk-c5="" alt="cmf logo" src="../../../assets/images/niclogo.png" style="height: 33px;"></a>
            </div>
         </div>
      </div>
   </div>
</footer>