<div class="card">
    <div class="card-header">
        <h5>Farmer Info</h5>
        <!-- <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
    </div>
    <div class="card-block typography">
        <div class="row">
            <div class="col-sm-12 ">
                        <div class="row">
                            <div class="col-md-3">Farmer Id </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{Farmer_Id}}</div>    
                            <div class="col-md-3">Name </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{FarmerName}}</div>
                            <div class="col-md-3">Father Name </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{FatherName}}</div>
                            <div class="col-md-3">Category </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{Category}}</div>
                            <div class="col-md-3">Gender </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{Gender}}</div>
                            <div class="col-md-3">Mobile No </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">{{MobileNo}}</div>    
                        </div>
            </div>                                            
        </div>
    </div>
</div>




