<div class="page-header" style="height: 123px;">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Dealer Sale</h5>
                    <p class="m-b-0">Dealer/PACS selling to farmer</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/#/dealer">
                            <i class="fa fa-home"></i>
                            <!-- <i class="fa fa-home" ></i> -->
                            <!-- <i class="fa fa-home" _ngcontent-mec-c106=""></i> -->
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/dealersale">Dealer Sale</a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <br>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges on button card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Enter Farmer ID ,Financial Year & Season</h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="form-group form-primary form-static-label col-md-3">
                                    <label class="col-form-label">District <span class="text-danger">*</span>:-</label>
                                    <div class="input-group" style="margin-top: 5px;">
                                        <input type="text" class="form-control" [(ngModel)]="selectedDistName.dist_name"
                                            [value]="selectedDistName.dist_name" disabled style="font-weight: bolder;">

                                    </div>
                                </div>


                                <div class="form-group form-primary form-static-label col-md-3">
                                    <label class="col-form-label">Financial Year <span
                                            class="text-danger">*</span>:-</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedFinancialYear"
                                        [value]="selectedFinancialYear" disabled style="font-weight: bolder;">
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3">
                                    <label class="col-form-label">Seasons <span class="text-danger">*</span>:-</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedSeasons.SEASSION_NAME"
                                        [value]="selectedSeasons.SEASSION_NAME" disabled style="font-weight: bolder;">
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3">
                                    <label class="col-form-label">Godown Name <span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedGodown" [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Select Godown Name</option>
                                        <option *ngFor="let x of getGodownLIst" [ngValue]="x">{{x.Godown_Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-primary form-static-label col-md-3">
                                    <label class="col-form-label">Received From <span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedReceivedFrom" (change)="RecvedFromChanges()"
                                        [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Select Received From</option>
                                        <option *ngFor="let x of getAgencyList" [ngValue]="x">{{x.AgenciesName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="outsideagency">
                                    <label class="col-form-label">Outside Agencies <span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedOutsideAgencies" [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Select Outside Agencies</option>
                                        <option *ngFor="let x of getOutSideAgencyList" [ngValue]="x">
                                            {{x.Receive_Unitname}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="outsideagency">
                                    <label class="col-form-label">Way Bill Number <span
                                            class="text-danger">*</span>:-</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedWayBillNumber"
                                        placeholder="Enter Way Bill Number" [disabled]="proceedButtonClick == true">
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="Scheme">
                                    <label class="col-form-label">Scheme<span class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedScheme" (change)="agencyNameReload()"
                                        [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Scheme</option>
                                        <option Value="BGREI">BGREI</option>
                                        <option Value="ICRISAT">ICRISAT</option>
                                        <option Value="NFSM">NFSM</option>
                                        <option Value="NMOOP-DAandFP">NMOOP-DAandFP</option>
                                        <option Value="NSC">NSC</option>
                                        <option Value="RKVY">RKVY</option>
                                    </select>
                                </div>

                                <div class="form-group form-primary form-static-label col-md-3"
                                    *ngIf="departmentalFarm">
                                    <label class="col-form-label">Agency Name<span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedAgencyName" [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Outside Agencies</option>
                                        <option *ngFor="let x of getDepartmentalFarmAgencyList" [ngValue]="x">
                                            {{x.AgName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="mouAgencyName">
                                    <label class="col-form-label">Mou Agency Name<span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedMouAgencyName" [disabled]="proceedButtonClick == true">
                                        <option value="" selected disabled>Mou Agency</option>
                                        <option *ngFor="let x of getMouFarmAgencyList" [ngValue]="x">{{x.AgName}}
                                        </option>
                                    </select>
                                </div>


                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="coomonDiv">
                                    <label class="col-form-label">Date <span class="text-danger">*</span>:-</label>
                                    <input type="date" class="form-control" [(ngModel)]="selecteddate"
                                        [disabled]="proceedButtonClick == true">
                                </div>
                                <div class="form-group form-primary form-static-label col-md-3" *ngIf="coomonDiv">
                                    <label class="col-form-label">Challan Number <span
                                            class="text-danger">*</span>:-</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedChallanNumber"
                                        [disabled]="proceedButtonClick == true">
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="form-group form-primary form-static-label col-md-1">
                                    <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                                        style="float: left;" (click)="cancel();" *ngIf="!showBuuton">Cancel</button>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-10"> </div>
                                <div class="form-group form-primary form-static-label col-md-1">

                                    <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                                        (click)="proceed();" *ngIf="showBuuton">Proceed</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="cropData">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges on button card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Enter Farmer ID ,Financial Year & Season</h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="form-group form-primary form-static-label col-md-4">
                                    <label class="col-form-label">Crop Catagory <span
                                            class="text-danger">*</span>:-</label>
                                    <div class="input-group">
                                        <select name="select" class="form-control"
                                            style="border: 1px solid #ccc!important;" [(ngModel)]="selectedCropCatagory"
                                            (change)="FillCropByCategoryId();FillCropVariety();">
                                            <option value="" selected disabled>Select Crop Catagory</option>
                                            <option *ngFor="let x of getAllCropCategory" [ngValue]="x">
                                                {{x.Category_Name}}
                                            </option>
                                        </select>

                                    </div>
                                </div>


                                <div class="form-group form-primary form-static-label col-md-4">
                                    <label class="col-form-label">Crop Name <span class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedCrop" (change)="FillCropVariety();">
                                        <option value="" selected disabled>Select Crop Name</option>
                                        <option *ngFor="let x of getAllCrop" [ngValue]="x">{{x.Crop_Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-4">
                                    <label class="col-form-label">Class <span class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" style="border: 1px solid #ccc!important;"
                                        [(ngModel)]="selectedClass" (change)="FillCropVariety();">
                                        <option value="" selected disabled>Select Class Name</option>
                                        <option Value="Certified">Certified</option>
                                        <option Value="Foundation">Foundation</option>
                                        <option Value="TL">TL</option>
                                        <option Value="Breeder">Breeder</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="varietyData">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges on button card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Available Stock Details</h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="table-responsive" *ngIf="getAllVarietyList.length == 0"
                                    style="text-align: center;">
                                    <h3 style="color: red;"><b>No record found</b> </h3>
                                </div>
                                <div class="table-responsive" *ngIf="getAllVarietyList.length > 0">
                                    <table class="table table-hover" style="text-align: center;">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th></th>
                                                <th>#</th>
                                                <th>Sl No.</th>
                                                <th>Variety</th>
                                                <th>Lot Number</th>
                                                <th>Bag size(Kg)</th>
                                                <th
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='02' || selectedReceivedFrom.AgenciesID =='04'">
                                                    Testing Date</th>
                                                <th
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='02' || selectedReceivedFrom.AgenciesID =='04'">
                                                    Expiry Date</th>
                                                <th
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='05' || selectedReceivedFrom.AgenciesID =='06' || selectedReceivedFrom.AgenciesID =='09' || selectedReceivedFrom.AgenciesID =='10'">
                                                    Ossopca Issue Bags</th>
                                                <th
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='05' || selectedReceivedFrom.AgenciesID =='06' || selectedReceivedFrom.AgenciesID =='09' || selectedReceivedFrom.AgenciesID =='10'">
                                                    Avl.No.of Bags</th>


                                                <th>Recv.No.of Bags</th>
                                                <th>Quantity (in qtl.)</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let x of getAllVarietyList ; let i = index"
                                                style="text-align: center;">
                                                <th></th>
                                                <th style="text-align: right;"> <input class="form-check-input"
                                                        type="checkbox" [ngModel]="selectedIndex1 === i"
                                                        (change)="changeSelection1($event, i,x)" />
                                                </th>
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{x.Variety_Name}}</td>
                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='02' || selectedReceivedFrom.AgenciesID =='04'">
                                                    <input type="text" class="form-control" [(ngModel)]="x.enteredLotno"
                                                        placeholder="Enter Lot Number" [disabled]="x.ischeacked">
                                                </td>
                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='05' || selectedReceivedFrom.AgenciesID =='06' || selectedReceivedFrom.AgenciesID =='09' || selectedReceivedFrom.AgenciesID =='10'">
                                                    <select name="select" class="form-control"
                                                        style="border: 1px solid #ccc!important;width: 166px"
                                                        [(ngModel)]="x.enteredLotno" [disabled]="x.ischeacked"
                                                        (change)="FillRecvBagsByLotByDepartmental(x,i)">
                                                        <option value="" selected disabled>Lot No</option>
                                                        <option *ngFor="let y of x.getAllLotNoList" [ngValue]="y">
                                                            {{y.LotNo}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td><select name="select" class="form-control"
                                                        style="border: 1px solid #ccc!important;"
                                                        [(ngModel)]="x.enteredBagsize" [disabled]="x.ischeacked"
                                                        (change)="changeQuantity(x.enteredBagsize,x.enteredRecvNoOfBags,i,x.enteredAvlNoOfBags);">
                                                        <option value="" selected disabled>Bag Size</option>
                                                        <option value="2">2 Kg</option>
                                                        <option value="4">4 Kg</option>
                                                        <option value="8">8 Kg</option>
                                                        <option value="10">10 Kg</option>
                                                        <option value="20">20 Kg</option>
                                                        <option value="25">25 Kg</option>
                                                        <option value="30">30 Kg</option>
                                                        <option value="40">40 Kg</option>
                                                    </select></td>
                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='02' || selectedReceivedFrom.AgenciesID =='04'">
                                                    <input type="date" class="form-control"
                                                        [(ngModel)]="x.enteredTestingDate" [disabled]="x.ischeacked"
                                                        style="width: 150px"
                                                        (change)="expiryDateCalculate(x.enteredTestingDate,i);">
                                                </td>
                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='02' || selectedReceivedFrom.AgenciesID =='04'">
                                                    {{x.enteredExpiryDate | date:'dd-MM-yyyy'}}</td>

                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='05' || selectedReceivedFrom.AgenciesID =='06' || selectedReceivedFrom.AgenciesID =='09' || selectedReceivedFrom.AgenciesID =='10'">
                                                    {{x.enteredOssopcaIssueBags}}
                                                </td>
                                                <td
                                                    *ngIf="selectedReceivedFrom.AgenciesID =='05' || selectedReceivedFrom.AgenciesID =='06' || selectedReceivedFrom.AgenciesID =='09' || selectedReceivedFrom.AgenciesID =='10'">
                                                    {{x.enteredAvlNoOfBags}}
                                                </td>
                                                <td> <input type="text" class="form-control" id="targetNormal[{{i}}]"
                                                        style="width: 100px" name="targetNormal[{{i}}]"
                                                        [(ngModel)]="x.enteredRecvNoOfBags" [disabled]="x.ischeacked"
                                                        (change)="changeQuantity(x.enteredBagsize,x.enteredRecvNoOfBags,i,x.enteredAvlNoOfBags);">
                                                </td>
                                                <td> {{x.enteredQuqnity||0}} </td>

                                                <td> <button type="button" [disabled]="x.ischeacked"
                                                        class="btn btn-primary btn-sm waves-effect waves-light"
                                                        (click)="addinaList(i,x.Variety_Name,x.enteredLotno,x.enteredBagsize,x.enteredTestingDate,x.enteredExpiryDate,x.enteredOssopcaIssueBags,x.enteredAvlNoOfBags,x.enteredRecvNoOfBags,x.enteredQuqnity,x)"><i
                                                            class="fa fa-plus"></i></button>
                                                </td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" *ngIf="allDatainalist.length  > 0">
                        <div class="card-header">
                            <h5>Add Details</h5>
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>Variety</th>
                                            <th>Lot No</th>
                                            <th>Bag Size (in Kg.)</th>
                                            <th>No. of Bags</th>
                                            <th>Quantity (in qtl.)</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let y of allDatainalist ; let i = index">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{y.Variety_Name}}</td>
                                            <td>{{y.enteredLotno}}</td>
                                            <td>{{y.enteredBagsize}}</td>
                                            <td>{{y.enteredRecvNoOfBags}}</td>
                                            <td>{{y.enteredQuqnity}}</td>
                                            <td><button type="button"
                                                    class="btn btn-danger btn-sm waves-effect waves-light"
                                                    (click)="removeinaList(y)"><i class="fa fa-trash"
                                                        aria-hidden="true"></i></button></td>

                                        </tr>


                                    </tbody>
                                    <!-- <tfoot *ngIf="sumQunitalinQtl != 0">
                                <th colspan="6">Total</th>
                                <th>{{sumTotalNoOfBags}}</th>
                                <th>{{sumQunitalinQtl}}</th>
                                <th></th>
                              </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="allDatainalist.length  > 0" style="margin-bottom: 10px;">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                          <!-- <button type="button" class="btn btn-info btn-lg" >Submit</button> -->
                          <button class="btn btn-primary waves-effect waves-light" (click)="btn_Submit_Click();">Submit</button>
                        </div>
                        <div class="col-md-5">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3c8aff" type="line-scale-pulse-out-rapid"
[fullScreen]="true">
<h2 style="color: white"> Loading... </h2>
</ngx-spinner>