<div class="main-wrapper">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <section class="login-block">
                        <!-- Container-fluid starts -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Authentication card start -->

                                    <form class="md-float-material form-material" [formGroup]="loginForm" #loginFormID
                                        (ngSubmit)="signIn()" novalidate autocomplete="off" role="form">
                                        <div class="text-center">
                                            <h1>Seeds Portal</h1>
                                            <!-- <img src="assets/images/logo.png" alt="logo.png"> -->
                                        </div>
                                        <div class="auth-box card">
                                            <div class="card-block">
                                                <div class="row m-b-20">
                                                    <div class="col-md-12">
                                                        <h3 class="text-center">Log In</h3>
                                                    </div>
                                                </div>
                                                <div class="form-group form-primary">
                                                    <input class="form-control form-control-lg" type="text" id="userID"
                                                        formControlName="userID" autocomplete="off"
                                                        onSelected='return false' onpaste='return false'
                                                        onCopy='return false' onCut='return false' onDrag='return false'
                                                        onDrop='return false'>
                                                       <span class="form-bar"></span>
                                                    <label class="float-label">User Id</label>
                                                </div>
                                                <div *ngIf="userID!.invalid && (userID!.dirty || userID!.touched)" class="alert alert-danger"
                                                style="margin-top: -15px; padding: 5px;">
                                                <div *ngIf="userID!.errors!.required">
                                                  User ID is required.
                                                </div>
                                                <div *ngIf="userID!.errors!.pattern">
                                                  Please enter a valid User ID.
                                                </div>
                                                <div *ngIf="userID!.errors!.minlength">
                                                  User ID must be at least 2 characters long.
                                                </div>
                                                <div *ngIf="userID!.errors!.maxlength">
                                                  User ID must be at most 50 characters long.
                                                </div>
                                              </div>
                                                <div class="form-group form-primary">
                                                    <input class="form-control form-control-lg" type="password" id="password" formControlName="password" autocomplete="off" onSelected='return false' onpaste ='return false' onCopy ='return false' onCut ='return false'
                                                    onDrag ='return false' onDrop ='return false'>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Password</label>
                                                </div>
                                                <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger"
                                                style="margin-top: -15px; padding: 5px;">
                                                <div *ngIf="password!.errors!.required">
                                                  Password is required.
                                                </div>
                                                <div *ngIf="password!.errors!.pattern">
                                                  Please enter a valid Password. Password must have minimum eight characters, maximum fifty characters, at
                                                  least one uppercase letter, one lowercase letter, one number and one special character (# ? ! @ $ % ^ & * .
                                                  -).
                                                </div>
                                              </div>
                                                <div class="row m-t-25 text-left">
                                                    <div class="col-12">
                                                        <div class="checkbox-fade fade-in-primary d-">
                                                            <!-- <label>
                                                            <input type="checkbox" value="">
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                            <span class="text-inverse">Remember me</span>
                                                        </label> -->
                                                            <app-captcha [config]="captchaConfig" #captchaFormID
                                                                (generatedSalt)="generatedSalt($event)"
                                                                (enteredCaptcha)="enteredCaptcha($event)"
                                                                (keypress)="keyPress($event)"></app-captcha>
                                                        </div>
                                                        <div class="forgot-phone text-right f-right">
                                                            <!-- <a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t-30">
                                                    <div class="col-md-12">
                                                        <button type="submit"
                                                            class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20"
                                                            style="margin-bottom: -0px;">LogIn</button>
                                                            <div *ngIf="error !== null && error !== undefined && error !== ''" class="alert alert-danger mt-3 mb-0">
                                                                {{error}}</div>
                                                        <div class="col-md-12" style="padding-left: 40%;">
                                                            <label class="text-inverse" style="text-align: center;"><a
                                                                    href="index.html"><b>Back to Home</b></a></label>
                                                        </div>



                                                    </div>
                                                </div>
                                                <!-- <hr /> -->
                                                <!-- <div class="row">
                                                    <div class="col-md-10">
                                                        <p class="text-inverse text-left m-b-0">Thank you.</p>
                                                        <p class="text-inverse text-left"><a href="index.html"><b>Back to Home</b></a></p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/auth/Logo-small-bottom.png"
                                                            alt="small-logo.png">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end of form -->
                                </div>
                                <!-- end of col-sm-12 -->
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of container-fluid -->
                    </section>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="col-12">
        </div>

    </div>

</div>
<br> <br> <br><br>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(".preloader").fadeOut();
</script>
<!-- <div class="footer"> -->
<app-footer></app-footer>
<!-- </div> -->