<section>

    <div class="form-box">

        <div class="form-value">

            <form  [formGroup]="loginForm" #loginFormID (ngSubmit)="signIn()" novalidate
            autocomplete="off" role="form">
                <div class="center">
                    <img class="national_emblem" src="assets/images/seedlogo.png" alt="national emblem">
                </div>

                <h2>Login</h2>
                
                <div class="inputbox">
                    <!-- <input type="text" required> -->
                    <input  type="text"  name="userID"
                    autocomplete="off" id="email" formControlName="userID" required>
                    <label>User Name</label>

                </div>
                <div *ngIf="userID!.invalid && (userID!.dirty || userID!.touched)" class="alert alert-danger">
                    <div *ngIf="userID!.errors!.required">
                        UserID is required.
                    </div>
                    <div *ngIf="userID!.errors!.pattern">
                        Please enter a valid userID
                    </div>
                </div>

             
                <div class="inputbox">
                    <input type="password"  id="password" name="pass" 
                    autocomplete="off" formControlName="password" required>

                    <label>Password</label>

                </div>
                <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger">
                    <div *ngIf="password!.errors!.required">
                        Password is required.
                    </div>
                    <div *ngIf="password!.errors!.pattern">
                        Please enter a valid Password. Password must have minimum eight characters, maximum fifty
                        characters, at
                        least one uppercase letter, one lowercase letter, one number and one special character (# ? ! @
                        $ %
                        ^ & * .
                        -).
                    </div>
                </div>
               
                <div class="forget">

                    <label><input type="checkbox" id="show-password" (click)="showPassword()">Show Password</label>

                    <!-- <a href="#">Forgot Password</a> -->

                </div>
                <div class="inputbox">
                    <app-captcha [config]="captchaConfig" #captchaFormID (generatedSalt)="generatedSalt($event)"
                    (enteredCaptcha)="enteredCaptcha($event)" (keypress)="keyPress($event)"></app-captcha>
                   
                </div>

                <button>Log In</button>

                <!-- <div class="register">

                    <p>Don't have an account? <a href="#">Sign Up</a></p>

                </div> -->

            </form>

        </div>

    </div>

</section>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3c8aff" type="line-scale-pulse-out-rapid"
    [fullScreen]="true">
    <h2 style="color: white"> Loading... </h2>
  </ngx-spinner>