<!-- <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form" [formGroup]="loginForm" #loginFormID (ngSubmit)="signIn()" novalidate
                autocomplete="off" role="form">
                <div class="center">
                    <img class="national_emblem" src="../../assets/images/seedlogo.png" alt="national emblem">
                </div>
                <span class="login100-form-title p-b-33">
                    Login
                </span>

                <div class="wrap-input100">
                    <label for="email">User Name:</label>
                    <input class="input100 form-control" type="text" id="email" name="email" placeholder="Username"
                        autocomplete="off" id="userID" formControlName="userID">

                </div>
                <div *ngIf="userID!.invalid && (userID!.dirty || userID!.touched)" class="alert alert-danger">
                    <div *ngIf="userID!.errors!.required">
                        User ID is required.
                    </div>
                    <div *ngIf="userID!.errors!.pattern">
                        Please enter a valid User ID.
                    </div>
                    <div *ngIf="userID!.errors!.minlength">
                        User ID must be at least 2 characters long.
                    </div>
                    <div *ngIf="userID!.errors!.maxlength">
                        User ID must be at most 50 characters long.
                    </div>
                </div>

                <div class="wrap-input100 rs1">
                    <label for="password">Password:</label>
                    <input class="input100" type="password" id="password" name="pass" placeholder="Enter password"
                        autocomplete="off" formControlName="password">
                </div>
                <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger">
                    <div *ngIf="password!.errors!.required">
                        Password is required.
                    </div>
                    <div *ngIf="password!.errors!.pattern">
                        Please enter a valid Password. Password must have minimum eight characters, maximum fifty
                        characters, at
                        least one uppercase letter, one lowercase letter, one number and one special character (# ? ! @
                        $ %
                        ^ & * .
                        -).
                    </div>
                </div>
                <br>
                <div class="show-pass txt1">

                    <input type="checkbox" id="show-password" (click)="showPassword()"> &nbsp;
                    <label for="show" style="color: black; font-weight: 400;">Show Password:</label>
                </div>

                    <div class="container-fluid">
                        <app-captcha [config]="captchaConfig" #captchaFormID (generatedSalt)="generatedSalt($event)"
                            (enteredCaptcha)="enteredCaptcha($event)" (keypress)="keyPress($event)"></app-captcha>
                
                </div>
                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn">Sign in</button>
                </div>

            </form>
        </div>
    </div>
</div> -->




<section>

    <div class="form-box">

        <div class="form-value">

            <form  [formGroup]="loginForm" #loginFormID (ngSubmit)="signIn()" novalidate
            autocomplete="off" role="form">
                <div class="center">
                    <img class="national_emblem" src="../../assets/images/seedlogo.png" alt="national emblem">
                </div>

                <h2>Login</h2>
                
                <div class="inputbox">
                    <!-- <input type="text" required> -->
                    <input  type="text"  name="userID"
                    autocomplete="off" id="email" formControlName="userID" required>
                    <label>User Name</label>

                </div>
                <div *ngIf="userID!.invalid && (userID!.dirty || userID!.touched)" class="alert alert-danger">
                    <div *ngIf="userID!.errors!.required">
                        UserID is required.
                    </div>
                    <div *ngIf="userID!.errors!.pattern">
                        Please enter a valid userID
                    </div>
                </div>

             
                <div class="inputbox">
                    <input type="password"  id="password" name="pass" 
                    autocomplete="off" formControlName="password" required>

                    <label>Password</label>

                </div>
                <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger">
                    <div *ngIf="password!.errors!.required">
                        Password is required.
                    </div>
                    <div *ngIf="password!.errors!.pattern">
                        Please enter a valid Password. Password must have minimum eight characters, maximum fifty
                        characters, at
                        least one uppercase letter, one lowercase letter, one number and one special character (# ? ! @
                        $ %
                        ^ & * .
                        -).
                    </div>
                </div>
               
                <div class="forget">

                    <label><input type="checkbox" id="show-password" (click)="showPassword()">Show Password</label>

                    <!-- <a href="#">Forgot Password</a> -->

                </div>
                <div class="inputbox">
                    <app-captcha [config]="captchaConfig" #captchaFormID (generatedSalt)="generatedSalt($event)"
                    (enteredCaptcha)="enteredCaptcha($event)" (keypress)="keyPress($event)"></app-captcha>
                   
                </div>

                <button>Log In</button>

                <!-- <div class="register">

                    <p>Don't have an account? <a href="#">Sign Up</a></p>

                </div> -->

            </form>

        </div>

    </div>

</section>