<footer _ngcontent-qkk-c5="" class="wrapper footer-wrapper">
    <div _ngcontent-qkk-c5="" class="footer-top-wrapper">
       <div _ngcontent-qkk-c5="" class="container common-container four_content footer-top-container">
          <ul _ngcontent-qkk-c5="">
            <li _ngcontent-qkk-c5=""><a _ngcontent-qkk-c5="" routerlink="/Website-Policy"
               href="/odiawebsitepolicy">ୱେବ୍‌ସାଇଟ୍ ନୀତି</a></li>
         <li _ngcontent-qkk-c5=""><a routerLink="/odiacontactUs">ଆମ ସହିତ ଯୋଗାଯୋଗର ଠିକଣା :</a>
         </li>
          </ul>
       </div>
    </div>
    <div _ngcontent-qkk-c5="" class="footer-bottom-wrapper">
       <div _ngcontent-qkk-c5="" class="container common-container four_content footer-bottom-container">
          <div _ngcontent-qkk-c5="" class="footer-content clearfix">
             <div _ngcontent-qkk-c5="" class="copyright-content"> Website Content Managed by <strong
                   _ngcontent-qkk-c5="">Directorate of Agriculture  &amp; Food Production Odisha</strong><span _ngcontent-qkk-c5="">Designed, Developed and Hosted by <a _ngcontent-qkk-c5=""
                      target="_blank" title="NIC, External Link that opens in a new window"
                      href="http://www.nic.in/"><strong _ngcontent-qkk-c5="">National Informatics
                         Centre</strong></a><strong _ngcontent-qkk-c5=""> ( NIC ),Odisha</strong></span></div>
             <div _ngcontent-qkk-c5="" class="logo-cmf"><a _ngcontent-qkk-c5="" target="_blank" href="http://cmf.gov.in/"
                   title="External link that opens in new tab, cmf"><img _ngcontent-qkk-c5="" alt="cmf logo" src="../../../assets/images/niclogo.png" style="height: 33px;"></a>
             </div>
          </div>
       </div>
    </div>
 </footer>