<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12" style="margin-top: 9px;">
                <label style="font-size: 18px; font-weight: bold;"> seed subsidy for
                    groundnut cluster
                    demonstration under state plan - Kharif 2022</label>
            </div>

        </div>
    </div>
</div>
<div class="page-body">
    <br>
    <div class="container-fluid">
        <div class="container-fluid">
<div class="card">
    <div class="card-header">
        <h5>Seed subsidy for groundnut cluster demonstration under state plan - Kharif 2022
        </h5>
        <!-- <span>use class <code>table-hover</code> inside table element</span> -->
        
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Slno.</th>
                        <th>Farmer Id</th>
                        <th>Bag Size</th>
                        <th>No of Bags</th>
                        <th>Quintal</th>
                        <th>Source</th>
                        <th>Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let x of SeedsubsidyforgroundnutDetails; let i = index">

                        <td>{{ i + 1 }}</td>
                        <td>{{x.FarmerId}}</td>
                        <td>{{x.BagSize}}</td>
                        <td>{{x.noOfBags}}</td>
                        <td>{{x.Quintal}}</td>
                        <td>{{x.Source}}</td>
                        <td>{{x.Amount}}</td>

                    </tr> -->
                    <tr *ngFor="let x of SeedsubsidyforgroundnutDetails; let i = index">
                         <td>{{ i + 1 }}</td>
                         <!-- <td>{{x.name}}</td> -->
                        <td>{{x.FarmerId}}</td>
                        <td>{{x.BagSize}}</td>
                        <td>{{x.noOfBags}}</td>
                        <td>{{x.Quintal}}</td>
                        <td *ngIf="x.Source =='3980'">NSC</td>
                        <td *ngIf="x.Source =='3381'">OSSC</td>
                        <td>{{x.Amount}}</td>
            
                      </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</div>
</div>