<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-25">Transaction Details.</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item">
                        <a href="/home"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/farmersale">Farmer Sale</a>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="page-body">
    <br>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges on button card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Enter Transaction ID</h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class=" col-md-2">

                                </div>
                                <div class=" col-md-3" style="text-align: right;">
                                    <label class="col-form-label"><b>Enter Transaction ID</b> <span
                                            class="text-danger">*</span>:-</label>
                                </div>
                                <div class="col-md-4" >
                                    <div class="input-group" >
                                        <!-- <span class="input-group-prepend" id="name"><label class="input-group-text"></label></span> -->
                                        <input class="input-group-text" id="transactionId" type="text" min="0" oninput="validity.valid||(value='');"
                                        [(ngModel)]="transactionId"
                                            placeholder="Enter Transaction ID" title="Enter your Transaction ID"
                                            data-toggle="tooltip" style="text-align: left !important;">&nbsp;

                                    </div>
                                </div>
                                <div class=" col-md-2">
                                    <!-- <button (click)="getFarmerPerDtl()"
                                        class="btn btn-primary waves-effect waves-light"><i
                                                    class="icofont icofont-search"></i>Search</button> -->
                                    <button type="button" (click)="getTranscationDtl()"
                                        class="btn btn-primary btn-md waves-effect waves-light"><i
                                            class="icofont icofont-search"></i>Search</button>


                                </div>
                                <div class=" col-md-3">
                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                    </div>
                    <!-- Badges on button card end -->
                </div>
            </div>
            <div class="card" *ngIf="showdetails">
                <div class="card-header">
                    <h5>Transaction  Details</h5>
                </div>
                <div class="card-block table-border-style" style="text-align: center;">
                    <label for="" *ngIf="transcationDtl.length == 0" style="color: red; "><b>No Record Found  !!!!!!!!!</b></label>
                    <table class="table table-bordered"   *ngIf="transcationDtl.length > 0">
                        <thead>
                          <tr>
                            <th>Sl No.</th>
                            <th>Transaction_ID</th>
                            <th>License No.</th>
                            <th>Farmer ID</th>
                            <th>Crop Vareity</th>
                            <th>Lot No.</th>
                            <th>No.Of.Bags</th>
                            <th>Tot Qtl</th>
                            <th>Sub Qtl</th>
                            <th>Transaction Date</th>
                            <th>Payment Status</th>                                    
                            <!-- <th>Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let y of transcationDtl ; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{y.DTL_TRANSACTION_ID}}</td>
                                <td>{{y.LIC_NO}}</td>
                                <td>{{y.FARMER_ID}}</td>
                                <td>{{y.Variety_Name}}</td>
                                <td>{{y.LOT_NUMBER}}</td>
                                <td>{{y.NO_OF_BAGS}}</td>
                                <td>{{y.TOT_QTL}}</td>
                                <td>{{y.ADMISSIBLE_SUBSIDY}}</td>
                                <td>{{y.UPDATED_ON ||'date:dd-MM-yy'}}</td>
                                <td>{{y.XML_STATUS}}</td>
                                <!-- <td><button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                                        (click)="deleteTranscationDtl(y.DTL_TRANSACTION_ID)"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button></td> -->

                            </tr>
                        </tbody>
                        <br>
                        <tfoot style="text-align: center;">
                            <div class="row">
                                <div class=" col-md-5">
                                </div>
                                <div class=" col-md-2">
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                                    (click)="deleteTranscationDtl(transcationDtl[0])">Delete</button>
                                </div>
                                <div class=" col-md-5">
                                </div>
                            </div>
                           
                        </tfoot>
                      </table>
                    <!-- <div class="table-responsive">
                        <table class="table table-hover" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Transaction_ID</th>
                                    <th>License No.</th>
                                    <th>Farmer ID</th>
                                    <th>Crop Vareity</th>
                                    <th>Lot No.</th>
                                    <th>No.Of.Bags</th>
                                    <th>Tot Qtl</th>
                                    <th>Sub Qtl</th>
                                    <th>Transaction Date</th>
                                    <th>Payment Status</th>                                    
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let y of transcationDtl ; let i = index">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>{{y.DTL_TRANSACTION_ID}}</td>
                                    <td>{{y.LIC_NO}}</td>
                                    <td>{{y.FARMER_ID}}</td>
                                    <td>{{y.Variety_Name}}</td>
                                    <td>{{y.LOT_NUMBER}}</td>
                                    <td>{{y.NO_OF_BAGS}}</td>
                                    <td>{{y.TOT_QTL}}</td>
                                    <td>{{y.ADMISSIBLE_SUBSIDY}}</td>
                                    <td>{{y.UPDATED_ON ||'date:dd-MM-yy'}}</td>
                                    <td>{{y.XML_STATUS}}</td>
                                    <td><button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                                            (click)="deleteTranscationDtl(y.DTL_TRANSACTION_ID)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button></td>

                                </tr>
                              

                            </tbody>
                           
                        </table>
                    </div> -->
                </div>
            </div>
            <br>
            <br>
        </div>
        </div>
</div>
