
<!-- <div class="page-header" style="height: 123px;">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Farmer Sale</h5>
                    <p class="m-b-0">Dealer/PACS selling to farmer</p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <ul class="breadcrumb">
                  
                    <li class="breadcrumb-item"  style="font-size: 18px;">

                        <img *ngIf="subsidyModeToERUPI== 1" class="color-filter"  src='.../../assets/erupi/erupilogo.png' alt="https://qrfy.com/my-qr-codes" style="height: 36px; background-color: whitesmoke;"><br>
                      
                        <img *ngIf="subsidyModeToERUPI== 0" class="color-filter"  src='.../../assets/images/pfms.png' alt="https://qrfy.com/my-qr-codes" style="height: 81px;margin-top: -24px;"><br>
                    </li>
                   

                </ul>
<br>
<br>

                <ul class="breadcrumb">
                  
                    <li class="breadcrumb-item">
                        <a href="/farmersale"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/#/farmersale/farmersale">Farmer Sale</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="subsidyModeToERUPI== 1">
    <app-erupifarmersale></app-erupifarmersale>

</div>
<div *ngIf="subsidyModeToERUPI== 0">
    <app-pfmsfarmersale></app-pfmsfarmersale>

</div>
