/* * {
    box-sizing: border-box;
  }
  :root {
    --bg: #1c1717;
  }
  body {
    min-height: 100vh;
    background: var(--bg);
    display: grid;
    place-items: center;
  }
  @property --a {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
  }
  @property --h {
    initial-value: 0;
    inherits: false;
    syntax: '<number>';
  }
  .loader {
    padding: 0.4rem 4rem;
    font-family: monospace;
    font-weight: bold;
    color: #448aff;
    border-style: solid;
    border-width: -1vmin;
    font-size: 2rem;
    text-align: center;
    --charge: hsl(var(--h, 0), 80%, 50%);
    -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
       border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
    -webkit-animation: load 2s infinite ease-in-out;
            animation: load 2s infinite ease-in-out;
  }
  @-webkit-keyframes load {
    0%, 10% {
      --a: 0deg;
      --h: 0;
    }
    100% {
      --a: 360deg;
      --h: 100;
    }
  }
  @keyframes load {
    0%, 10% {
      --a: 0deg;
      --h: 0;
    }
    100% {
      --a: 360deg;
      --h: 100;
    }
  }
  .loading {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-transform:uppercase;
    
    width:150px;
    text-align:center;
    line-height:50px;
    
    position:absolute;
    left:20%;right:0;top:64%;
    margin:auto;
    transform:translateY(-50%);
  }
   */

   @media print {
    @page {
        size: A4 portrait;
        max-height: 100%;
        max-width: 100%;
        zoom: 0.1%;
        margin: 0;
        size: auto;
    }

    body {
        width: 100%;
        height: 100%;
        transform: scale(0.9);
    }
}



/* html,body{
  display: grid;
  height: 70%;
  place-items: center;
  background: #0069d9;
} */
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2% 10%;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

.disabled-button {
  background-color: gray; /* Change this to the desired color */
  color: white; /* Change this to the desired text color */
  border-color: gray;
}