
<!--/#skipCont--> 
<section id="fontSize" class="wrapper body-wrapper ">
   <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#"> &nbsp; Policies and Guidelines</a></li>
            </ul>
         </div>
      </div>
      <section id="page-head" class="wrapper headings-wrapper">
         <div class="container common-container four_content ">
            <h2>Website Policies</h2>
            <hr />
         </div>
      </section>
      <!--/#page-head-->

      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="container common-container four_content ">
            <p> This is the Official website of Directorate of Agriculture and food production odisha, designed, developed and
               hosted by NIC.</p>

            <p> The site has been developed to provide information to the general public. An attempt has been made
               through this site to provide reliable, comprehensive, accurate information about Seed and its various
               Entities. Hyperlinks at various places have been provided to other Indian Government Portals / Websites.
            </p>

            <p> The content in this site is the result of a collaborative effort of various Groups and Divisions of the
               Department. It is our endeavour to continue the enhancement and enrichment of this site in terms of
               content coverage, design and technology on a regular basis. </p>

         </div>
      </section>

      <!-- <section id="list" class="wrapper list-wrapper">
         <div class="container common-container four_content ">
            <div class="list list-bullet">
               <ul class="clearfix">
                  <li><a routerLink="/Copyright-Policy" style="text-decoration: underline;"> Copyright Policy </a> </li>
                  <li><a routerLink="/Hyperlink-Policy" style="text-decoration: underline;"> Hyperlink Policy </a></li>
               </ul>
            </div>
            <hr />
         </div>
      </section> -->

      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="container common-container four_content ">
            <div class=" align-rt">
               <h4> Webmaster </h4>
               <p> odishaseedsportal.nic.in - Website </p>
            </div>
            <hr />
         </div>
      </section>