<app-header></app-header>
<div class="container table-responsive py-5">
    <table class="table table-bordered">
        <thead>
            <th colspan="2" style="background-color: cadetblue;">
                <h2>OUAT</h2>
            </th>
        </thead>
        <tbody style="font-size: 20px;">
            <tr>CEREALS</tr>
            <tr>MILLETS</tr>
            <tr>LEGUMES AND PULSES</tr>
            <tr>OILSEEDS</tr>
            <tr>FIBRE CROPS</tr>
            <tr>SUGAR AND STARCH CROPS</tr>
            <tr>NARCOTICS</tr>


        </tbody>
    </table>
</div>

<app-footer></app-footer>