<h2 mat-dialog-title style="text-align: center;">Dealer List</h2>
<div class="form-group">
  <label class="control-label" for="inputWarning">Choose Block</label>
</div>
<div class="form-group">
  <select class="select" [(ngModel)]="selectedBlock" class="form-control" id="selectCtrl" (change)="blockWiseDealer()">
    <option value="" disabled>---Select Block---</option>
    <option *ngFor="let x of blockList" [ngValue]="x">{{x.block_name}}</option>
  </select>
</div>
<br>
<mat-dialog-content class="mat-typography">
  <div class="table-responsive">
  <table class="table table-hover" style="text-align: center;" >
    <thead>
      <tr>
        <th>Sl No.</th>
        <th>Block</th>
        <th>FARMNAME</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let y of dealers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ y.block_name}}</td>
        <td>{{ y.APP_FIRMNAME}}</td>
        <td>{{ y.APPADDRESS}}</td>
      </tr>
    </tbody>
  </table>
</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>