/* .wrap-input100 {
  color: black;
  font-size: 18px;
 font-weight: 500;
}
.wrap{
  color:black;
  font-size: 18px;
 font-weight: 500;
}  
#show-password{
  color: black;
  font-size: 18px;
 font-weight: 500;
}
* {
  margin: 0px;
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: OpenSans-Regular, sans-serif;
}



.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image:url('https://media.istockphoto.com/id/967257598/photo/world-environment-day-planting-seedlings-young-plant-in-the-morning-light-on-nature-background.jpg?s=170667a&w=0&k=20&c=LANk9PtcFIkpOInbQbtdlgRhayAeF4mUQZraWHfH6Mg=');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.wrap-login100 {
  width: 500px;
  background: #455a6457;
  border-radius: 10px;
  overflow: hidden;
}

.login100-form-title {
  display: block;
  font-size: 30px;
  color: brown;
  line-height: 1.2;
  text-align: center;
}

.input100 {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  border-radius: 10px;
}

input.input100 {
  height: 30px;
  padding: 0 25px 0 25px;
}

input{
  background: white;
  border-color: #00000054;
}


.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-color: #00000054;
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #007498;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  border-color: #00000054;
}



 .p-r-55 {
    padding-right: 55px;
}

.p-l-55 {
    padding-left: 55px;
}
.p-b-50 {
    padding-bottom: 50px;
}
.p-t-65 {
    padding-top: 65px;
}
.p-b-33 {
    padding-bottom: 33px;
}
.m-t-20 {
    margin-top: 20px;
}
.text-center {
    text-align: center;
}

.p-b-5 {
    padding-bottom: 5px;
}
.p-t-35 {
    padding-top: 35px;
} 

@media screen and (max-width:600px) {
  .wrap-login100 {
    padding: 55px 10px 50px 10px!important;
  }                                     
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5px;
  margin-top: -40px;
}

img{
  width: 40%;
    margin-left: 55px;
} */


*{

    margin: 0;
  
    padding: 0;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida',
  'Grande','Lucida Sans', 'Arial', 'sans-serif';
  
  }
  img{
    width: 32%;
    margin-left: 106px;
    /* margin-top: 40px; */
  }
  section{
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    min-height: 100vh;
  
    width: 100%;
  
    background: url('../../../assets/images/loginbgimage.jpeg') no-repeat;
  
    background-position: center;
  
    background-size:cover;
  
  }
  
  .form-box{
  
    position: relative;
  
    width: 400px;
  
    height: 590px !important;
  
    background: transparent;
  
    border:none;
  
    border-radius: 20px;
  
    backdrop-filter:blur(15px) brightness(80%);
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }
  
  h2{
  
    font-size: 2em;
  
    color:#fff;
  
    text-align: center;
  
  }
  
  .inputbox{
  
    position: relative;
  
    margin: 30px 0;
  
    width: 310px;
  
    border-bottom: 2px solid #fff;
  
  }
  
  .inputbox label{
  
    position: absolute;
  
    top:50%;
  
    left: 5px;
  
    transform: translateY(-50%);
  
    color: rgb(255, 255, 255);
  
    font-size: 20px;
  
    font-weight: 500;
  
    pointer-events:none;
  
    transition: .5s;
  
  }
  
  /* animations: start */
  
  input:focus ~label,
  input:active ~label,
  input:valid ~label{
    transition:none;
    top: -5px;
  
  }
  
  /* animation:end */
  
  .inputbox input{
  
    width: 100%;
  
    height: 50px;
  
    background: transparent;
  
    border: none;
  
    outline: none;
  
    font-size: 1em;
  
    padding: 0 35px 0 5px;
  
    color: #fff;
  
  }
  
  .inputbox ion-icon{
  
    position: absolute;
  
    right:8px;
  
    /* color: #fff; */
  
    font-size: 1.2em;
  
    top:20px;
  
  }
  
  .forget{
  
    margin: -10px 0 17px;
  
    font-size: .9em;
  
    color: #fff;
  
    display: flex;
  
    justify-content: space-between;
  
  }
  
  .forget label input{
  
    margin-right: 3px;
  
  }
  
  .forget a{
  
    color: #fff;
  
    text-decoration: none;
  
  }
  
  .forget a:hover{
  
    text-decoration: underline;
  
  }
  
  button{
  
    width: 100%;
  
    height: 40px;
  
    border-radius: 40px;
  
    background-color: #fff;
  
    border:none;
  
    outline: none;
  
    cursor: pointer;
  
    font-size: 25px;
  
    font-weight: 500;
  
  }
  
  .register{
  
    font-size: .9em;
  
    color: #fff;
  
    text-align: center;
  
    margin: 25px 0 10px;
  
  }
  
  .register p a{
  
    text-decoration: none;
  
    color: #fff;
  
    font-weight: 600;
  
  }
  
  .register p a:hover{
  
    text-decoration: underline;
  
  }
  
  /* Responsiveness:Start */
  @media screen and (max-width:480px) {
    .form-box{
        width: 100%;
        border-radius: 0px;
    }
  }
  .txt1 {
      font-size: 13px;
      line-height: 1.4;
      color: #f7f7f7;
      text-decoration: none;
  }
  
  .txt1:hover {
      text-decoration: underline;
  }
  
  .txt2 {
      font-size: 13px;
      font-weight: normal;
      color: #444;
      line-height: 1.4;
  }