<div class="container">
  <div class="card">
    <div class="circle" > 
      <img src="../../../assets/images/container/5456793cef26c.jpg" class="card-img-top"  alt="...">
      
    </div>
    <h6 ><b>Seed Legislation & Enforcement </b></h6>
 
    <br>
    <div class="content" >
      <ul >
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Act%201966.pdf" target="_blank">The&nbsp;Seeds Act,1966</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">The&nbsp;Seeds (Amendment) Act, 1972</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Rule%201968.pdf" target="_blank">The&nbsp;</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed Rule 1968.pdf">Seeds Rule,1968</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1973</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1974</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed_Control_Order-1983.pdf" target="_blank">The&nbsp;Seeds Control Order ,1983</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">The&nbsp;Amendment in Seeds Control Order, 2006</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">The&nbsp;Seeds Control(Ammendment) Order, 2014</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">The&nbsp;Essential Commodity Act, 1955</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">The&nbsp;Essential Commodity Act (Amendment up to 1986)</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank">The&nbsp;Essential Commodity Act, 2006</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Bill%202004.pdf" target="_blank">The&nbsp;Seeds bill, 2004</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_2001.pdf" target="_blank">The Protection of Plant Varieties and Farmers Act, 2001</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_RULES_2003.pdf" target="_blank">The Protection of Plant Varieties and Farmer's Rights Rules, 2003.</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">Seed Inspectors List</a></li>
      </ul>
        <a href="#">Read More</a>
    </div>
</div>




<div class="card">
  <div class="circle"> <img src="../../../assets/images/container/download (1).png" class="card-img-top" alt="...">
  </div>
  <h6><b>Policies on Seed</b></h6>
  <br>
  <div class="content">
      <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/State_Agriculture_Policy_2013.pdf" target="_blank">State Agriculture Policy 2013</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/National_Seed_Policy_2002.pdf" target="_blank">National Seed Policy 2002</a></li>
          <li>
            <a href="http://dgft.delhi.nic.in/" target="_blank">Exim Policy</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Exim_policy_note.pdf" target="_blank">Note on Exim Policy 2002-07</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/New_Policy_on_Seed_Development_1988.pdf" target="_blank">New Policy on Seed development 1988</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Amended_New_Policy_on_SeedDevelopment1988.pdf" target="_blank">Amendment to policy on seed development 1988</a></li>
        </ul>

   </div>
</div>
<div class="card">
  <div class="circle">
      <img src="../../../assets/images/container/images (2).jpg" class="card-img-top" alt="...">
  </div>
  <h6><b>Resource Materials</b></h6> <br>
  <div class="content">
      <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData\Resource Material/INDIAN_MINIMUM_SEED_CERTIFICATION_STANDARDS.pdf" target="_blank">Indian Minimum Seed Certification Standard 2013</a></li>
          <li>
            <a href="http://www.agricoop.nic.in/seed/" target="_blank">Seed Inspector Manual</a></li>
          <li>
            Handbook on seed Testing</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Resource Material/Seed Testing Manual.pdf" target="_blank">Seed Testing Manual</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/scan0134.pdf">Recommended Screen Aperture Size for Seed&nbsp;Processing</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/SRR_SMR.pdf">Seed Rate/Seed multiplication ratio of field crops</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Seed Inspectors List.xls">seed inspectors list</a></li>
        </ul>
   </div>

</div>



<!-- 

  <div class="card">
      <div class="circle">
         
        <img src="../../../assets/images/container/images.png" class="card-img-top" alt="...">
      </div>
      <h6><b> Seed Production</b></h6>
      <br>
      <div class="content">
        <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Print_Indent_Report">Breeder Seed&nbsp;Indent</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Print_Allocation_Report">Breeder Seed allotment</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Lifting_Report">Breeder Seed&nbsp;Lifting</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/BS_FS_Report">Conversion of Breeder Seed to Foundation Seed</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/FS_CS_Report">Conversion of Foundation Seed to Certified Seed</a></li>
        </ul>
       </div>

  </div>
  <div class="card">
      <div class="circle">
        <img src="../../../assets/images/container/images (1).jpg" class="card-img-top" alt="...">
      </div>
      <h6><b>  Seed Distribution</b></h6>
      <br>
      <div class="content" >
        <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/login/login" target="_blank">Certified&nbsp;Seed Indent by DDAs</a></li>
          <li>
            Additional Seed Indent by DDAs</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/dda/ddareport" target="_blank">Seed distribution program</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/dda/DDAVarietywiseSeedDivisionReport" target="_blank">Seed diversion Programme</a></li>
          <li>
            Supply Schedule</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/supplier/ReportCsAvailability" target="_blank">Certified Seed Availability by OSSC/OAIC </a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/supplier/reportdailyseeddistribution" target="_blank">Distribution of Seeds by OSSC/ OAIC</a></li>
        </ul>
      </div>
  </div> -->






