

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll"  id="scrollid">
            <h5 class="card-title">
              Julia Thorn</h5>
            <h6>
              Junior Developer</h6>
            <p class="card-text" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>
              <p class="card-text" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
                alias facilis quisquam, ipsa dolor.</p>
                <p class="card-text" >
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
                  alias facilis quisquam, ipsa dolor.</p>
           
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/mgKqKwcf/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Martha David</h5>
            <h6>
              UI / UX Designer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Laura Chedd</h5>
            <h6>
              Full-Stack Developer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Laura Chedd</h5>
            <h6>
              Full-Stack Developer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>