<!-- <div class="fancybox1"> 
    <div class="row slider">
    <div class="col-sm-3">
      <div class="author d-flex align-items-center">
        <img class="avatar rounded-circle mx-2"
          src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
          alt="Bologna">
        Carlos Ruiz Zafon
      </div> 
      <div class="hii" style="color: black;">
        <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Act%201966.pdf" target="_blank">&nbsp;The&nbsp;Seeds Act,1966</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">The&nbsp;Seeds (Amendment) Act, 1972</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Rule%201968.pdf" target="_blank">The&nbsp;</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed Rule 1968.pdf">Seeds Rule,1968</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1973</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1974</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed_Control_Order-1983.pdf" target="_blank">The&nbsp;Seeds Control Order ,1983</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">The&nbsp;Amendment in Seeds Control Order, 2006</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">The&nbsp;Seeds Control(Ammendment) Order, 2014</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">The&nbsp;Essential Commodity Act, 1955</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">The&nbsp;Essential Commodity Act (Amendment up to 1986)</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank">The&nbsp;Essential Commodity Act, 2006</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Bill%202004.pdf" target="_blank">The&nbsp;Seeds bill, 2004</a>.</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_2001.pdf" target="_blank">The Protection of Plant Varieties and Farmers Act, 2001</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_RULES_2003.pdf" target="_blank">The Protection of Plant Varieties and Farmer's Rights Rules, 2003.</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">Seed Inspectors List</a></li>
        </ul>
      </div>     
    </div>
    <div class="col-sm-3">
    <div>
       <a href="" data-fancybox="images">
          <p id="rcorners1">Ossopca Data</p>
       </a>
    </div>
    </div>
    <div class="col-sm-3">
       <a href="" data-fancybox="images">
          <p id="rcorners1">Seeds Sold in this season</p>
       </a>
    </div>
    <div class="col-sm-3">
       <a href="" data-fancybox="images">
          <p id="rcorners1">Varieties Sold</p>
       </a>
    </div>
          </div>        
       </div> -->

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll"  id="scrollid">
            <h5 class="card-title">
              Julia Thorn</h5>
            <h6>
              Junior Developer</h6>
            <p class="card-text" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>
              <p class="card-text" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
                alias facilis quisquam, ipsa dolor.</p>
                <p class="card-text" >
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
                  alias facilis quisquam, ipsa dolor.</p>
           
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/mgKqKwcf/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Martha David</h5>
            <h6>
              UI / UX Designer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Laura Chedd</h5>
            <h6>
              Full-Stack Developer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Laura Chedd</h5>
            <h6>
              Full-Stack Developer</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius
              alias facilis quisquam, ipsa dolor.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>