<div class="page-header" style="height: 123px;">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Date Wise Sale Details</h5>
            <p class="m-b-0">Sale Details</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/#/dealer">
                <i class="fa fa-home"></i>
                <!-- <i class="fa fa-home" ></i> -->
                <!-- <i class="fa fa-home" _ngcontent-mec-c106=""></i> -->
              </a>
            </li>
            <li class="breadcrumb-item"><a href="/#/dealer/DatewiseSaleDetails">Date Wise Sale Details</a>
            </li>
  
          </ul>
  
        </div>
      </div>
    </div>
  </div>

