<section class="wrapper news-section">
   <div class="container common-container four_content carousel-container">
      <div id="flexCarouse2" class="news-section2">
         <div class="notification">
            <h3>News<span> & updates</span></h3>
         </div>
         <div class="notification-mid">
            <ul class="slides">
               <li *ngFor='let i of NewsE'>
                  <span>
                     <!-- NEW- -->
                     <h_1>{{i.NEWS_NAME}}</h_1>
                  </span>
               </li>
               <!-- <li>
                  <span>                        
                     <h3>FOR FARMER REGISTRATION & FARMER ID ISSUE KINDLY CONTACT TO:-7008542438(Between 10AM to 6PM) .</h3>
                  </span>
               </li>-->
            </ul>
         </div>
      </div>
   </div>
</section>