<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-25">Incentive Details.</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item">
                        <a href="/home"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/farmersale">Farmer Sale</a>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <br>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges on button card start -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Select Financial Year and Seasons</h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">

                                <div class="form-group form-primary form-static-label col-md-5">
                                    <label class="col-form-label">Financial Year <span
                                            class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" [(ngModel)]="selectedFinancialYear">
                                        <option value="" selected disabled>Select Financial Year</option>
                                        <option value="2021-22">2021-22</option>
                                        <option value="2022-23">2022-23</option>
                                        <option value="2023-24">2023-24</option>
                                    </select>
                                </div>
                                <div class="form-group form-primary form-static-label col-md-5">
                                    <label class="col-form-label">Seasons <span class="text-danger">*</span>:-</label>
                                    <select name="select" class="form-control" [(ngModel)]="selectedSeasons">
                                        <option value="" selected disabled>Select Seasons</option>
                                        <option value="Kharif">Kharif</option>
                                        <option value="Rabi">Rabi</option>
                                    </select>
                                </div>
                                <div class=" col-md-2" style="text-align: right;"><br>
                                    <!-- <button (click)="getFarmerPerDtl()"
                                        class="btn btn-primary waves-effect waves-light"><i
                                                    class="icofont icofont-search"></i>Search</button> -->
                                    <!-- (click)="getTranscationDtl()" -->
                                    <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                                        (click)="getIncentiveDtl()"><i
                                            class="icofont icofont-search"></i>Search</button>


                                </div>
                                <div class=" col-md-3">
                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Incentive Details</h5>
                </div>
                <div class="card-block table-border-style" style="text-align: center;">
                    <label for="" *ngIf="incentiveData.length == 0" style="color: red; "><b>No Record Found
                            !!!!!!!!!</b></label>
                    <table class="table table-bordered" *ngIf="incentiveData.length > 0">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Farmer ID</th>
                                <th>SG Name</th>
                                <th>Father/Husband Name</th>
                                <th>District Name</th>
                                <th>Village Name</th>
                                <th>Lot Number</th>
                                <th>Reference Number</th>
                                <th>Season</th>
                                <th>Variety Name</th>
                                <th>Inspected Area (in Hectare)</th>
                                <th>Subsidised Area (in Hectare)</th>
                                <th>Tag Issue Quantity (in Quintals)</th>
                                <th>Qtl/Ha</th>
                                <th>Admissibe Quantity (in Quintals)</th>
                                <th>SeedGrower Subsidy (in Rupees)</th>
                                <th>OSSC Subsidy (in Rupees)</th>
                                <th>Account Holder Name</th>
                                <th>Account Number</th>
                                <th>Bank Name</th>
                                <th>Branch Name</th>
                                <th>IFSC Code</th>
                                <th>OSSC Status</th>
                                <th>DEPT Status</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let y of incentiveData ; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{y.FARMER_ID}}</td>
                                <td>{{y.FARMER_NAME}}</td>
                                <td>{{y.FATHER_HUSBAND_NAME}}</td>
                                <td>{{y.DIST_NAME}}</td>
                                <td>{{y.VILLG_NAME}}</td>
                                <td>{{y.LOT_NO}}</td>
                                <td>{{y.REF_NO}}</td>
                                <td>{{y.SEASON}}</td>
                                <td>{{y.VARIETY_NAME}}</td>
                                <td>{{y.INSPECTED_AREA}}</td>
                                <td>{{y.SUBSIDISED_AREA}} </td>
                                <td>{{y.PROCESSED_QTY}} </td>
                                <td>{{y.Qtl_Ha}} </td>
                                <td>{{y.SUBSIDISED_QTY}} </td>
                                <td>{{y.FARMER_SUBSIDY}} </td>
                                <td>{{y.OSSC_SUBSIDY}} </td>
                                <td>{{y.ACC_HOLDERNAME}} </td>
                                <td>{{y.ACC_NO}} </td>
                                <td>{{y.VCHBANKNAME}} </td>
                                <td>{{y.VCHBRANCHNAME}} </td>
                                <td>{{y.IFSC_CODE}} </td>
                                <td>{{y.OSSC_STATUS}} </td>
                                <td>{{y.PAY_STATUS}} </td>

                            </tr>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{sumSUBSIDISED_AREA}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{sumFARMER_SUBSIDY}}</th>
                                <th>{{sumpOSSC_SUBSIDY}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </tbody>
                        <br>
                        <tfoot style="text-align: center;">
                            <div class="row">
                                <div class=" col-md-5">
                                </div>
                                <div class=" col-md-2">
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                                        (click)="btnApprove_Click()">Approve</button>
                                </div>
                                <div class=" col-md-5">
                                </div>
                            </div>

                        </tfoot>
                    </table>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>