<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--local-->
    <!--<add name="OSSCConnectionString" connectionString="Data source=10.172.31.116;UID=ossc;password=Os$c@431;DATABASE=OSSC" providerName="System.Data.SqlClient" />-->
    <add key="DataConnString" value="Data Source=10.172.31.116;Initial Catalog=STOCK;User ID=sa;Password=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add key="SqlConStock" value="Data Source=10.172.31.116;Initial Catalog=STOCK;User ID=sa;Password=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <!--<add key="SqlConSeed" value="Data Source=10.172.31.116;Initial Catalog=dafpSeed;User ID=ID=seed;Password=Q@W#E$R%T^YU*I(" />-->
    <add key="SqlConSeed" value="Data Source=10.172.31.116;Initial Catalog=dafpSEED;User ID=sa;Password=sa@123#(;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add key="ConnectionString" value="Data Source=10.172.31.116;database=FARMERDB;uid=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add key="SqlCon" value="Data Source=10.172.31.116;database=FARMERDB;uid=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add key="SqlConFmn" value="Data Source=10.172.31.116;Initial Catalog=DAFPAgris;User ID=sa;Password=sa@123#;Min Pool Size=5;Max Pool Size=500;Connect Timeout=500;" />
    <add key="SqlConFarmer" value="Data Source=10.172.31.116;Initial Catalog=FARMERDB;User ID=sa;Password=sa@123#"/>
    <add key="ErrorLog" value="/stock/ErrorLog/" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <clear />  
    <!--local-->
    <add name="SqlConAuth" connectionString="Data Source=10.172.31.116;Initial Catalog=AuthenticationDB;User ID=sa;Password=sa@123#" providerName="System.Data.SqlClient"/>
    <add name="FarmerDBConnectionString" connectionString="Data source=10.172.31.116;uid=sa;password=sa@123#;DATABASE=FARMERDB" providerName="System.Data.SqlClient" />
    <add name="stockConnectionString" connectionString="Data source=10.172.31.116;UID=sa;password=sa@123#;DATABASE=stock" providerName="System.Data.SqlClient" />
    <add name="OSSCConnectionString" connectionString="Data source=10.172.31.116;UID=sa;password=sa@123#;DATABASE=OSSC" providerName="System.Data.SqlClient" />
    <add name="DataConnString" connectionString="Data Source=10.172.31.116;database=STOCK;UID=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add name="ConnectionString" connectionString="Data Source=10.172.31.116;database=FARMERDB;uid=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add name="SqlCon" connectionString="Data Source=10.172.31.116;database=FARMERDB;uid=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add name="SqlConStock" connectionString="Data Source=10.172.31.116;database=STOCK;UID=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <!--<add name="SqlConSeed" connectionString="Data Source=10.172.31.116;database=dafpSeed;uid=sa;pwd=Q@W#E$R%T^YU*I(" />-->
    <add name="SqlConSeed" connectionString="Data Source=10.172.31.116;database=dafpseed;uid=sa;pwd=sa@123#;Min Pool Size=5;Max Pool Size=600;Connect Timeout=600;" />
    <add name="OSSOPCAConnectionString" connectionString="Data source=10.172.31.116;UID=sa;password=sa@123#;DATABASE=OSSOPCA" providerName="System.Data.SqlClient" />
    <!--<add name="SqlConFarmer" connectionString="Data Source=10.172.31.116;Initial Catalog=FARMERDB;User ID=FARMER;Password=sa@123#"/>-->
    <add name="tagchecke" connectionString="metadata=res://*/App_Code.tagCheck.csdl|res://*/App_Code.tagCheck.ssdl|res://*/App_Code.tagCheck.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.172.31.116;Initial Catalog=OSSOPCA;User ID=sa;Password=sa@123#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="StockEntities" connectionString="metadata=res://*/App_Code.Stock.csdl|res://*/App_Code.Stock.ssdl|res://*/App_Code.Stock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.172.31.116;initial catalog=Stock;User ID=sa;password=sa@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FARMERDBEntities" connectionString="metadata=res://*/App_Code.Model.PFMS.csdl|res://*/App_Code.Model.PFMS.ssdl|res://*/App_Code.Model.PFMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.172.31.116;initial catalog=FARMERDB;User ID=sa;password=sa@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stocknewEntities1" connectionString="metadata=res://*/App_Code.Model.stocknew.csdl|res://*/App_Code.Model.stocknew.ssdl|res://*/App_Code.Model.stocknew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.172.31.116;initial catalog=stock;User ID=sa;password=sa@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BASEntities" connectionString="metadata=res://*/App_Code.Model.BAS.csdl|res://*/App_Code.Model.BAS.ssdl|res://*/App_Code.Model.BAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.172.31.116;initial catalog=BAS;user id=bas;password=sa@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stockEntities1" connectionString="metadata=res://*/App_Code.stockccb.csdl|res://*/App_Code.stockccb.ssdl|res://*/App_Code.stockccb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.172.31.116;Initial Catalog=stock;User ID=sa;Password=sa@123#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FARMERDBEntities1" connectionString="metadata=res://*/App_Code.FarmerId.csdl|res://*/App_Code.FarmerId.ssdl|res://*/App_Code.FarmerId.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.172.31.116;Initial Catalog=FARMERDB;User ID=sa;Password=sa@123#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="stockConnectionString" connectionString="Data source=10.172.31.116;UID=sa;password=sa@123#;DATABASE=stock" providerName="System.Data.SqlClient" />
    
    <add name="constrDAFP" connectionString="Data Source=10.172.31.116;initial catalog=BAS; user id=sa; password=sa@123#;integrated security=false;" providerName="System.Data.SqlClient"/>

    <add name="stockEntities2" connectionString="metadata=res://*/App_Code.NewComplain.csdl|res://*/App_Code.NewComplain.ssdl|res://*/App_Code.NewComplain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.172.31.116;initial catalog=stock;User ID=sa;password=sa@123#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sqlfmdbt" connectionString="Data Source=10.172.31.116;Initial Catalog=DAFPAgris;User ID=sa;Password=sa@123#;Min Pool Size=5;Max Pool Size=500;Connect Timeout=500;" />


    <add name="SqlConJAL" connectionString="Data Source=10.172.31.116;Initial Catalog=Jalanidhi;uid=jalanidhi;pwd=jalA#nIdHI%2"/>

    <add name="SqlConFmn" connectionString="Data Source=10.172.31.116;Initial Catalog=DAFPAgris;User ID=saritadafp;Password=sa@123#;Min Pool Size=5;Max Pool Size=500;Connect Timeout=500;" />
  </connectionStrings>

  <system.web>
    <pages maintainScrollPositionOnPostBack="true" validateRequest="true" buffer="true" enableViewState="true" enableViewStateMac="false" viewStateEncryptionMode="Always" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="20" />
    <authorization>
      <allow verbs="GET" users="*" />
      <allow verbs="POST" users="*" />
      <deny verbs="TRACE" users="*" />
      <deny verbs="OPTIONS" users="*" />
      <deny verbs="HEAD" users="*" />
      <deny verbs="COPY" users="*" />
      <deny verbs="SEARCH" users="*" />
      <deny verbs="LOCK" users="*" />
      <deny verbs="UNLOCK" users="*" />
      <deny verbs="PROPFIND" users="*" />
      <deny verbs="DELETE" users="*" />
      <deny verbs="PUT" users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <codeSubDirectories>
        <add directoryName="MyVBCode" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="200000" executionTimeout="600"></httpRuntime>
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="Windows" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <!--<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="deny" />
        <add name="X-XSS-Protection" value="1" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name=" Content-Security-Policy" value=" default-src 'none'; script-src 'self' 'unsafe-inline' ; style-src 'self' 'unsafe-inline'; img-src 'self';  font-src 'self'; connect-src 'self'; form-action 'self';"/>
        <add name="Referrer-Policy" value="strict-origin" />

        <add name="Access-Control-Allow-Origin" value="https://agrisnetodisha.ori.nic.in/"   />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.4.0" newVersion="5.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>