body {
	padding:0px;
	margin:0px;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.MainArea {
	width:95%;
	margin:auto;
	background-color:#fff;
}
.header {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #8af16e;
	padding-right: 0px;
	height:75px;
	background-color:#fff;
}
#LeftMenu {
	background-color:#e2eae1;
	border-right:1px solid #dfe5c1;
	width:180px;
}
.contArea {
	min-height:400px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.logout {
	background-image: url(../images/logoutbtn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 22px;
	width: 66px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;
	margin-top: 11px;
	padding-top: 4px;
	float:right;
	padding-left: 17px;
}
.logout:hover {
	color: #43922e;
}
.changepass {
	background-image: url(../images/changepass.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 17px;
	width: 110px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;
	margin-top: 11px;
	padding-top: 3px;
	float:right;
	margin-right:5px;
}
.changepass:hover {
	background-position: left bottom;
	color: #fff;
}
#midArea {
	background-color:#fff;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.MidArea {
	margin:10px;
}
.MidArea h1 {
	font-size: 18px;
	font-weight: bold;
	color: #2A2A2A;
	text-decoration: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.reports {
	width:430px;
	float:left;
}
.reports ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.reports ul li {
	background-image: url(../images/rptlistbg1.gif);
	background-repeat: repeat-x;
	background-position: left top;
	display: block;
	margin-bottom: 1px;
}
.reports ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #2C2C2C;
	text-decoration: none;
	background-image: url(../images/rptarrow1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 25px;
	padding-left: 50px;
	padding-top: 10px;
}
.reports ul li a:hover {
	background-position: left bottom;
	color: #000;
}
.tagging {
	float:right;
}
.tagging a {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/tagginag.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	display: block;
	height: 23px;
	width: 164px;
	padding-top: 5px;
}
.tagging a:hover {
	background-position: left bottom;
}
.footer {
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #4fa538;
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
}
.back {
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.back:hover {
	color: #000;
}
.srchtable {
	border-collapse:collapse;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid #e5e5e5;
	background-color: #F0F0F0;
}
.addTable {
	border-collapse:collapse;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 2px;
	border: 1px solid #e5e5e5;
}
.addTable a {
	color: #000099;
	text-decoration: none;
}
.addTable a:hover {
	color: #FF0000;
	text-decoration: underline;
}
.addTable th {
	font-weight: normal;
	font-size: 12px;
	text-align:left;
	background-color: #E1E1E1;
}
.addTable td {
	font-size: 11px;
	font-weight:bold;
	padding:2px;
}
.button {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	background-image: url('../images/btnbggrn.gif');
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #7bba79;
}
.button:hover {
	color:#000;
}
.viewTable table {
	border-collapse:collapse;
	border: 1px solid #d5dadd;
	color: #000000;
	width:100%;
	margin-bottom: 5px;
	padding: 2px;
	font-size: 11px;
}
.viewTable table td {
	font-size: 11px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d5dadd;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d5dadd;
	border-bottom-color: #d5dadd;
	border-left-color: #d5dadd;
	height:20px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	color: #000000;
}
.viewTable table th {
	font-size: 11px;
	text-align: left;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	font-weight:bold;
	background-color:#bedcb6;
	background-image: url(../images/headerBg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	color: #000;
	border: 1px solid #91c980;
}
.viewTable table th a {
	color:#2e6ec4;
	text-decoration:underline;
}
.viewTable table th a:hover {
	color:#990000;
	text-decoration:none;
}
.viewTable table a {
	color: #09F;
	text-decoration: underline;
	font-weight: normal;
}
.viewTable table a:hover {
	/* color: #FF0000; */
	text-decoration: none;
	color: #000000;
}
.tblfooter {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #fff2cc;
}
.welcome {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-top: 5px;
}
#clock {
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	text-align: right;
	margin-top: 3px;
}
.viewTableedit table {
	border-collapse: collapse;
	border: 1px solid #C3C3C3;
	color: #000000;
	width: 100%;
	margin-bottom: 5px;
	padding: 2px;
	font-size: 12px;
	background-color: #fff;
}
.viewTableedit table td {
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E5E5E5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
	border-bottom-color: #E5E5E5;
	border-left-color: #E5E5E5;
	height: 20px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	color: #000000;
}
.viewTableedit table th {
	border: 1px solid #C3C3C3;
	color: #282828;
	font-size: 12px;
	text-align: left;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	background-color: #FFF4D2;
}
.viewTableedit table table {
	border: 0px;
	width: auto;
	padding:0px;
	margin-bottom:0px;
}
.viewTableedit table table td {
	border: 0px;
}
.hd {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-top: 15px;
	padding-bottom: 5px;
}
.extd {
	background-color:#edfde9;
	font-weight:bold;
}
.blankfield {
	background-image: url(images/blankfield.gif);
	background-repeat: repeat-x;
	background-position: -7px top;
}
.pageBreakAfter {
	margin-bottom:0;
	page-break-after:  always;
}
.pageBreakBefore {
	margin-bottom: 1000;
	page-break-before: always;
}
.break {
	page-break-after: always
}
.smredfont {
	font-size: 10px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.sitemap {
	width:100%;
	margin:auto;
}
.fpsmidbg {
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	background-image: url(../images/fpsregmidbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.fpsmidbggrn {
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/fpsregmidbggrn.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.yardhdmidbg {
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/yardmidbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.padymidbggrn {
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/paddyhdmigbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.Depothdbg {
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/depothdmidbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.fpsmidbgblue {
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/fpsregmidbgblue.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-left: 10px;
}
.droparrow {
	background-image: url(../images/droparrow.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 26px;
}
.fpshd {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/fpshdbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.fpshdgrn {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/fpshdbggreen.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.yardsubhd {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/yardsubhd.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.paddysubhd {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/paddsubhd.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.depotsubhd {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/depotsubjd.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.fpshdblue {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 8px;
	background-image: url(../images/fpstrnsgrbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	padding-right: 5px;
}
.fpslinksgrn {
	background-color: #efffeb;
	border-top-width: 1px;
	border-top-style:solid;
	border-top-color: #7fc769;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #7fc769;
	border-bottom-color: #7fc769;
	border-left-color: #7fc769;
	margin-bottom:10px;
}
.fpslinksgrn ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.fpslinksgrn ul li {
	margin:0px;
	padding:0px;
}
.fpslinksgrn ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	background-image: url(../images/fpsarrownew.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.fpslinksgrn ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.fpslinksgrn ul li a span {
	font-size: 14px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.yardlinks {
	background-color: #eaedff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #bdc5ee;
	border-bottom-color: #bdc5ee;
	border-left-color: #bdc5ee;
	margin-bottom:10px;
}
.yardlinks ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.yardlinks ul li {
	margin:0px;
	padding:0px;
}
.yardlinks ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	background-image: url(../images/fpsarrownew.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.yardlinks ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.yardlinks ul li a span {
	font-size: 14px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.paddylinks {
	background-color: #efffeb;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ddc9e7;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ddc9e7;
	border-bottom-color: #ddc9e7;
	border-left-color: #ddc9e7;
	margin-bottom:10px;
}
.paddylinks ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.paddylinks ul li {
	margin:0px;
	padding:0px;
}
.paddylinks ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	background-image: url(../images/fpsarrownew.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.paddylinks ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.paddylinks ul li a span {
	font-size: 14px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.depotpanel {
	background-color: #ffe6f9;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e895d4;
	border-bottom-color: #e895d4;
	border-left-color: #e895d4;
	margin-bottom:10px;
}
.depotpanel ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.depotpanel ul li {
	margin:0px;
	padding:0px;
}
.depotpanel ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	background-image: url(../images/fpsarrownew.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.depotpanel ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.depotpanel ul li a span {
	font-size: 14px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.fpslinksblue {
	background-color: #defbff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #4dbac9;
	border-bottom-color: #4dbac9;
	border-left-color: #4dbac9;
	margin-bottom:10px;
}
.fpslinksblue ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.fpslinksgrn ul li {
	margin:0px;
	padding:0px;
}
.fpslinksblue ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	background-image: url(../images/fpsarrownew.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.fpslinksblue ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.fpslinksgrn ul li a span {
	font-size: 14px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.fpslinks {
	background-color: #fff;
	border-right-width: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D8D8D8;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D8D8D8;
	border-bottom-color: #D8D8D8;
	border-left-color: #D8D8D8;
	margin-bottom:10px;
}
.fpslinks ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.fpslinks ul li {
	margin:0px;
	padding:0px;
}
.fpslinks ul li a {
	font-size: 11px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
	display: block;
	height: 23px;
	padding-top: 3px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.fpslinks ul li a:hover {
	background-position: right bottom;
	color:#C60000;
	background-color:#fff;
}
.fpslinks ul li a span {
	font-size: 12px;
	font-weight: bold;
	color: #C60000;
	text-decoration: none;
}
.fpspanel {
	width:28%;
	margin-right:15px;
	padding-right:15px;
	border-right:1px solid #D8D8D8;
	float:left;
}
.divider {
	background-image: url(../images/fpsdivider.gif);
	background-repeat: repeat-y;
	background-position: 5px top;
}
#viewTable table .cal_Theme1 table {
	padding:0px;
	margin:0px;
	width:100%;
	border:0px;
}
#viewTable table .cal_Theme1 table td {
	border: solid 1px #cccccc;
	margin:0px;
	padding:0px;
	height:19px;
}
#viewTable table .cal_Theme1 .ajax__calendar_today {
	margin:0px;
	padding:0px;
}
{
font-weight:bold;
padding:1px 0px 1px 0px;
margin:0px;
}
.cal_Theme1 .ajax__calendar_container {
	background-color: #ccc;
	border:solid 1px #cccccc;
	padding:0px;
	margin:0px;
}
.cal_Theme1 .ajax__calendar_header {
	background-color: #FAF3D8;
	margin:0px;
}
.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev {
	color: #000;
	padding-top: 0px;
	margin: 0px;
	background-color: #FAF3D8;
}
.cal_Theme1 .ajax__calendar_body {
	background-color: #FFFFFF;
	border: solid 0px #cccccc;
	padding:0px;
	margin:0px;
}
.cal_Theme1 .ajax__calendar_body table {
	padding:0px;
	margin:0px;
	width:100%;
	border:0px;
}
.cal_Theme1 .ajax__calendar_body table td {
	border: solid 1px #cccccc;
	margin:0px;
	padding:0px;
}
.cal_Theme1 .ajax__calendar_dayname {
	text-align: center;
	font-weight: bold;
	background-color: #4583DE;
	color:#fff;
	margin:0px;
	padding:0px;
	width:100%;
	border:0px;
}
.cal_Theme1 .ajax__calendar_day {
	text-align:center;
	margin:0px;
	padding:0px;
}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,  .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,  .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,  .cal_Theme1 .ajax__calendar_active {
	color: #ffffff;
	font-weight:bold;
	background-color: #ff0000;
	margin:0px;
}
.cal_Theme1 .ajax__calendar_today {
	font-weight:bold;
	padding:1px 0px 1px 0px;
	margin:0px;
}
.cal_Theme1 .ajax__calendar_other,  .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
	color: #bbbbbb;
}
.conForum {
	display:block;
	float:left;
	background-image: url(../images/forum.gif);
	background-repeat: no-repeat;
	background-position:  0px -23px;
	height: 23px;
	width: 24px;
	margin-left:3px;
}
.conForum:hover {
	background-position: 0px 0px;
}
.inputCalendar {
	background-image: url(../images/viewIconInter.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.Congratulation {
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	font-size: 20px;
}
.information {
	font-family: Tahoma;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #D8F0FE;
	padding: 10px;
	border: 1px solid #CCCCCC;
}
.number {
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.glossymenu {
	padding: 0;
	margin: 0px;/*border-bottom: 1px solid #CCC;*/
	
}
.glossymenu a.menuitem {
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	/*width: auto;*/
	padding-left: 7px;
	text-decoration: none;
	font-weight: bold;
	margin-bottom:1px;
	POSITION: relative;
	LINE-HEIGHT: 28px;
	MARGIN-TOP: 0px;
	PADDING-LEFT: 7px;
	DISPLAY: block;
	HEIGHT: 31px;
	FONT-SIZE: 12px;
	OVERFLOW: hidden;
	TEXT-DECORATION: none;
	background-image: url(../images/menu_item_activeN1.jpg);
	color:#fff;
	background-repeat: no-repeat;
	background-position: left top;	/*background-color:#117118;*/
}
/*.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: #006699;
}
*/
.glossymenu .menuitem:active {
	color: #FFF;
	background-image: url(../images/menu_item_activeN1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.glossymenu .menuitem:active:hover {
	color: #FC0;
}
.glossymenu a.menuitem .statusicon { /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 10px;
	right: 5px;
	border: none;
}
.glossymenu A.menuitem:hover {
	color: #FC0;
}
.glossymenu div.submenu { /*DIV that contains each sub menu*/
	background-color: #f0f0f0;
	margin-right: 0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-bottom:0px;
}
.glossymenu div.submenu ul { /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.glossymenu div.submenu ul li {
	background-image: url(../images/menu_item_activeN2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 3px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}
.glossymenu div.submenu ul li a {
	display: block;
	text-decoration: none;
	padding-left: 15px;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	/*background-color: #FFFFFF;color: #003867;*/
	background-image: url(../images/BlueLftArow.gif);
	background-repeat: no-repeat;
	background-position: 1px 10px;
	margin-left: 5px;
	margin-right: 0px;
	line-height: 24px;
	color: #000;
}
.glossymenu div.submenu ul li a:hover {
	color: #fe4e00;
}
.navigation {
	background-image: url(../images/navbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 24px;
	padding-top: 7px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8fae06;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	margin-bottom:0px;
	padding-left:25px;
}
.navigation a {
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
.navigation a:hover {
	color:#FF0;
}
.title {
	font-size: 15px;
	font-weight: bold;
	color: #494949;
	margin-bottom:10px;
}
#MnCtr {
	position:absolute;
	margin-left:180px;
	width:20px;
	height:20px;
	font-weight:normal;
}
#MnCtr a {
	background-image:url(../images/mnCtr.gif);
	display:block;
	width:18px;
	height:31px;
	background-color:#0364af;
	background-position: 0px 0px;
	font-weight:normal;
}
#MnCtr a:hover {
	background-position:0px -62px;
}
#MnCtr a.close {
	background-position:0px -31px;
}
#MnCtr a.close:hover {
	background-position:0px -93px;
}
#myTab {
	background-repeat: repeat-x;
	background-position: left top;
	height:29px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	background-image: url(../images/TabBGn.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #91c980;
	border-right-color: #91c980;
	border-left-color: #91c980;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}
#myTab ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
#myTab li {
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px 2px 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
	background-image: url(../images/tabbgleft.png);
}
#myTab li a {
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 23px;
	text-decoration:none;
	font-weight: bold;
	padding-top:8px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:0px;
	margin:0px;
	font-size:11px;
	background-image: url(../images/tabsbg.png);
	color:#fff;
}
#myTab li a:hover {
	color: #FFCC00;
}
#myTab li.active {
	float: left;
	background-image: url(../images/TabsActBGLft.gif);
	height: 31px;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:8px;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#myTab li.active span, #myButton li.lastActive span {
	display: block;
	background-image: url(../images/tabJunction.jpg);
	background-repeat: no-repeat;
	background-position: left -88px;
	float: left;
	height: 26px;
	width: 13px;
}
#myTab li span {
	display: none;
}
#myTab li.active div {
	color:#da2913;
	text-decoration:none;
	font-weight: bold;
	display: block;
	background-image: url(../images/TabsActBGRht.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 31px;
	padding-top: 0px;
	padding-right:5px;
	float:left;
}
#myTab li div {
	display: block;
	background-repeat: no-repeat;
	background-position: right top;
	height: 31px;
	padding-top: 0px;
	padding-right:4px;
	float:left;
	margin:0px;
	background-image: url(../images/tabbgright.png);
}
#myTab li.active a {
	background-image: url(../images/TabsActBG.gif);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 23px;
	color:#da2913;
	text-decoration:none;
	font-weight: bold;
	padding-top:8px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:0px;
	margin:0px;
	font-size:11px;
}
#myTab li.active a:hover {
	color:#e86a10;
}
#myButton {
	background-color:#f3f3f3;
	height:30px;
	clear: both;
	padding:0px;
	margin: 0px;
	padding:7px 0px 0px 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DADADA;
	border-right-color: #DADADA;
	border-bottom-color: #e9e9e9;
	border-left-color: #DADADA;
}
#myButton ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
#myButton li {
	float: left;
	/*height: 26px;*/
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px 1px 0px 1px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	background-image: url(../images/BtnsBGLeft.gif);
}
#myButton li a {
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 23px;
	text-decoration:none;
	font-weight: bold;
	padding-top:8px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:0px;
	margin:0px;
	font-size:11px;
	background-image: url(../images/BtnsBG.gif);
	color:#101010;
}
#myButton li.active {
	float: left;
	background-image: url(../images/BtnsActBGLft.gif);
	height: 31px;
	background-repeat: no-repeat;
	background-position: left top;
	margin:0px;
	padding-left:8px;
}
#myButton li.active span, #myButton li.lastActive span {
	display: block;
	background-image: url(../images/tabJunction.jpg);
	background-repeat: no-repeat;
	background-position: left -88px;
	float: left;
	height: 26px;
	width: 13px;
}
#myButton li span {
	display: none;
}
#myButton li.active div {
	text-decoration:none;
	font-weight: bold;
	display: block;
	background-repeat: no-repeat;
	background-position: right top;
	height: 31px;
	padding-top: 0px;
	padding-right:5px;
	float:left;
	background-image: url(../images/BtnsActBGRht.gif);
}
#myButton li div {
	display: block;
	background-image: url(../images/BtnsBGRht.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 31px;
	padding-top: 0px;
	padding-right:5px;
	float:left;
	margin:0px;
}
#myButton li.active a {
	background-image: url(../images/BtnsActBG.gif);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 23px;
	color:#da2913;
	text-decoration:none;
	font-weight: bold;
	padding-top:8px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:0px;
	margin:0px;
	font-size:11px;
}
#myButton li.active a:hover {
	color:#e86a10;
}
#myButton li a:hover {
	color:#da2913;
}
.alterrow {
	background-color: #EEF7DB;
}
.ftrow {
	background-color: #D8EFD1;
}
.logpos {
	position:absolute;
	right:13px;
	top:80px;
	z-index:0;
}
.setting a {
	font-size: 12px;
	color: #AEAEAE;
	text-decoration: none;
	background-image: url(../images/settings.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 19px;
	width: 80px;
	text-align:left;
	padding-top: 3px;
	padding-left: 10px;
}
.setting a:hover {
	color: #fff;
}
.the_menu {
	display:none;
	width:200px;
	position:absolute;
	right:0px;
	top:73px;
	z-index:9999;
}
.the_menu ul {
	padding:0px;
	list-style:none;
	margin-top: 0px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #494949;
}
.the_menu ul li {
	margin:0;
	padding:0;
}
.the_menu ul li a {
	color:#fff;
	text-decoration:none;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #616161;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	text-align:left;
}
.the_menu ul li a:hover {
	color: #CDCDCD;
}
.poparea h1 {
	font-size: 15px;
	font-weight: bold;
	color: #494949;
	margin-bottom:10px;
}
.disclaim {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	color: #000;
	text-decoration: none;
	background-color: #fff;
}
.Dashboard h2 {
	background:url(../images/Heading-BG.jpg) repeat-x left top;
	padding:7px 5px 5px 5px;
	border-left:#91c980 solid 1px;
	border-right:#91c980 solid 1px;
	font-size:16px;
	color:#a00506;
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
}
/*.graphs{width:240px; height:209px;}*/
@font-face {
font-family: "OR-TTSarala";
src: url(../Font/OR-TTSarala_Normal.ttf) format("truetype");
}
.Odia {
	font-family:OR-TTSarala,ORBW-TTMuktaEN;
	font-size:16px;
	font-weight:normal;
	color:#000;
}
.odiaFont {
	font-family:OR-TTSarala,ORBW-TTMuktaEN;
	font-size:14px;
}

.viewTable table td .paging tr {
	background-color:#FFF;
	border-collapse:collapse;
	padding-top:5px;
}
.viewTable .paging td {
	margin:0px;
	border:none;
	background-color:#FFF;
	padding:2px 1px;
}
.viewTable .paging td table {
	float: right;
	border:none;
	width: auto;
	padding:0px;
	margin:0px;
}
.viewTable .paging td a {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	height: 20px;
	width: 21px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	margin: 0px;
	text-align:center;
	display:block;
	background-color:#eef7db;
	border: 1px solid #439a2f;
	text-decoration:none;
}
.viewTable .paging td span {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #fff;
	height: 23px;
	width: 22px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin: 0px;
	border: none;
	background-color:#3d942b;
	border: 1px solid #3d942b;
	text-align:center;
	display:block;
}
.viewTable .paging td a:hover {
	color: #fff;
	text-decoration:none;
	background-color:#439a2f;
}
.viewTable th.SubTh{background-image:none; background-color:#f1f3f0;}

.odia{
    font-family: ORBW-TTMuktaEN Normal;
    font-size: 25px;
    height: 70px;
    width: 90px;
}
h3{line-height:22px; font-size:14px; padding:6px 0px; margin:0px;}

.treeView a{color:#000; text-decoration:none;}
.treeView a:hover{color:#f00; text-decoration:none;}