.tabActiveLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	}
.redgridheader {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #a40000;
	display: block;
	height: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.back{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.back:hover {
color: #000;
}
.bluegridheader {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #3f86be;
	display: block;
	height: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.INPUT4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #666666;
	text-align:left;
	padding:0px;
	margin:0px;
		
}
.bigbluetext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #3F89C3;
	font-weight: bold;
	text-decoration: none;
}
.oath {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.redText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #F99FA9;
	font-weight: bold;
}
.whiteText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	
}
.blackTextBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
a:hover.blackTextBold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #870000;
	font-weight: bold;	
        background-color: #ffff00;
}
.reportText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
.blackText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	height: 22px;
	padding: 2px;
}
.blackTextDropDown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	height: 22px;
	padding: 2px;
}
.blackText:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
	background-color: #3F89C3;
	height: 22px;
	padding: 2px;
}

.greyTextNormal {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
}
.menuText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5C5C5C;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
a.menuText:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	background-color: #666666;
	height: 30px;
}
.whiteTextBig {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: normal;
}
.thoughtHeader {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #5C5C5C;
	font-weight: bold;
}
.thoughtText {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5D5D5D;
	font-weight: bold;
}
.dipRedText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #880B07;
	font-weight: bold;
}
.greyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	background-color:#D6CFB1
}
.adminHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: normal;
	background-color: #D6CFB1;
	text-indent: 10px;
	display: block;
	height: 30px;
}
.adminText {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #444444;
	font-weight: normal;
}
/*.TblHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	background-color: #3f7faf;
	padding: 5px;
}*/
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3F7FAF;
	font-weight: normal;
	text-align: center;
}
.welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #CC0000;
	font-weight: bold;
}
.redbigclick {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #CC0000;
	font-weight: bold;
}
.redbigbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #CC0000;
	font-weight: bold;
}
.tabInactive {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #9B0000;
	display: block;
	height: 15px;
	width: 88px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px;
	border: 1px solid #000000;
}
.tabActive {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9b0000;
	display: inline;
	height: 15px;
	width: 88px;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	background-color: #d6cfb1;
	border: 1px solid #3F7FAF;
}
.tabInBetween {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F7FAF;
	display: inline;
	height: 26px;
	top: 12px;
	width: 10px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #3F7FAF;
	border-right-color: #3F7FAF;
	border-bottom-color: #3F7FAF;
	border-left-color: #3F7FAF;
	background-color: #E2EOD2;
}

.tabLine {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F7FAF;
	display: inline;
	height: 26px;
	top: 12px;
	width: 200px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #3F7FAF;
	border-right-color: #3F7FAF;
	border-bottom-color: #3F7FAF;
	border-left-color: #3F7FAF;
	background-color: #E2EOD2;
}
.spacer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	display: none;
	height: 20px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	top: 15px;
}
.tableOuter {
	display: inline;
	width: 700px;
	font-weight: bold;
	text-align: center;
	padding: 30px;
	height: 300px;
	vertical-align: top;
	background-color: #E2E0D2;
}
.tableOuterNormal {
	display: inline;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	vertical-align: top;
	background-color: #e4eadd;
}
.tblHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	background-color: #ffb435;
	height: 23px;
	border: 1px solid #CCCCCC;
	padding:3px;
}
.tblData {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #EDF5FB;
	height: 23px;
	display: block;
	padding: 5px;

}
.tblDataYellow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	background-color:#FF0000;
	height: 23px;
	display: block;
	padding: 1px;
	text-indent: 5px;
	
}
.tblDataRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	background-color: #D0D7D0;
	height: 23px;
	padding: 1px;
	text-indent: 100px;
	text-align: center;
	float: right;
}
.tblDataNP {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	background-color:#FF9966;
	height: 23px;
	display: block;
	padding: 1px;
	text-indent: 5px;
}
.tblControl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFF00;
	background-color: #889988;
	display: block;
	height: 27px;
	border-top: 1px dotted #000000;
	border-right: 1px dotted #000000;
	border-bottom: 0px dotted #000000;
	border-left: 1px dotted #000000;
	font-size: 12px;
}
.tblControlData {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFF00;
	text-indent: 3px;
}
.tablemiddle {

	display: inline;
	width: 630px;
	font-weight: bold;
	text-align: justify;
	padding: 30px 5px;
	height: 300px;
	vertical-align: top;
	background-color: #e4eadd;
}
.tblHeaderP {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
	font-weight: bold;
	background-color:#ffffff;
	height: 23px;
	text-indent: 5px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	line-height: 18px;
}
.Header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: bold;
	color: #01005B;
	line-height: normal;
}
.bodyText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: #000000;
	line-height: normal;
}

.tabOn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666633;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: auto;
	text-decoration: none;
	display: block;
}

.tabOn:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #01005B;
	background-color: #99994D;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: auto;
	text-decoration: none;
	display: block;
}
.tdData1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; text-align:left; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f9f9f2; TEXT-DECORATION: none
}
/*.tdData1 a {
	text-decoration:none;
	color:#990000;
	}
	.tdData1 a:hover {
	text-decoration:none;
	color: #003366;
	}*/
.tdData2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; text-align:left; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ececdb; TEXT-DECORATION: none
}
.tblData1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	HEIGHT: 23px;
	BACKGROUND-COLOR: #ffffff;
	display: block;
	padding: 5px;
}
.tblDataYellow {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR:#FFFF99; TEXT-DECORATION: none
}
.dblDataBlue {
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR:#FFBC9B;  TEXT-DECORATION: none
}
.TableLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

a:hover.TableLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	text-decoration: none;
}
.TableHD {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.DeepBlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00005A;
	font-weight: normal;
	text-decoration: underline;
	background-color:#D6CFB1
}
a:hover.DeepBlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: normal;
	text-decoration: underline;
	background-color:#D6CFB1
}
.Input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#000000;
	height: 20px;
	width: auto;
}
.logout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	height: 22px;
	width: auto;
	background-color: #993300;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px;
	border: 2px solid #666666;
	z-index: auto;
	top: auto;
	display: block;
}
a:hover.logout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	height: 22px;
	width: auto;
	background-color: #cc3300;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px;
	border: 2px solid #666666;
	z-index: auto;
	top: auto;
	display: block;
}
.Active {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	color: #9b0000;
	display: inline;
	height: 20px;
	top: 12px;
	width: auto;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-left-width: 2px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #3F7FAF;
	border-right-color: #3F7FAF;
	border-bottom-color: #3F7FAF;
	border-left-color: #3F7FAF;
	background-color: #d6cfb1;
}
.Inactive {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	color: #FFFFFF;
	background-color: #9B0000;
	display: block;
	height: 20px;
	top: 12px;
	width: auto;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	text-decoration: none;
}
.Submit {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.BlueHD {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000066;
	font-weight: bolder;
	text-decoration: none;
}
.RedTextBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D20000;
	font-weight: bold;
}
.RedTextBold:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F86BE;
	font-weight: bold;
	background-color: #FFFF00;
}
.BlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0033FF;
	font-weight: bold;
	text-decoration: none;
}
a:hover.BlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #870303;
	font-weight: bold;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
.Header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21pt;
	font-weight: bold;
	color: #01005B;
	line-height: normal;
}
.bodyText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: #000000;
	line-height: normal;
}
.copy {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	line-height: normal;
}
a:hover.copy{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	background-color: #FFFF00;
}
.tabOn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666633;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: auto;
	text-decoration: none;
	display: block;
}

.tabOn:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #01005B;
	background-color: #99994D;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: auto;
	text-decoration: none;
	display: block;
}
.bodyboldText {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
	line-height: normal;
}
.bodyblack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.INPUT1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	margin: 0px;
	padding: 0px;
	border: 1px solid #666666;
	text-align: center;
}
.grayborder {
	border: 1px solid #666666;
}
.bodyblackunderline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.Hyperlink {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.Hyperlink:hover {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000CC;
	font-weight: bold;
	text-decoration: none;
}
mright{
	margin-right: 15px;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	background-color: #D6CFB1;
	text-align: left;
	text-indent: 5pt;
}
.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #990000;
	font-weight: normal;
	text-decoration: underline;
	text-align: left;
	text-indent: 10pt;
}
.sublink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #01005B;
	text-align: left;
	text-indent: 5pt;
	
}
.RedIcon {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D20000;
	font-weight: bold;
	margin-right: 10px;
}
.RedIcon:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D20000;
	font-weight: bold;
	margin-right: 10px;
	background-color: #FFFF00;
}
.menuborder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	background-color: #D6CFB1;
	text-align: left;
	text-indent: 5pt;
	border: 1px solid #999999;
}
.tblhead1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #9B0000;	
	font-weight: bold;
	text-align: center;	
	text-decoration: none;
}
.BlueHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3F86BE;
	font-weight: bold;
	text-decoration: none;
}
.
.bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	background-color:#FFFF00;
	height: 20px;
	border: 1px solid #333333;
}
.bgComplete {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#009900;
	height: 20px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
}
.bgsubComplete {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#009900;
	height: 15px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	display: block;
}
.border {
	border: 1px solid #e3e3e3;
}
.graybg {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	background-color:#F4F4F4;
	height: 20px;
	border: 1px solid #999999;
}
.Whitebg {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	background-color:#FFFFFF;
	height: 20px;
	border: 1px solid #333333;
}
/*.Whitebg a {
	text-decoration:none;
	color:#990000;
	}
.Whitebg a:hover {
	text-decoration:none;
	color: #003366;
	}*/
.WhiteTextbold {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#3f86Be;
	height: 20px;
}
.tab-Inactive {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	background-color: #DA1212;
	display: block;
	height: 20px;	
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 0px;
	text-decoration: none;
	/*background-color: #3f86BE;*/
	text-indent: 5pt;
	white-space:nowrap;
	background-image:url(../images/btnBG.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
.tab-Inactive a {
	text-decoration:none;
	color: #000;
	}
.tab-Inactive a:hover {
	text-decoration:none;
	color: #FFF;
	}
.tab-Inactive:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	display: block;
	height: 20px;
	top: 12px;	
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 0px;
	text-decoration: none;
	background-color: #C9DDED;
	text-indent: 5pt;
}
.tab-active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*background-image:url(../images/btnBG.gif);
	background-repeat:repeat-x;
	background-position:left top;*/
	color: #FFFFFF;
	display: block;
	height: 20px;
	top: 12px;
	width: auto;
	font-weight: bold;
	text-align: left;
	padding: 3px 5px 1px;
	background-color: #cd8407;
	vertical-align: middle;
	/*border-bottom-width: 2px;
	border-bottom-style: double;
	border-bottom-color: #DA1212;*/
	text-decoration: none;
	text-indent: 5pt;
	white-space:nowrap;
}
.tableheaderblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	color: #FFFFFF;
	background-color: #DA1212;
	display: block;
	height: 20px;
	width: auto;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	text-decoration: none;
	background-color: #3f86BE;
	text-indent: 5pt;
}
.BlackHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.BlackHeader:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.MainHeader {
	font-family: Tahoma;
	font-size: 20pt;
	font-weight: bold;
	color: #3F86BE;
	line-height: normal;
	text-transform: none;
}
.SubMainHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: #Da1212;
	line-height: normal;
}
.tabOn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #009900;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: auto;
	border: 1px solid #333333;
}
.BlueHeaderbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #3F86BE;
	font-weight: bold;
	text-decoration: none;
}
.mleft {
	margin-left: 20px;
}
.mright {
	margin-right: 5px;
}
.groupTree {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	text-align:left
}
.Redlink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D20000;
	font-weight: bold;
}
.SCROLLERLEFT 	{border:0px solid #A0C6E5;padding:0px;overflow-x:hidden;overflow-y:auto;vertical-align:top;}
.blueButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	background-color: #CFCFCF;
	border: 1px solid #000000;

}
.LeftData
{
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;

}.BlueHeaderbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F86BE;
	font-weight: bold;
	text-decoration: none;
}
.copyred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ED5151;
	line-height: normal;
	text-decoration: none;
}
.copyred:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	text-decoration: none;
	background-color: #FFFF00;
}
.copyblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #0033FF;
	line-height: normal;
	text-decoration: none;
}
/*.copyblue:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #006633;
	line-height: normal;
	text-decoration: none;
	background-color: #FFFF00;
}*/
.blackTextBoldnew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
a:hover.blackTextBoldnew {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #870000;
	font-weight: bold;
	text-decoration: underline;
}
.copyred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #FF6633;
	line-height: normal;
	text-decoration: none;
}
.copyred:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	text-decoration: none;
	background-color: #FFFF00;
}
.copyblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #0033FF;
	line-height: normal;
	text-decoration: none;
}
.copyblue:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #006633;
	line-height: normal;
	text-decoration: none;
	background-color: #FFFF00;
}
.copy {
	font-size: 7pt;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	font-weight: normal;
}
.copyblack {
	font-size: 7pt;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	font-weight: normal;
}
.BlackHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	
}
.BlackHeader:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D20000;
	font-weight: bold;
	
	background-color: #FFFF00;
}
.smallBlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0033FF;
	font-weight: normal;
	text-decoration: none;
}
a:hover.smallBlueText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #870303;
	font-weight: normal;
	text-decoration: underline;
}
.ReportHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: Red;
	style:bold;
	font-weight: bold;
}
.FormBorder {
	border: 1px solid #999999;
	/*padding-top:10px;*/
}
.FormBorder1 {
	border: 1px solid #999999;
	margin-top:15px;
}
.tablebox {
	border: 1px double #999999;
}
.whitetextbold1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 10px;
	background-color: #E19513;
	height: 22px;
	text-align: left;
	text-indent: 10pt;
}

.whitetextbold2 {
	background-color: #E19513;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	margin-left: 10px;
	height: 30px;
	text-align: left;
	text-indent:2pt;
}
.WhiteBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.BlackHeadersmall {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.RedTextbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#DD1313;
	height: 20px;
}
.boldwhitetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 18px;
	text-align: center;
	text-decoration: none;
	padding: 2px;
}
.lightbluetext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color:#4FA3E4;
	height: 20px;
}
#pagetop 
{
	margin: auto;
	width: 100%;
	text-align: left;
	padding: 0px;	
	
	
}
#content{
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#footerbg {
	background-color: #FFFFFF;
	height: 100px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #226c9f;
	background-image: url(../Images/footer.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#footer{
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	
}
#footer #whitetextnormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #106398;
	text-decoration: underline;
}
#footer #whitetextnormal:hover {
	
	text-decoration: none;
}
#footer .blue {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #226c9f;
}
.bltxt{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2071a5;
	text-decoration: none;
	font-weight: bolder;
}
.bltxt:hover{
text-decoration:underline;
}
.submitBtn{
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #0A3450;
	color: #FFF;
	background-color: #105a8b;
	padding: 5px;	
	}
.bk{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	
}
.input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:bold;
	color:#990000;
	text-decoration:none;
	line-height:20px;
	
}
#footerbg1 {
	background-color: #5a6d0a;
	height: 25px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #96b704;
	color: #FFFFFF;
	font-size: 11px;
}
.viewTable table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #383838;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
}

.viewTable td {
	padding:5px;
	background-color:#fbfdf0;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.viewTable th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:4px;
	background:#657e27;
	color: #FFF;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align:left;
}
.viewTable table td a:link, .viewTable table td a:visited{
	color:#006699;
	text-decoration:none;n
	font-weight: normal;
}
.viewTable table td a:hover{
	color:#993300;
	text-decoration:none;
	font-weight: normal;
}

.formBoxHead {background-color:#96b704; font-weight:bold; color:#FFF; text-align:left; height:18px;}