<!-- <section class="wrapper megamenu-wraper">
    <div class="container common-container four_content">
       <p class="showhide"><em></em><em></em><em></em></p>
       <nav class="main-menu clearfix" id="main_menu">
          <ul class="nav-menu">
             <li class="nav-item"> <a href="#" class="home"><span style="display: none;">home</span><i
                      class="fa fa-home"></i></a> </li>
             
             <li class="nav-item">
                <a href="#">ବିକସିତ କିସମ</a>

                <ul class="sub-nav-group">
                   <li><a routerLink="/ouat">ଓ.ୟୁ.ଏ.ଟି. </a></li>
                   <li><a routerLink="/crri">ସି.ଆର୍.ଆର୍.ଆଇ.</a></li>
                   <li><a routerLink="/released">ଅନ୍ୟ</a></li>
                </ul>

             </li>
           
             <li class="nav-item">
                <a href="#">ସରକାରୀ ବିହନ ବିଭାଗ</a>

                <ul class="sub-nav-group">
                   <li><a href="http://www.osscltd.in/index.htm">ଓ.ଏସ.ଏସ.ସି</a></li>
                   <li><a href="http://www.orissaagro.com/">ଓ.ଏ.ଆଇ.ସି.</a></li>
                   <li><a
                         href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">ଓସୋପକା</a>
                   </li>
                </ul>

             </li>
             <li class="nav-item">
                <a>ଆମ୍ଭ ବିଷୟ ରେ</a>

                <ul class="sub-nav-group">
                   <li _ngcontent-qkk-c5=""><a routerLink="/contactUs">ଆମ ସହିତ ଯୋଗାଯୋଗ</a>
                   </li>

                </ul>

             </li>
             <li class="nav-item">
                <a href="http://odishaseedsportal.nic.in/login/login">ଲଗ ଇନ </a>
             </li>
             <li class="nav-item"><a href="inner.html">ବିହନ ଡିବିଟି </a>

                <ul class="sub-nav-group">
                   <li><a class="active" href="http://agrisnetodisha.ori.nic.in/stock/login.aspx"
                         target="_blank"><strong>ବିହନର ବିବରଣୀ</strong></a></li>

                   <li><a class="active" href="http://agrisnetodisha.ori.nic.in/stock/login.aspx"
                         target="_blank"><strong>କୃଷକ ପଞ୍ଜିକରଣ</strong></a></li>

                   <li><a class="active" href="https://dbtmbdodisha.nic.in/users/#/login"
                         target="_blank"><strong>ଡବ୍ଲୁ ଏସ ଏଚ ଜି ପଞ୍ଜିକରଣ</strong></a></li>

                   <li><a class="active" href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/"
                         target="_blank"><strong>ଅନ୍ ଲାଇନ୍ ବିହନ ଲାଇସେନ୍ସିଂ</strong></a></li>



                </ul>

             </li>
             <li class="nav-item"><a href="inner.html">କୃଷକ ସଂଶୋଧନ ସୂଚୀ
                
                </a>

                <ul class="sub-nav-group">
                   <li><a href="../../../assets/seed/AAO Manual.pdf">ଏଏଓ</a>
                   </li>
                   <li><a href="../../../assets/seed/CDAO Manual.pdf">ସିଡିଏଓ</a>
                   </li>
                </ul>

             </li>
           
          </ul>
       </nav>
       <nav class="main-menu clearfix" id="overflow_menu">
          <ul class="nav-menu clearfix">
          </ul>
       </nav>
    </div>
    <style type="text/css">
       body~.sub-nav {
          right: 0
       }
    </style>
 </section> -->



 <section class="wrapper megamenu-wraper">
    <p style="display: none;">Megamenu</p>
    <div class="container common-container four_content">
      <p class="showhide" onclick="menu_toggle()"><em></em><em></em><em></em></p>
      <nav class="main-menu clearfix" id="main_menu">
        <ul class="nav-menu">
          <li class="nav-item">
            <a routerLink="/" class="home">
              <span style="display: none;">Home</span>
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn">ବିକସିତ କିସମ </a>
            <div class="dropdown-content">
              <a routerLink="/ouat" style="color: #fff;"> <b>ଓ.ୟୁ.ଏ.ଟି.</b> </a>
              <a routerLink="/crri" style="color: #fff;"><b>ସି.ଆର୍.ଆର୍.ଆଇ.</b> </a>
              <a routerLink="/released" style="color: #fff;"><b>ଅନ୍ୟ</b> </a>
            </div>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn">ସରକାରୀ ବିହନ ବିଭାଗ</a>
            <div class="dropdown-content">
              <a href="http://www.osscltd.in/index.htm" style="color: #fff;"> <b>ଓ.ଏସ.ଏସ.ସି</b> </a>
              <a href="http://www.orissaagro.com/" style="color: #fff;"><b>ଓ.ଏ.ଆଇ.ସି.</b> </a>
             
            </div>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn">ଆମ୍ଭ ବିଷୟ ରେ</a>
            <div class="dropdown-content">
              <a routerLink="/contactUs" style="color: #fff;"> <b>ଆମ ସହିତ ଯୋଗାଯୋଗ</b> </a>
            </div>
          </li>
          <li class="nav-item"><a href="">ଲଗ ଇନ</a></li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn">ବିହନ ଡିବିଟି </a>
            <div class="dropdown-content">
              <a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx" style="color: #fff;"> <b>ବିହନର ବିବରଣୀ</b> </a>
              <a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx" style="color: #fff;"> <b>କୃଷକ ପଞ୍ଜିକରଣ</b> </a>
              <a href="https://dbtmbdodisha.nic.in/users/#/login" style="color: #fff;"> <b>ଡବ୍ଲୁ ଏସ ଏଚ ଜି ପଞ୍ଜିକରଣ</b> </a>
              <a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/" style="color: #fff;"> <b>ଅନ୍ ଲାଇନ୍ ବିହନ ଲାଇସେନ୍ସିଂ</b> </a>
            </div>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn">କୃଷକ ସଂଶୋଧନ ସୂଚୀ</a>
            <div class="dropdown-content">
              <a href="../../../assets/seed/AAO Manual.pdf" style="color: #fff;"> <b>ଏଏଓ</b> </a>
              <a href="../../../assets/seed/CDAO Manual.pdf" style="color: #fff;"> <b>ସିଡିଏଓ</b> </a>
            </div>
          </li>
        </ul>
      </nav>
  
      <nav class="main-menu clearfix" id="overflow_menu">
        <ul class="nav-menu clearfix"></ul>
      </nav>
    </div>
  </section>
  