

<section class="home-page-sec-4">
    <div class="home-page-sec-4-top-bg">
        <img src="../../assets/images/home-page-sec-4-top.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-page-table">
                    <div class="heading-group-1 text-center">
                        <h4>Fees Structure of {{finyear}} {{season}} </h4>
                        <h2>Before 10 Year</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div > Sl. Crop</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px"> Crop Name</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">Govt.<br> Seed Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">National<br> Seed Cost(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">HIL Seed<br> Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">Jaysankar Agro <br>Seed Price(Rs.)</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let crop of groupedCropData; let i = index">
                                    <td >{{ i + 1 }}</td>
                                    <td style="width: 86px">{{ crop.Crop_Name}}</td>
                                    <!-- <td>{{ crop.Crop_Name.data.All_in_cost_Price}}</td> -->
                                    <td style="width: 86px">{{ crop.x.GOVT || '--'}}</td>
                                    <td style="width: 86px">{{ crop.x.NSC ||'--'}}</td>
                                    <td style="width: 86px">{{ crop.x.HIL ||'--'}}</td>
                                    <td style="width: 86px">{{ crop.x.JA||'--'}}
                                    </td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-page-table">
                    <div class="heading-group-1 text-center">
                        <h4>Fees Structure of {{finyear}} {{season}} </h4>
                        <h2>After 10 Year</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div > Sl. Crop</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px"> Crop Name</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">Govt.<br> Seed Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">National<br> Seed Cost(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px" >HIL Seed<br> Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div style="width: 86px">Jaysankar Agro <br>Seed Price(Rs.)</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cropPrice of groupedCropDataAfter; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td style="width: 86px">{{ cropPrice.Crop_Name}}</td>
                                    <td style="width: 86px">{{ cropPrice.y.GOVT|| '--'}}</td>
                                    <td style="width: 86px">{{ cropPrice.y.NSC ||'--'}}</td>
                                    <td style="width: 86px">{{ cropPrice.y.HIL ||'--'}}</td>
                                    <td style="width: 86px">{{ cropPrice.y.JA||'--'}}
                                    </td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-page-sec-4-bottom">
        <img src="../../assets/images/home-page-sec-4-bottom.png" alt="" class="w-100">
    </div>
</section>
