<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title" style="margin-top: 13px;">
                    <h4 class="m-b-10">Dashboard</h4>
                    <!-- <p class="m-b-0">Dealer/PACS selling to farmer</p> -->
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/aao/farmerdetailscheck"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/aao/dashboard">Dashboard</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 13%;">
    <div class="col-2"></div>
    <div class="col-8" style="font-size: 70px;; color: #CBBE94"> Welcome to {{username}}</div>

</div>
