<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-25">Pre-Booking Pending Details.</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item">
                        <a href="/home"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/farmersale">Farmer Sale</a>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <br>
    <div class="container-fluid">
       
            <div class="card" >
                <div class="card-header">
                    <h5>Pre-Booking Pending Details</h5>
                </div>
                <div class="table-responsive tableFixHead" style="text-align: center;">
                    <label for="" *ngIf="prebookingDtlDelerWise.length == 0" style="color: red; "><b>No Record Found  !!!!!!!!!</b></label>
                    <table class="table table-bordered"  *ngIf="prebookingDtlDelerWise.length > 0">
                        <thead>
                          <tr>
                            <th>Sl No.</th>
                            <th>Application ID</th>
                            <th>District Name</th>
                            <th>Beneficiary Type</th>
                            <th>Beneficiary Id</th>
                            <th>Seed Name</th>
                            <th>Seed Variety</th>
                            <th>Bag Size</th>
                            <th>No of Bag</th>
                            <th>Quantity</th>
                            <th>Intended Month</th>
                            <th>Total Paid Amount</th>                                    
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let y of prebookingDtlDelerWise ; let i = index">
                                <td scope="row">{{ i + 1 }}</td>
                                <td>{{y.applicationID}}</td>
                                <td>{{y.District_Name}}</td>
                                <td *ngIf="y.beneficiaryType == 'F'">Farmer</td>
                                <td *ngIf="y.beneficiaryType == 'D'">Dealer</td>
                                <td>{{y.beneficiaryId || '--'}}</td>
                                <td>{{y.Crop_Name}}</td>
                                <td>{{y.Variety_Name}}</td>
                                <td>{{y.bagSize}}</td>
                                <td>{{y.noOfBag}}</td>
                                <td>{{y.quantity}}</td>
                                <td>{{y.monthOfPurchase}}</td>
                                <td>{{y.totalPaidAmt}}</td>
                                <!-- (click)="deleteTranscationDtl(y.DTL_TRANSACTION_ID)" -->
                                <td><button type="button" class="btn btn-danger btn-sm waves-effect waves-light"(click)="databind(y)"  data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-trash"
                                     aria-hidden="true"></i></button></td>

                            </tr>
                        </tbody>
                      </table>
                   
                </div>
            </div>
            <br>
            <br>
        </div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(252, 61, 61);">
                  <h5 class="modal-title" id="exampleModalLabel">  Conformation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <label for="recipient-name" class="col-form-label">  Are you sure you want to delete <b style="color: red;"><u>{{selectedApplicationID}}</u></b> application id ?</label>
                
                  
                      <label for="message-text" class="col-form-label">Remark:</label>
                      <textarea class="form-control" [(ngModel)]="remark"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-danger"(click)="dataDeletePrebookingDtl(selectedApplicationID)"  data-dismiss="modal"
                  >Yes</button>
                </div>
              </div>
            </div>
          </div>
</div>
