<div class="related-link-wrapper">
    <h2>Related Links</h2>
    <div class="Related-links-text">
       <ul class="list">
          <li>
             <div class="list-content"><a href="#">Link 1</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Link 2</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Link 3</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Link 4</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Link 5</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Link 6</a></div>
          </li>
       </ul>
       <div class="view-all">
          <a href="#" title="Know More About Related Links" alt="Viw all updates of Related Links"><button>View All</button></a>
       </div>
    </div>
 </div>