
<h2 mat-dialog-title>Dealer List</h2>
<mat-dialog-content class="mat-typography">
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
              <th >Sl No.</th>
                <th >Block</th>
                <th>FARMNAME</th>
                <th>ADDRESS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let y of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ y.block_name}}</td>
              <td>{{ y.APP_FIRMNAME}}</td>
              <td >{{ y.APPADDRESS}}</td>
              
            </tr>

        </tbody>
    </table>

 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button type="button" class="btn mr-2 mb-2 btn-info" (click)="viewfile(data.oaicBillUrl)">
    <i class="fa fa-file-pdf" aria-hidden="true">
      View PDF File
    </i>
  </button> -->
</mat-dialog-actions>
