<div class="modal-header">
    <h4 class="modal-title">Crop Availability List</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
     
        <table class="table table-hover" style="text-align: center;" >
          <thead>
            <tr>
              <th>Sl No.</th>
              <th>Crop Name</th>
              <th>Availability(Quintal)</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let y of cropListValue; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ y.Crop_Name}}</td>
              <td>{{ y.avlQtyInQTL}}</td>
              <td><button type="button" class="btn mr-2 mb-2 btn-primary" >
                <i class="fa fa-eye" aria-hidden="true">
                  View Details
                </i>
              </button></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>


  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
  </div>
   -->