
<!--/#skipCont-->
<section id="fontSize" class="wrapper body-wrapper ">
   <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#"> &nbsp; ନୀତି ଏବଂ ନିର୍ଦ୍ଦେଶାବଳୀ</a></li>
            </ul>
         </div>
      </div>
      <section id="page-head" class="wrapper headings-wrapper">
         <div class="container common-container four_content ">
            <h2>ୱେବସାଇଟ୍ ନୀତି</h2>
            <hr />
         </div>
      </section>
      <!--/#page-head-->

      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="container common-container four_content ">
            <p> ଏହା ହେଉଛି କୃଷି ନିର୍ଦ୍ଦେଶାଳୟର ଅଫିସିଆଲ୍ ୱେବସାଇଟ୍ ଏବଂ ଖାଦ୍ୟ ଉତ୍ପାଦନ odisha, ଡିଜାଇନ୍,
               ବିକଶିତ ଏବଂ
               NIC ଦ୍ୱାରା ଆୟୋଜିତ |</p>

            <p> ସାଧାରଣ ଜନତାଙ୍କୁ ସୂଚନା ପ୍ରଦାନ କରିବାକୁ ଏହି ସାଇଟ୍ ବିକଶିତ କରାଯାଇଛି | ଏକ ପ୍ରୟାସ କରାଯାଇଛି |
               ବିହନ ଏବଂ ଏହାର ବିଭିନ୍ନ ବିଷୟରେ ନିର୍ଭରଯୋଗ୍ୟ, ବିସ୍ତୃତ, ସଠିକ୍ ସୂଚନା ପ୍ରଦାନ କରିବାକୁ ଏହି ସାଇଟ୍ ମାଧ୍ୟମରେ |
               ସଂସ୍ଥାଗୁଡ଼ିକ | ବିଭିନ୍ନ ସ୍ଥାନରେ ହାଇପର୍ ଲିଙ୍କ୍ ଅନ୍ୟ ଭାରତୀୟ ସରକାରୀ ପୋର୍ଟାଲ୍ / ୱେବସାଇଟ୍ ଗୁଡିକୁ ଯୋଗାଇ ଦିଆଯାଇଛି |
            </p>

            <p> ଏହି ସାଇଟରେ ଥିବା ବିଷୟବସ୍ତୁ ହେଉଛି ବିଭିନ୍ନ ଗୋଷ୍ଠୀ ଏବଂ ବିଭାଗର ଏକ ମିଳିତ ପ୍ରୟାସର ଫଳାଫଳ |
               ବିଭାଗ ଦୃଷ୍ଟିରୁ ଏହି ସାଇଟର ଉନ୍ନତି ଏବଂ ସମୃଦ୍ଧତା ଜାରି ରଖିବା ଆମର ପ୍ରୟାସ |
               ନିୟମିତ ଭାବରେ ବିଷୟବସ୍ତୁ କଭରେଜ୍, ଡିଜାଇନ୍ ଏବଂ ଟେକ୍ନୋଲୋଜି | </p>

         </div>
      </section>

      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="container common-container four_content ">
            <div class=" align-rt">
               <h4> Webmaster </h4>
               <p> odishaseedsportal.nic.in - Website </p>
            </div>
            <hr />
         </div>
      </section>
     