<div class="card-body">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-2">
                    <p><img class=" img-fluid" style="height: 128px;" src="../../../assets/images/Odisha-sasan.png"
                            alt="card image">
                    </p>
                </div>
                <div class="col-10" style="padding-top: 12px;">
                    <p class="big" style=" margin-left: 79px;
                    padding-right: 111px;
                    text-align:justify;
                   font-size: 30px;">INVENTORY OF SEED</p>
                    <p class="big"><b>Directorate of
                            Agriculture & Food Production,</b>
                    <p>
                    <p class="big"> <b>Govt. of Odisha</b></p>

                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="header-right">
                <p class="small" style="color: red;"><strong>For Further Assitance/Technical Support/Any
                        Querries.</strong></p>
                <p class="small"> <strong>Mail To : <span style="color: rgb(198, 241, 110);">dbt.odisha@gov.in/egovcell.agri.od@nic.in</span></strong></p>
                <p class="small"> <strong>Help Line No : <span style="color: rgb(198, 241, 110);">+91-7008542438</span> (10:30AM - 5:30 PM)</strong></p>
                <p class="small"><strong>Farmer Registration & Payment : <span style="color: rgb(198, 241, 110);">+91-7978457129 </span>(10:30AM - 5:30PM) </strong></p>
            </div>
        </div>
    </div>


</div>