<div class="main-wrapper">
    <div class="row">
        <div class="col-3">Stock Supplied To</div> 
        <div class="col-1">:</div>
        <div class="col-8">top</div>
        <div class="col-3">Delivery date</div> 
        <div class="col-1">:</div>       
        <div class="col-8">top</div>
        <div class="col-3">Stock Delivered To</div>
        <div class="col-1">:</div>
        <div class="col-8">top</div>
        <div class="col-3">top</div> 
        <div class="col-1">:</div>       
        <div class="col-8">top</div>
        <div class="col-3">Amount(in Rs.)</div>
        <div class="col-1">:</div>
        <div class="col-8">top</div>
    </div>
</div>