<section>
    <div class="about-section">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="minister-card">
                        <figure><img src=".../../assets/images/rajaSwain.jpg" alt="" title="" /></figure>
                        <div class="min-info">
                            <h2>Shri Ranendra Pratap Swain</h2>
                            <h3>Minister, Agriculture &amp; Farmers' Empowerment</h3>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="minister-card">
                        <figure><img src=".../../assets/images/ArabindaKPadhee.jpg" alt="" title="" /></figure>
                        <div class="min-info">
                            <h2>Dr. Arabinda Kumar Padhee, IAS</h2>
                            <h3>Principal Secretary, Department of Agriculture & Farmers' Empowerment </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="minister-card">
                        <figure><img src=".../../assets/images/AAA.jpg" alt="" title="" />
                        </figure>
                        <div class="min-info">
                            <h2>Shri Prem Chandra Chaudhary, IAS</h2>
                            <h3>Director, Agriculture & Food Production</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12 text-center">
                    <h2>ABOUT SEED PORTAL DIRECTORATE </h2>
                    <p>The Agriculture Department mainly consists of four executive wings namely, Directorate of
                        Agriculture, Directorate of Horticulture, Directorate of Soil Conservation and Watershed
                        Development Mission. Among all the agricultural inputs, seed is the most important basic
                        and critical input required for sustainable agriculture. The responses of all other
                        inputs depend on quality seeds to a large extent.</p>
                    <a href="#" class="r-more-btn">Read More</a>
                </div>
            </div>-->
        </div>
        <div class="about-bottom">
            <img src=".../../assets/images/about-bottom.png" alt="" title="" class="w-100" />
        </div>
    </div>
</section>