<div class="row">
    <div class="col-sm-12">
        <!-- Typography card start -->
        <div class="card">
            <div class="card-header">
                <h5>Stock Details</h5>
                <!-- <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
            </div>
            <div class="card-block typography">
                <div class="row">
                    <div class="col-md-4">
                        Crop : <select name="crop" id="crop" [(ngModel)]="crop" (change)="GetDealerStockVariety();"
                            class="dropdown">
                            <option value="" selected>--Select Crop--</option>
                            <option *ngFor="let crops of _GetDealerStockCrop" [ngValue]="crops">{{crops.Crop_Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        Variety : <select  name="variety" id="variety" [(ngModel)]="variety" (change)="GetDealerStock();"
                            class="dropdown">
                            <option value="" selected>--Select Variety--</option>
                            <option *ngFor="let varieties of _GetDealerStockVariety" [ngValue]="varieties">
                                {{varieties.Variety_Name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        Financial Year : {{finyr}} Seassion : {{SeasonName}}
                    </div>                    
                </div><br>
                <div class="row">
                    <div class="col-md-12" *ngIf="_GetDealerStock?.length">


                        <table class="table table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        Lot Number
                                    </th>
                                    <th>
                                        Source Name
                                    </th>
                                    <th>
                                        Bag Size(Kg)
                                    </th>
                                    <th>
                                        Avl Bags
                                    </th>
                                    <th>
                                        Avl Qty(Qtl.)
                                    </th>
                                    <th>
                                        Price / Qtl
                                    </th>
                                    <th>
                                        Subsidy / Qtl
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stock of _GetDealerStock;" (click)="ShowModal(stock)"
                                    data-toggle="modal" data-target="#exampleModal">
                                    <td>
                                        {{stock.LOT_NO}}
                                    </td>
                                    <td>
                                        {{stock.Receive_Unitname}}
                                    </td>
                                    <td>
                                        {{stock.BAG_SIZE_IN_KG}}
                                    </td>
                                    <td>
                                        {{stock.AVL_BAGS}}
                                    </td>
                                    <td>
                                        {{stock.AVL_QUANTITY}}
                                    </td>
                                    <td>
                                        {{stock.All_in_cost_Price}}
                                    </td>
                                    <td>
                                        {{stock.TOT_SUBSIDY}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12" *ngIf="_GetDealerStock?.length==0">
                        <p>No stock available.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Typography card end -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crop: <label class="text">{{crop.Crop_Name}} </label>, Variety:<label
                        class="text">{{variety.Variety_Name}} </label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" ngDefaultControl>Variety
                    </div>
                    <div class="col-md-6">
                        <label class="text"> {{variety.Variety_Name}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" [(ngModel)]="LOT_NO" ngDefaultControl>Lot Number
                    </div>
                    <div class="col-md-6">
                        <label class="text"> {{LOT_NO}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" [(ngModel)]="BAG_SIZE_IN_KG" ngDefaultControl>Bag Size
                    </div>
                    <div class="col-md-6"><label class="text"> {{BAG_SIZE_IN_KG}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" [(ngModel)]="AVL_BAGS" ngDefaultControl>No. of Bags To Be Sold
                    </div>
                    <div class="col-md-6">
                        <select name="AVL_BAGS" id="AVL_BAGS" [(ngModel)]="AVL_BAGS1" (change)="GetPrice();"
                            class="dropdown">
                            <option *ngFor="let bag of _AVL_BAGS" [ngValue]="bag">{{bag}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" [(ngModel)]="price_lot" ngDefaultControl>Price
                    </div>
                    <div class="col-md-6"><label class="text"> {{price_lot}} </label>
                    </div>
                </div>
                <!-- <div class="row">
                <div class="col-md-6">No. of Bags To Be Sold
                </div>
                <div class="col-md-6"><input type="text" id="noofBags" name="noofbags">
                </div>
            </div> -->
                <!-- <table class="table table-sm">
                <tr>
                    <td>Crop Name</td><td></td>                    
                </tr>
                <tr>
                    <td>Variety Name</td><td></td>                    
                </tr>
                <tr>
                    <td>Lot Number</td><td>{{stock.LOT_NO}}</td>                    
                </tr>
                <tr>
                    <td>Bag Size</td><td>{{stock.BAG_SIZE_IN_KG}}</td>                    
                </tr>
                <tr>
                    <td>Bags Available </td><td>{{stock.AVL_BAGS}}</td>                    
                </tr>                
            </table> -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddLot()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="_AddLot?.length">
        <div class="card">
            <div class="card-header">
                <h5>Farmer Sale Details</h5>
                <!-- <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
            </div>
            <div class="card-block typography">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-md">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        Sl No
                                    </th>
                                    <th>
                                        Crop Name
                                    </th>
                                    <th>
                                        Variety Name
                                    </th>
                                    <th>
                                        Lot Number
                                    </th>
                                    <th>
                                        Bag Size(Kg)
                                    </th>
                                    <th>
                                        No of Bags
                                    </th>
                                    <th>
                                        Quantity(Qtl)
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lot of _AddLot; let i=index;">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{lot.Crop_Name}}
                                    </td>
                                    <td>
                                        {{lot.Variety_Name}}
                                    </td>
                                    <td>
                                        {{lot.LOT_NO}}
                                    </td>
                                    <td>
                                        {{lot.BAG_SIZE}}
                                    </td>
                                    <td>
                                        {{lot.NO_OF_BAGS}}
                                    </td>
                                    <td>
                                        {{lot.Qty_qtl}}
                                    </td>
                                    <td>
                                        {{lot.Amount}}
                                    </td>
                                    <td>
                                        <button id="remove" class="btn-danger"
                                            (click)="RemoveLot(i,lot.Amount,lot.NO_OF_BAGS,lot.Qty_qtl)"> Remove</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
        
                                    </td>
                                    <td>
        
                                    </td>
                                    <td>
        
                                    </td>
                                    <td>
                                        TOTAL
                                    </td>
                                    <td>
        
                                    </td>
                                    <td>
                                        {{totBags}}
                                    </td>
                                    <td>
                                        {{totQty | number:'1.2-2'}}
                                    </td>
                                    <td>
                                        {{totAmt | number:'1.2-2'}}
                                    </td>
                                    <td>
        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="_AddLot?.length">
        <button id="Proceed1" class="btn btn-primary btn-lg" (click)="RouteLot()"> Proceed</button>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-12" *ngIf="_AddLot?.length==0">
        <p>No stock available.</p>
    </div>
</div>