<app-header></app-header>
<section class="breadcrumb-banner" >
    <figure>
        <!--<img src="" alt="" style="width: 100%;"/>-->
        <img src="../../assets/3.jpg" alt="" style="width: 100%;" height="400px" width="300px">
    </figure>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h2>Website Policies</h2>
                    <div class="bread">
                        <ul id="crumbs"><li><a routerLink="/">HOME</a><span>/</span></li><li>Website Policies</li></ul>						</div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="banne-bottom">
        <img src="../../assets/images/inner-page-banner-shape-2.png" class="w-100" alt="" title="">
    </div>
</section>
   
<section class="home-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <div class="container table-responsive py-5">
                <section id="page-head" class="wrapper headings-wrapper">
                    <div class="container common-container four_content ">
                       <h2>Website Policies</h2>
                       <hr />
                    </div>
                 </section>
                <section id="paragraph" class="wrapper paragraph-wrapper">
                    <div class="container common-container four_content ">
                       <p> This is the Official website of Directorate of Agriculture and food production odisha, designed, developed and
                          hosted by NIC.</p>
           
                       <p> The site has been developed to provide information to the general public. An attempt has been made
                          through this site to provide reliable, comprehensive, accurate information about Seed and its various
                          Entities. Hyperlinks at various places have been provided to other Government Portals / Websites.
                       </p>
           
                       <p> The content in this site is the result of a collaborative effort of various Groups and Divisions of the
                        Directorate. It is our endeavour to continue the enhancement and enrichment of this site in terms of
                          content coverage, design and technology on a regular basis. </p>
           
                    </div>
                 </section>
           
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="home-page-sec-2-bottom">
        <img src="../../assets/images/home-page-sec-4-bottom.png" alt="" title="" class="w-100">
    </div>
</section>

   <app-footer></app-footer>
