<header>
    <div class="header-top" style="overflow: hidden;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="top-left-1">
                    <ul>
                        <li><a href="https://www.odisha.gov.in/" title="Government of Odisha" target="_blank">Government
                                of Odisha</a></li>
                        <li><a href="https://www.odisha.gov.in/" title="ଓଡ଼ିଶା ସରକାର" target="_blank">ଓଡ଼ିଶା
                                ସରକାର </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-5" style="text-align: end;">
                <div class="top-right-1">
                    <ul> <a href="/" style="color: white; text-decoration: none;">English</a>   | <a routerLink="/odia" (click)="homepage()" style="color: white;  text-decoration: none;">ଓଡ଼ିଆ</a>
                        
                   

                        <li>
                            <div class="font-size-changer">
                                <button id="increaseFont">A+</button>
                                <button id="defaultFont">A</button>
                                <button id="decreaseFont">A-</button>
                            </div>
                        </li>
                        <li>
                            <div class="color-switcher">
                                <button id="Black">Black</button>
                                <button id="Blue">Blue</button>
                                <button id="White">White</button>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="top-1">
        <div class="container">
            <div class="row">
                <div class="col-6">

                    <div class="logo">
                        <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/logo1.png" alt="Logo"
                                    title="Directorate of Agriculture and Food Production Odisha" class="logo-1">
                                <figcaption>
                                    <h1><strong>ବିହନ ପୋର୍ଟାଲ </strong> <br />କୃଷି ଏବଂ ଖାଦ୍ୟ ଉତ୍ପାଦନ ନିର୍ଦ୍ଦେଶାଳୟ ଓଡ଼ିଶା</h1>
                                    <h5>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ</h5>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="logo logo-right">
                        <!-- <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/odisha.png" alt="Logo" title="Government Of Odisha"
                                    class="odisha-logo">
                            </figure>
                        </a> -->
                        <div class="cm-con">
                            <div class="logo2-text">
                                <h4>ଶ୍ରୀ ମୋହନ ଚରଣ ମାଜୀ </h4>
                                <h6>ମାନ୍ୟବର ମୁଖ୍ୟମନ୍ତ୍ରୀ</h6>
                            </div>
                            <figure>
                                <img decoding="async"
                                    src=".../../assets/images/cmmajhi.png"
                                    alt="Shri Mohan Charan Majhi" title="Shri Mohan Charan Majhi"><br>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
 </div>
    </div>
   
    <div class="top-2">

        <div class="top-2-wrapper">
            <div class="menu-wrapper">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">


                            <nav id="navigation1" class="navigation">
                                <div class="nav-header">
                                    <div class="nav-toggle"></div>
                                </div>
                                <div class="nav-menus-wrapper">
                                    <ul class="nav-menu align-to-right">
                                        <li><a routerLink="/odia" (click)="homepage()"><i class="fa-solid fa-house"></i></a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ପ୍ରକାଶିତ କିସମ
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" routerLink="/odiaouat">ଓଡ଼ିଶା କୃଷି ଏବଂ ପ୍ରଯୁକ୍ତିବିଦ୍ୟା ବିଶ୍ୱବିଦ୍ୟାଳୟ</a></li>
                                                <li><a class="dropdown-item" routerLink="/odiacrri">କେନ୍ଦ୍ରୀୟ ଚାଉଳ ଅନୁସନ୍ଧାନ ପ୍ରତିଷ୍ଠାନ</a></li>
                                                <li><a class="dropdown-item" routerLink="/odiaothers">ଅନ୍ଯାନ୍ଯ</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ସରକାରୀ ବିହନ କ୍ଷେତ୍ର
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="https://www.osscltd.in"
                                                        target="_blank">ଓଡିଶା ରାଜ୍ୟ ବିହନ ନିଗମ ଲିଃ.</a></li>
                                                <li><a class="dropdown-item" href="https://odishaagro.nic.in"
                                                        target="_blank">ଓଡିଶା କୃଷି ଶିଳ୍ପ ନିଗମ ଲିଃ</a></li>
                                                <li><a class="dropdown-item"
                                                        href="https://wf.ossopca.nic.in/indexHindi.html"
                                                        target="_blank">ଓଡିଶା ରାଜ୍ୟ ବିହନ ଓ ଜୈବ ଉତ୍ପାଦ ପ୍ରମାଣନ ସଂସ୍ଥା</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ନିୟମ ବହି
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/AAO Manual.pdf"  target="_blank">ବ୍ଲକ କୃଷି ଅଧିକାରୀ</a></li>
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/CDAO Manual.pdf"  target="_blank">ମୁଖ୍ୟ ଜିଲ୍ଲା କୃଷି ଅଧିକାରୀ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="https://agrisnetodisha.ori.nic.in/stock/farmer/Home.aspx" target="_blank">କୃଷକ ପରିଚୟ ସ୍ଥିତି</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ସନ୍ଧାନ ତାଲିକା
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" routerLink="/VarietySearch">କିସମ ସନ୍ଧାନ</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ଲଗଇନ୍
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="http://agrisnetodisha.ori.nic.in/stock/Login.aspx" target="_blank">ପୁରୁଣା ସଂସ୍କରଣ</a></li>
                                                <li><a class="dropdown-item" href="/users">ନୂତନ ସଂସ୍କରଣ</a></li>
                                            </ul>
                                        </li>
                                        </ul>

                                </div>
                            </nav>
                            </div>
                    </div>
                </div>


            </div>

            <div class="top-2-announcement" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>ଘୋଷଣା</h4>
                            <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                <a href="#" *ngFor="let i of fillnewsList" style="    font-size: 18px;"><span><img
                                            src=".../../assets/images/icons/new.png" alt=""></span>
                                    {{i.NEWS}}
                                </a>
                            </marquee>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>









    </div>

</header>