<div class="container">
  
  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/images (1).png" class="card-img-top" alt="...">
    </div>
    <h6><b>ବିହନ ଲାଇସେନ୍ସିଂ</b></h6>
    <br>
    <div class="content">
      <ul>
        <li> <a href="https://odishaagrilicense.nic.in/" target="_blank">ଅନ୍ ଲାଇନ୍ ବିହନ ଲାଇସେନ୍ସିଂ</a></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/download.jpg" class="card-img-top" alt="...">
    </div>
    <h6><b> ବିହନ ପ୍ରମାଣିକରଣ</b></h6>
    <br>
    <div class="content">
      <ul>
        <li> <a href="https://odishaagrilicense.nic.in/" target="_blank">
          ଓଡିଶା ରାଜ୍ୟ ବିହନ ଓ ଜୈବ ଉତ୍ପାଦ ପ୍ରମାଣନ ସଂସ୍ଥା
      </a></li>
      </ul>
     
    </div>
</div>


  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/images (3).jpg" class="card-img-top" alt="...">
    </div>
    <h6><b>ବିହନ ପରିସଂଖ୍ୟାନ</b></h6>
    <br>
    <div class="content">
      <ul>
        <li>
          <a href="../../../assets/seed/DISTRIBUTION_OF_DIFFERENT_SEEDS_FROM_2009-14.pdf">ବିଗତ 5 ବର୍ଷ ମଧ୍ୟରେ ବିହନ ବଣ୍ଟନ </a></li>
        <li>
          ବିଗତ 5 ବର୍ଷ ମଧ୍ୟରେ ବିହନ ଉତ୍ପାଦନ</li>
        <li>
          <a href="../../../assets/seed/SRR_during_2008-09_to_2012-13.pdf">ବିଗତ 5 ବର୍ଷ ମଧ୍ୟରେ ବିହନ ପ୍ରତିବଦଳ ହାର</a></li>
        <li>
          ଆସନ୍ତା 5 ବର୍ଷ ମଧ୍ୟରେ ପ୍ରକଳ୍ପିତ ବିହନ ପ୍ରତିବଦଳ ହାର</li>
      </ul>
    </div>
  </div>
</div>