<!-- <h5><b><u>Top 10 seed varieties sold(in Qtl) in this season</u></b></h5>
<div id="divChart">
    <canvas id="myChart"></canvas>  
</div> -->
<div class="fancybox1"> 
    <div class="row slider">
    <div class="col-sm-3">
       <a href="" data-fancybox="images">
          <p id="rcorners1">Seed Data</p>
       </a>       
    </div>
    <div class="col-sm-3">
    <div>
       <a href="" data-fancybox="images">
          <p id="rcorners1">Ossopca Data</p>
       </a>
    </div>
    </div>
    <div class="col-sm-3">
       <a href="" data-fancybox="images">
          <p id="rcorners1">Seeds Sold in this season</p>
       </a>
    </div>
    <div class="col-sm-3">
       <a href="" data-fancybox="images">
          <p id="rcorners1">Varieties Sold</p>
       </a>
    </div>
          </div>        
       </div>