
<div class="container">

   <div class="card">
      <div class="content">

         <h3 class="heading5"> <u>Prerequisite</u></h3>
         <br>
         <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to
            purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
      </div>
   </div>



   <div class="card">
      <div class="content">

         <h3 class="heading5"><u>Search Dealer</u></h3>
         <br>
         <div class="form-floating mb-3">
            <label for="floatingInput"><strong>District</strong></label>
          </div>
          <div class="btn-group">
            <select class="form-select" aria-label="Default select example" (change)="openDocumentsDilog()">
               <option selected>Select District</option>
               <option value="1">Khurdha</option>
               <option value="2">Nayagrh</option>
               <option value="3">Dhenkanal</option>
             </select>
          </div>
         
      </div>
   </div>

   <div class="card">
      <div class="content">

         <h3 class="heading5"><u>Variety</u></h3>
         <br>
        
      </div>
   </div>



</div>

<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->