
<div mat-dialog-content>
    <p style="font-size: larger;color:red;font-weight: 500;">{{message}}</p>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Favorite Animal</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field> -->
  </div>
  <div mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
    <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
</div>
