<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu waves-effect waves-light" id="mobile-collapse">
                <i class="ti-menu"></i>
            </a>
            <div class="mobile-search waves-effect waves-light" >
                <div class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Keyword">
                            <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                        </div>
                    </div>
                </div>
               
            </div>
            <a>
                <h3 class="m-b-10" style="margin-top: 10%;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seed DBT</h3>
            </a>
            <a class="mobile-options waves-effect waves-light" onclick="myFunction1();" >
                <i class="ti-more"></i>
                <div  id="1" class="mobile-container"  style="display: none;">
                    <a routerLink="/" style="color: white !important">Logout</a>
                  </div>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li>
                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                </li>
                <li>
                    <a onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                        <i class="ti-fullscreen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right" onclick="myFunction();">
               
                <li class="user-profile header-notification" >
                    <a  class="waves-effect waves-light">
                        <img src="assets/images/download.png" class="img-radius" alt="User-Profile-Image">
                        <span>{{username}}</span>
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="show-notification profile-notification" id="myDIV" style="margin-top: -20px;">
                        <!-- <li class="waves-effect waves-light">
                            <a >
                                <i class="ti-settings"></i> Settings
                            </a>
                        </li>
                        <li class="waves-effect waves-light">
                            <a >
                                <i class="ti-user"></i> Profile
                            </a>
                        </li>
                        <li class="waves-effect waves-light">
                            <a >
                                <i class="ti-email"></i> My Messages
                            </a>
                        </li>
                        <li class="waves-effect waves-light">
                            <a >
                                <i class="ti-lock"></i> Lock Screen
                            </a>
                        </li> -->
                        <li class="waves-effect waves-light" *ngIf="role == 'Dealer'">
                            <a routerLink="/farmersale/UpdateAccDtls" class="waves-effect waves-dark">
                                <span class="pcoded-micon"><i class="ti-id-badge"></i></span>
                                <span class="pcoded-mtext">Account Info</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                        </li>
                        <li class="waves-effect waves-light">
                            <!-- <a href="/">
                                <i class="ti-layout-sidebar-left"></i> Logout
                            </a> -->
                            <a routerLink="/"><i class="ti-layout-sidebar-left"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
