<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Farmer Sale</h5>
                    <p class="m-b-0">Dealer/PACS selling to farmer</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/seedDBT/transaction/farmerSale/Farmersale">Farmer Sale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">                        
                <div class="row form-material">
                    <div class="col-md-12"  *ngIf="FarmerSale">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-prepend" id="name"><label
                                                            class="input-group-text"><i
                                                                class="">{{FarmerIdPre}}/</i></label></span>
                                                    &nbsp;&nbsp;
                                                    <input id="farmerid" type="number" min="0"
                                                        oninput="validity.valid||(value='');" value="farmerid"
                                                        ng-model="farmerid" class="form-control1"
                                                        placeholder="Farmer ID" title="Enter your Farmer ID"
                                                        data-toggle="tooltip">&nbsp;
                                                    <button (click)="getFarmerPerDtl()"
                                                        class="btn waves-effect waves-light btn-primary"><i
                                                            class="icofont icofont-search"></i>Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xl-6">
                        <app-farmerinfo [farmerid1]="FarmerId" *ngIf="farmerinfo"></app-farmerinfo>  
                        <div style="text-align: right;">
                            <button class="btn waves-effect waves-light btn-primary mr-2" *ngIf="hide" (click)="ShowHide()">Back</button>
                            <button class="btn waves-effect waves-light btn-primary" *ngIf="next" (click)="ShowNext()">Proceed</button> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <app-farmerdtl [farmerid]="FarmerId" [finyr]="FinYr" [season]="Season"  *ngIf="farmerdtl"></app-farmerdtl>
                    </div>
                    <div class="col-sm-12">
                        <app-dealerstockdtl [LicNo]="LicNo" [finyr]="FinYr" [season]="Season"  *ngIf="dealerstockdtl"></app-dealerstockdtl>
                    </div>
                    <div class="col-sm-12">
                        <!-- <app-invoice></app-invoice> -->
                    </div>
                </div>                  
            </div>
            <!-- Page-body end -->
        </div>
        <div id="styleSelector"> </div>
    </div>
</div>