<section class="home-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box-1">
                    <figure>
                        <img src="../../assets/images/SeedLegislationEnforcement.jpg" alt="">
                    </figure>
                    <h3> Seed Legislation <br> & Enforcement 
                        <img src="../../assets/images/icons/lawenforcement.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul >
                            <li>
                                <!-- ../../assets/seed/Legislations/Seed%20Act%201966.pdf -->
                              <a href="../../assets/seed/Legislations/Seed%20Act%201966.pdf" target="_blank">The&nbsp;Seeds Act,1966</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">The&nbsp;Seeds (Amendment) Act, 1972</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20Rule%201968.pdf" target="_blank">The&nbsp;</a><a href="../../assets/seed/Legislations/Seed Rule 1968.pdf">Seeds Rule,1968</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1973</a></li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1974</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed_Control_Order-1983.pdf" target="_blank">The&nbsp;Seeds Control Order ,1983</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">The&nbsp;Amendment in Seeds Control Order, 2006</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">The&nbsp;Seeds Control(Ammendment) Order, 2014</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Essential%20Commodity%20Act%201955.pdf">The&nbsp;Essential Commodity Act, 1955</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">The&nbsp;Essential Commodity Act (Amendment up to 1986)</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank">The&nbsp;Essential Commodity Act, 2006</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/Seed%20Bill%202004.pdf" target="_blank">The&nbsp;Seeds bill, 2004</a>.</li>
                            <li>
                              <a href="../../assets/seed/Legislations/PPVFRA_2001.pdf" target="_blank">The Protection of Plant Varieties and Farmers Act, 2001</a></li>
                            <li>
                              <a href="../../assets/seed/Legislations/PPVFRA_RULES_2003.pdf" target="_blank">The Protection of Plant Varieties and Farmer's Rights Rules, 2003.</a></li>
                            <li>
                              <a href="../../assets/seed/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">Seed Inspectors List</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/Policieson-Seed.jpg" alt="">
                    </figure>
                    <h3>Policies <br>
                        on Seed 
                        <img src="../../assets/images/icons/Policies.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="../../assets/seed/State_Agriculture_Policy_2013.pdf" target="_blank">State Agriculture Policy 2013</a></li>
                            <li>
                              <a href="../../assets/seed/National_Seed_Policy_2002.pdf" target="_blank">National Seed Policy 2002</a></li>
                            <li>
                              <a href="http://dgft.delhi.nic.in/" target="_blank">Exim Policy</a></li>
                            <li>
                              <a href="../../assets/seed/Exim_policy_note.pdf" target="_blank">Note on Exim Policy 2002-07</a></li>
                            <li>
                              <a href="../../assets/seed/New_Policy_on_Seed_Development_1988.pdf" target="_blank">New Policy on Seed development 1988</a></li>
                            <li>
                              <a href="../../assets/seed/Amended_New_Policy_on_SeedDevelopment1988.pdf" target="_blank">Amendment to policy on seed development 1988</a></li>
                          </ul>
                  
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/ResourceMaterials.jpg" alt="">
                    </figure>
                    <h3>Resource <br>
                        Materials
                         <img src="../../assets/images/icons/Resource.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="../../assets/seed/INDIAN_MINIMUM_SEED_CERTIFICATION_STANDARDS.pdf" target="_blank">Indian Minimum Seed Certification Standard 2013</a></li>
                            <li>
                              <a href="http://www.agricoop.nic.in/seed/" target="_blank">Seed Inspector Manual</a></li>
                            <li>
                              Handbook on seed Testing</li>
                            <li>
                              <a href= "../../assets/seed/Seed Testing Manual.pdf" target="_blank">Seed Testing Manual</a></li>
                            <li>
                              <a href="../../assets/seed/scan0134.pdf">Recommended Screen Aperture Size for Seed&nbsp;Processing</a></li>
                            <li>
                              <a href="../../assets/seed/SRR_SMR.pdf">Seed Rate/Seed multiplication ratio of field crops</a></li>
                            <li>
                              <a href="../../assets/seed/Seed Inspectors List.xls">seed inspectors list</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/SeedLicensing.jpg" alt="">
                    </figure>
                    <h3>Seed <br>
                        Licensing
                        <img src="../../assets/images/icons/Licensing.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="https://odishaagrilicense.nic.in/" target="_blank">Online Seed licencing</a>
                            </li>
                            <li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/SeedCertification.jpg" alt="">
                    </figure>
                    <h3>Seed <br>
                        certification
                        <img src="../../assets/images/icons/certification.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="https://wf.ossopca.nic.in/" target="_blank">Odisha State Seed & Organic Products
                                Certification Agency</a>
                            </li>
                            <li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/SeedStatistics.jpg" alt="">
                    </figure>
                    <h3>Seed <br>
                        Statistics
                        <img src="../../assets/images/icons/Statistics.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="../../assets/seed/DISTRIBUTION_OF_DIFFERENT_SEEDS_FROM_2009-14.pdf"
                                target="_blank">Seed distribution in last 5 years.</a>
                            </li>
                            <li>
                              Seed Production in last 5 years.</li>
                            <li>
                              <a href="../../assets/seed/SRR_during_2008-09_to_2012-13.pdf"
                                target="_blank">Seed replacement rate in last 5 years</a>
                            </li>
                            <li>
                              Projected Seed replacement in next 5 years.</li>
                          </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="home-page-sec-2-bottom">
        <img src="../../assets/images/home-section-2-bottom.png" alt="" title="" class="w-100">
    </div>
</section>