<!-- <app-odia-header></app-odia-header> -->
<!--/#skipCont-->
<section id="fontSize" class="wrapper body-wrapper ">
   <div class="bg-wrapper inner-wrapper">
      <!-- <div class="breadcam-bg breadcam">
          <div class="container common-container four_content ">
             <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="#"> &nbsp; Contact us </a></li>
             </ul>
          </div>
       </div> -->

      <style>
         hr {
            border-top: 1px solid #000;
            width: 50%;
         }

         a {
            color: #000;
         }

         a:link {
            text-decoration: none;
         }

         #contact2 {
            letter-spacing: 3px;
         }
      </style>
   </div>
   <div class="container">
      <h1 style="text-align: center;">ଆମ ସହିତ ଯୋଗାଯୋଗର ଠିକଣା :</h1>
      <hr style=" margin-left: 25%;">
      <div class="row">

         <div class="col-sm-7">
            <iframe
               src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d14972.096993505918!2d85.82427457937493!3d20.257829082734755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d20.2459739!2d85.83838469999999!4m5!1s0x3a19a724348135b3%3A0x527aec929994f312!2sdirectorate%20of%20agriculture%20and%20food%20production!3m2!1d20.270821599999998!2d85.82848!5e0!3m2!1sen!2sin!4v1687772061016!5m2!1sen!2sin"
               width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>

         <div class="col-sm-5" id="contact2">
            <h3>ଡାକ ଠିକଣା:</h3>
            <hr>
            <!-- <h4 class="pt-2">Sede operativa</h4> -->
            <i class="fas fa-globe" style="color:#000"></i> Directorate of Agriculture and Food Production<br><br>
            <h4 class="pt-2">ଫୋନ୍ ନମ୍ବର </h4>
            <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+">0674-2395532</a><br>
            <i class="fas fa-phone" style="color:#000"></i><a href="tel:+"> 0674-2392431 </a><br><br>
            <h4 class="pt-2">ଇ-ମେଲ୍ </h4>
            <i class="fa fa-envelope" style="color:#000"></i> <a href=""> diragri[dot]or[at]nic[dot]in </a><br>
            <i class="fa fa-envelope" style="color:#000"></i> <a href=""> jdafarmseeds[dot]dag[at]nic[dot]in </a><br>
         </div>
      </div>
   </div><br>
</section>

