<section class="wrapper megamenu-wraper">
  <p style="display: none;">Megamenu</p>
  <div class="container common-container four_content">
    <p class="showhide" onclick="menu_toggle()"><em></em><em></em><em></em></p>
    <nav class="main-menu clearfix" id="main_menu">
      <ul class="nav-menu">
        <li class="nav-item">
          <a routerLink="/" class="home">
            <span style="display: none;">Home</span>
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle dropbtn">Released Variety </a>
          <div class="dropdown-content">
            <a routerLink="/ouat" style="color: #fff;"> <b>OUAT</b> </a>
            <a routerLink="/crri" style="color: #fff;"><b>CRRI</b> </a>
            <a routerLink="/released" style="color: #fff;"><b>Others</b> </a>
          </div>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle dropbtn">Govt. Seed Sector </a>
          <div class="dropdown-content">
            <a href="http://www.osscltd.in/index.htm" style="color: #fff;"> <b>OSSC</b> </a>
            <a href="http://www.orissaagro.com/" style="color: #fff;"><b>OAIC</b> </a>
           
          </div>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle dropbtn">About Us </a>
          <div class="dropdown-content">
            <a routerLink="/contactUs" style="color: #fff;"> <b>Contact Us</b> </a>
          </div>
        </li>
        <li class="nav-item"><a href="">Login</a></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle dropbtn">Seed DBT </a>
          <div class="dropdown-content">
            <a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx" style="color: #fff;"> <b>INVENTORY OF SEED</b> </a>
            <a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx" style="color: #fff;"> <b>PRINT FARMER ID</b> </a>
            <a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx" style="color: #fff;"> <b>Farmer Registration</b> </a>
            <a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/" style="color: #fff;"> <b>Online Seed licencing</b> </a>
          </div>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle dropbtn">Farmer Updation Manual </a>
          <div class="dropdown-content">
            <a href="../../../assets/seed/AAO Manual.pdf" style="color: #fff;"> <b>AAO</b> </a>
            <a href="../../../assets/seed/CDAO Manual.pdf" style="color: #fff;"> <b>CDAO</b> </a>
          </div>
        </li>
      </ul>
    </nav>

    <nav class="main-menu clearfix" id="overflow_menu">
      <ul class="nav-menu clearfix"></ul>
    </nav>
  </div>
</section>
