@charset "utf-8";
/* Common CSS */
body {
    margin: 0px;
    padding: 0px;
}

a {
    border: none;
    outline: none;
}

form {
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
    outline: none;
}

.outertbl {
    height: 100%;
    width: 100%;
}


.topbarbg {
    /*background-image: url(../images/topbarbg.jpg);
    background-repeat: repeat-x;*/
    height: 96px;
}

.spacer1 {
    height: 5px;
    clear: both;
    margin: 0px;
    padding: 0px;
}

#logo {
    width: 100px;
    height: 96px;
    float: left;
    margin-left: 8px;
}

#titlecontainor {
    width: 45%;
    float: left;
    height: 96px;
}

.logobg {
    background-image: url(../images/logobg.jpg);
    /*background-repeat: no-repeat;
    background-color: #121212;*/
    background-position: left top;
    height: 96px;
}
.logobg1 {
    /*background-image: url(../images/logobg.jpg);*/
    /*background-repeat: no-repeat;*/
    background-color: #121212;
    background-position: left top;
    height: 96px;
}
.title1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #A6B639;
    text-shadow: 0.1em 0.1em #000;
    padding-top: 5px;
    padding-left: 15px;
}

.title2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #FFF;
    text-shadow: 0.1em 0.1em #000;
    padding-top: 0px;
    padding-left: 15px;
}

.title3 {
    font-family: "Comic Sans MS", cursive;
    font-size: 100%;
    /*font-size:14px;*/
    color: #FFF;
    text-shadow: 0.1em 0.1em #000;
    padding-top: 0px;
    padding-left: 15px;
}


.contentbg {
    /*background-image: url(../images/contentbg.jpg);
    background-repeat: repeat-x;
    background-position: top;*/
    background-color: #CECECE;
}
.contentbgLogin {
    background-image: url(../images/login_background.jpg);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #CECECE;
}
.footer {
    background-image: url(../images/footerbg.jpg);
    background-repeat: repeat-x;
    height: 43px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
}

/* Common CSS End*/



/* Login Section CSS */

.logintopbar {
    background-image: url(../images/topbar.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px;
    margin: 0px;
    height: 92px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 160%;
    color: #FFF;
    text-align: left;
    padding-left: 20px;
}

.loginbottombar {
    background-image: url(../images/bottombar.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0px;
    margin: 0px;
    height: 12px;
}

.log-refl {
    background-image: url(../images/bot-ref.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 55px;
}

.logintxt {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    padding: 5px;
}

.chkboxcon {
    width: 15px;
    height: 15px;
    float: left;
}

.rem-me {
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 12px;
    float: left;
    width: 100px;
    padding: 3px 3px 3px 8px;
}

.login-input-con {
    width: 75px;
    height: 24px;
    float: right;
}

.logintxtbox {
    width: 180px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    padding: 2px;
    border: 1px solid #CCC;
}

.mandiatory {
    font-family: Tahoma, Geneva, sans-serif;
    color: #F00;
    font-size: 12px;
    padding: 5px;
}

.forgotpassword {
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 12px;
}

    .forgotpassword a:link {
        font-family: Tahoma, Geneva, sans-serif;
        color: #06C;
        font-size: 12px;
        text-decoration: none;
    }

    .forgotpassword a:visited {
        font-family: Tahoma, Geneva, sans-serif;
        color: #06C;
        font-size: 12px;
        text-decoration: none;
    }

    .forgotpassword a:hover {
        font-family: Tahoma, Geneva, sans-serif;
        color: #600;
        font-size: 12px;
        text-decoration: none;
    }

/* Login Section CSS End */


/* inner Section CSS */

.icon-info-containor {
    width: 40%;
    height: 96px;
    float: right;
    background-color: #121212;
}

.icons {
    width: 42px;
    height: 40px;
    float: right;
    margin-left: 8px;
}

.icons1 {
    width: 60px;
    height: 40px;
    float: right;
    margin-left: 8px;
}

.info {
    width: 309px;
    background-image: url(../images/infbarbg.png);
    background-repeat: repeat-y;
    background-position: right top;
    margin-top: 8px;
    float: right;
    height: 43px;
    padding-right: 10px;
}

.navbar {
    background-image: url(../images/navbar.jpg);
    background-repeat: repeat-x;
    height: 35px;
    text-align: left;
}



/****************Navigation**********************/

#nav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 35px;
    background: #fff url(../images/three_0.gif) repeat-x;
    position: relative;
    z-index: 500;
    font-family: arial, verdana, sans-serif;
}

    #nav li.top {
        display: block;
        float: left;
        height: 35px;
    }

    #nav li a.top_link {
        display: block;
        float: left;
        height: 35px;
        line-height: 33px;
        color: #FBFCFE;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        padding: 0 0 0 10px;
        cursor: pointer;
        background: url(../images/three_0.gif);
    }

        #nav li a.top_link span {
            float: left;
            display: block;
            padding: 0 30px 0 24px;
            height: 35px;
            background: url(../images/three_0.gif) right top no-repeat;
        }

            #nav li a.top_link span.down {
                float: left;
                display: block;
                padding: 0 30px 0 24px;
                height: 35px;
                background: url(../images/three_0a.gif) no-repeat right top;
            }

    #nav li:hover a.top_link {
        color: #FF0;
    }

        #nav li:hover a.top_link span {
            background: url(../images/three_1.gif) no-repeat center top;
        }

            #nav li:hover a.top_link span.down {
                background: url(../images/three_1a.gif) no-repeat right top;
            }

    /* Default list styling */

    #nav li:hover {
        position: relative;
        z-index: 200;
    }


        #nav li:hover ul.sub {
            left: 1px;
            top: 35px;
            background: #CCC;
            padding: 3px;
            white-space: nowrap;
            width: 180px;
            height: auto;
            z-index: 300;
            border: 1px solid #012753;
        }

            #nav li:hover ul.sub li {
                display: block;
                height: 20px;
                position: relative;
                float: left;
                width: 180px;
                font-weight: normal;
                color: #FFF;
            }

                #nav li:hover ul.sub li a {
                    display: block;
                    font-size: 12px;
                    height: 18px;
                    width: 178px;
                    line-height: 18px;
                    text-indent: 5px;
                    color: #000;
                    text-decoration: none;
                }

    #nav li ul.sub li a.fly {
        background: #CCC url(../images/arrow.gif) 170px 6px no-repeat;
    }

    #nav li:hover ul.sub li a:hover {
        background: #012753;
        color: #fff;
        border-color: #fff;
    }

    #nav li:hover ul.sub li a.fly:hover {
        background: #012753 url(../images/arrow_over.gif) 170px 6px no-repeat;
        color: #fff;
    }


    #nav li:hover li:hover ul, #nav li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover li:hover ul {
        left: 180px;
        top: -4px;
        background-color: #CCC;
        padding: 3px;
        border: 1px solid #5c731e;
        white-space: nowrap;
        width: 180px;
        z-index: 400;
        height: auto;
    }

        #nav ul, #nav li:hover ul ul, #nav li:hover li:hover ul ul, #nav li:hover li:hover li:hover ul ul, #nav li:hover li:hover li:hover li:hover ul ul {
            position: absolute;
            left: -9999px;
            top: -9999px;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            list-style: none;
        }

    #nav li:hover li:hover a.fly, #nav li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover li:hover a.fly {
        background: #012753 url(../images/arrow_over.gif) 170px 6px no-repeat;
        color: #fff;
        border-color: #fff;
    }

    #nav li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li:hover li a.fly {
        background: #CCC url(../images/arrow.gif) 170px 6px no-repeat;
        color: #000;
    }
/*****************Navigation End***********************/




.infotxt {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FBFCFE;
    text-align: right;
}

.infotxthl {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFCC00;
    text-align: right;
}

.infotxthl2 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-align: right;
}

/* inner Section CSS End */

/***************Inner Pages CSS***************/
.bedcromb {
    background-image: url(../images/bedcromb.jpg);
    background-repeat: repeat-y;
    padding: 6px 6px 6px 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FFF;
}

.welcometxt {
    font-family: Comic Sans MS;
    font-size: 100px;
    color: #9A8528;
    text-align: center;
}

.Hometxt {
    font-family: Verdana;
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
}

.homepage-welcome {
    background-image: url(../images/books-homepage.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #600;
    line-height: 50px;
}


.note {
    font-family: Tahoma, Geneva, sans-serif;
    color: #600;
    font-size: 12px;
    padding: 5px;
    background-color: #FFF;
}

.tabletxt {
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 12px;
    padding: 5px;
}

.normaltd {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif; /*padding:5px;*/
}

.mandatory {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #C00;
}
/*------Dropdownlist CSS---------*/

select.DropdownCss {
    border: 1px solid #7bc1f7;
    width: 200px;
    height: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #00213d;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

    select.DropdownCss:focus {
        outline: none;
        border: 1px solid #135e8a;
        box-shadow: 0px 0px 8px #CF0A4C;
        -moz-box-shadow: 0px 0px 8px #CF0A4C;
        -webkit-box-shadow: 0px 0px 8px #CF0A4C;
    }
/*------TextBox CSS---------*/
input.TextboxCss {
    border: 1px solid #7bc1f7;
    width: 200px;
    height: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #00213d;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 2px #7bc1f7;
    -moz-box-shadow: 0px 0px 2px #7bc1f7;
    -webkit-box-shadow: 0px 0px 2px #7bc1f7;
}

    input.TextboxCss:focus {
        outline: none;
        border: 1px solid #135e8a;
        box-shadow: 0px 0px 2px #D42367;
        -moz-box-shadow: 0px 0px 2px #D42367;
        -webkit-box-shadow: 0px 0px 2px #D42367;
    }

/*------TextArea CSS---------*/
/*------Button CSS---------*/

.ButtonCss {
    border: 1px solid #fff;
    width: 100px;
    height: 28px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    display: inline-block;
    background-color: #050742;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center; /*text-shadow:0px 4px 0px #b23e35;*/
}

    .ButtonCss:hover {
        outline: none;
        border: 1px solid #fff;
        box-shadow: 0px 0px 8px #008b8b;
        -moz-box-shadow: 0px 0px 8px #008b8b;
        -webkit-box-shadow: 0px 0px 8px #008b8b;
        background-color: #008b8b;
    }

    .ButtonCss:active {
        position: relative;
        top: 5px;
    }

.tbltxtbox {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    width: 250px;
    border: 1px solid #999;
}

.datalisttopbar {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    background-color: #070849;
}

.datalistalternaterow {
    background-color: #F7F6F3;
    color: #000;
}

.datalistdefaultrow {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    background-color: #FFF;
    color: #000;
}

    .datalistdefaultrow a:link {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        color: #000;
        text-decoration: underline;
    }

    .datalistdefaultrow a:visited {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        color: #000;
        text-decoration: none;
    }

    .datalistdefaultrow a:hover {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        color: #63C;
        text-decoration: none;
    }

.searchtb {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    width: 120px;
    border: 1px solid #333;
}

.tblsmalltxtbox {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    width: 100px;
    border: 1px solid #999;
}

.booktxtbox {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    width: 350px;
    border: 1px solid #999;
}

.textAlignText {
    text-align: right;
}


.titleHeader {
    margin: 5px;
    float: left;
    padding: 7px;
    text-align:left;
    color:white;
    background-color:#c081e2;
    border-radius:5px;
    width:98%;
    text-transform: uppercase;
    font-family:Tahoma;
    font-size:15px;
    font-weight:bold;
    clear:both;
}