<header>
<app-header></app-header>
</header>
<section class="breadcrumb-banner">
    <figure>
        <img src="../../assets/images/inner-page-banner.jpg" alt="" style="width: 100%; height: 4%;">
    </figure>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Released Variety</h2>
                    <div class="bread">
                        <ul id="crumbs"><li><a href="/">HOME</a>  <span>/</span></li><li>Released Variety</li></ul>						</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="banne-bottom">
        <img src="../../assets/images/inner-page-banner-shape-2.png" class="w-100" alt="" title="">
    </div> -->
</section>
<section class="home-page-sec-4">
    <div class="home-page-sec-4-top-bg">
        <img src="../../assets/images/home-page-sec-4-top.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="home-page-table">
                    <div class="heading-group-1 text-center">
                       
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                           
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-page-table">
                    <div class="heading-group-1 text-center">
                        <h4>Fees Structure of seed </h4>
                        <h2>After 10 Year</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div > Sl. Crop</div>
                                    </th>
                                    <th>
                                        <div> Crop Name</div>
                                    </th>
                                    <th>
                                        <div >Govt.<br> Seed Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div >National<br> Seed Cost(Rs.)</div>
                                    </th>
                                    <th>
                                        <div >HIL Seed<br> Price(Rs.)</div>
                                    </th>
                                    <th>
                                        <div>Jaysankar Agro <br>Seed Price(Rs.)</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let cropPrice of groupedCropDataAfter; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ cropPrice.Crop_Name}}</td>
                                    <td >{{ cropPrice.y.GOVT|| '--'}}</td>
                                    <td >{{ cropPrice.y.NSC ||'--'}}</td>
                                    <td>{{ cropPrice.y.HIL ||'--'}}</td>
                                    <td >{{ cropPrice.y.JA||'--'}}
                                    </td>
                                 </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="home-page-table">
                    <div class="heading-group-1 text-center">
                       
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-page-sec-4-bottom">
        <img src="../../assets/images/home-page-sec-4-bottom.png" alt="" class="w-100">
    </div>
</section>
<app-footer></app-footer>
