<div class="container">

  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/images (1).png" class="card-img-top" alt="...">
    </div>
    <h6><b>Seed Licensing</b></h6>
    <br>
    <div class="content">
      <!-- <ul>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/" target="_blank">Online Seed licencing</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/StateDealers.aspx" target="_blank">Seed dealers
            list at state level.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistApproved.aspx" target="_blank">List of dealers
            DAOwise.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistOSSC.aspx" target="_blank">List of OSSC
            dealers.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistOAIC.aspx" target="_blank">List of OAIC
            dealers.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistNSC.aspx" target="_blank">List of NSC
            dealers.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistPVT.aspx" target="_blank">List of Private
            Dealers.</a>
        </li>
        <li>
          <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistPAC.aspx" target="_blank">List of PACs
            Dealers.</a>
        </li>
      </ul> -->
    <ul>
      <li>
        <a href="https://odishaagrilicense.nic.in/" target="_blank">Online Seed licencing</a>
      </li>
      <li>
    </ul>
    </div>
  </div>

  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/download.jpg" class="card-img-top" alt="...">
    </div>
    <h6><b> Seed Certification</b></h6>
    <br>
    <div class="content">
      <!-- <ul>
        <li>
          <a href="SeedPortalData/OSSOPCA_News_Letter/PRAMANIKA-7thEDITION.pdf" target="_blank">OSSOPCA 7th Pramanika
            Letter</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/Publicinformation/Dist_growerer_Report.aspx" target="_blank">List of Seed
            Growers(Dist Wise)</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/Plant.aspx" target="_blank">List of Processing Plant</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/scoasco.aspx" target="_blank">List of SCO &amp; ASCO Information</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/PublicInformation/Matrix.aspx" target="_blank">Circle Wise Crop Registered
            Report</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/PublicInformation/OssopcaTotalCropSummary.aspx" target="_blank">Agency-Wise
            Verified Report.</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/" target="_blank">Seed Grower&nbsp;Online&nbsp;Registration System.</a>
        </li>
        <li>
          <a href="http://ossopca.nic.in/publicinformation/ossopca_agency.aspx">SCO wise Agency wise seed cerification
            and P/S/T status</a>
        </li>
        <li>
          SCO wise crop registration Status.</li>
      </ul> -->
      <ul>
        <li>
          <a href="https://wf.ossopca.nic.in/" target="_blank">Odisha State Seed & Organic Products
            Certification Agency</a>
        </li>
        <li>
      </ul>
    </div>
  </div>


  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/images (3).jpg" class="card-img-top" alt="...">
    </div>
    <h6><b>Seed Statistics</b></h6>
    <br>
    <div class="content">
      <ul>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/DISTRIBUTION_OF_DIFFERENT_SEEDS_FROM_2009-14.pdf"
            target="_blank">Seed distribution in last 5 years.</a>
        </li>
        <li>
          Seed Production in last 5 years.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/SRR_during_2008-09_to_2012-13.pdf"
            target="_blank">Seed replacement rate in last 5 years</a>
        </li>
        <li>
          Projected Seed replacement in next 5 years.</li>
      </ul>
    </div>
  </div>




</div>