<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll" id="scrollid">
            <h5 class="card-title">
              Julia Thorn</h5>
            
              <ul>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/State_Agriculture_Policy_2013.pdf" target="_blank">State Agriculture Policy 2013</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/National_Seed_Policy_2002.pdf" target="_blank">National Seed Policy 2002</a></li>
                <li>
                  <a href="http://dgft.delhi.nic.in/" target="_blank">Exim Policy</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Exim_policy_note.pdf" target="_blank">Note on Exim Policy 2002-07</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/New_Policy_on_Seed_Development_1988.pdf" target="_blank">New Policy on Seed development 1988</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Amended_New_Policy_on_SeedDevelopment1988.pdf" target="_blank">Amendment to policy on seed development 1988</a></li>
              </ul>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/mgKqKwcf/2.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll " id="scrollid">
            <h5 class="card-title">
              Martha David</h5>
            
              <ul>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData\Resource Material/INDIAN_MINIMUM_SEED_CERTIFICATION_STANDARDS.pdf" target="_blank">Indian Minimum Seed Certification Standard 2013</a></li>
                <li>
                  <a href="http://www.agricoop.nic.in/seed/" target="_blank">Seed Inspector Manual</a></li>
                <li>
                  Handbook on seed Testing</li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Resource Material/Seed Testing Manual.pdf" target="_blank">Seed Testing Manual</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/scan0134.pdf">Recommended Screen Aperture Size for Seed&nbsp;Processing</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/SRR_SMR.pdf">Seed Rate/Seed multiplication ratio of field crops</a></li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/Seed Inspectors List.xls">seed inspectors list</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll " id="scrollid">
            <h5 class="card-title">
              Laura Chedd</h5>
              <ul>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/" target="_blank">Online Seed licencing</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/StateDealers.aspx" target="_blank">Seed dealers list at state level.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistApproved.aspx" target="_blank">List of dealers DAOwise.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistOSSC.aspx" target="_blank">List of OSSC dealers.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistOAIC.aspx" target="_blank">List of OAIC dealers.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistNSC.aspx" target="_blank">List of NSC dealers.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistPVT.aspx" target="_blank">List of Private Dealers.</a></li>
                <li>
                  <a href="http://agrisnetodisha.ori.nic.in/agrisnetsls/Seed/DistPAC.aspx" target="_blank">List of PACs Dealers.</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card mx-30">
          <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="...">
          <div class="card-body scroll " id="scrollid">
            <h5 class="card-title">
              Laura Chedd</h5>
              <ul>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/DISTRIBUTION_OF_DIFFERENT_SEEDS_FROM_2009-14.pdf" target="_blank">Seed distribution in last 5 years.</a></li>
                <li>
                  Seed Production in last 5 years.</li>
                <li>
                  <a href="http://odishaseedsportal.nic.in/SeedPortalData/SRR_during_2008-09_to_2012-13.pdf" target="_blank">Seed replacement rate in last 5 years</a></li>
                <li>
                  Projected Seed replacement in next 5 years.</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>