<section class="home-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src=".../../assets/images/SeedLegislationEnforcement.jpg" alt="">
                    </figure>
                    <h3> ବିହନ ନିୟମ   ଏବଂ କାର୍ଯ୍ୟକାରିତା 
                     
                        <img src=".../../assets/images/icons/lawenforcement.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul >
                            <li>
                                <!-- ../../assets/seed/Legislations/Seed%20Act%201966.pdf -->
                              <a href=".../../assets/seed/Legislations/Seed%20Act%201966.pdf" target="_blank">ବିହନ ନିୟମ, ୧୯୬୬</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ଅଧିନିୟମ, ୧୯୭୨</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20Rule%201968.pdf" target="_blank">ବିହନ ନିୟମ, ୧୯୬୮</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ନିୟମ, ୧୯୭୩</a></li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ନିୟମ, ୧୯୭୪</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed_Control_Order-1983.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ ଅର୍ଡର, ୧୯୮୩</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ ଅର୍ଡରରେ ସଂଶୋଧନ, ୨୦୦୬</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ (ସଂଶୋଧନ) ଅର୍ଡର, ୨୦୧୪</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Essential%20Commodity%20Act%201955.pdf" target="_blank">ଜରୁରୀ ଦ୍ରବ୍ୟ ଆକ୍ଟ, ୧୯୫୫</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">ଜରୁରୀ ଦ୍ରବ୍ୟ ଆକ୍ଟ (୧୯୮୬ ପର୍ଯ୍ୟନ୍ତ ସଂଶୋଧନ)</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank">ଜରୁରୀ ଦ୍ରବ୍ୟ ଆକ୍ଟ, ୨୦୦୬</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/Seed%20Bill%202004.pdf" target="_blank">ବିହନ ବିଲ୍, ୨୦୦୪</a>.</li>
                            <li>
                              <a href=".../../assets/seed/Legislations/PPVFRA_2001.pdf" target="_blank">ଉଦ୍ଭିଦ କିସମ ଏବଂ କୃଷକ ଆଇନ, ୨୦୦୧</a></li>
                            <li>
                              <a href=".../../assets/seed/Legislations/PPVFRA_RULES_2003.pdf" target="_blank">ଉଦ୍ଭିଦ କିସମର ସୁରକ୍ଷା ଏବଂ କୃଷକଙ୍କ ଅଧିକାର ନିୟମ, ୨୦୦୩</a></li>
                            <li>
                              <a href=".../../assets/seed/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">ବିହନ ଯାଞ୍ଚ ତାଲିକା</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src=".../../assets/images/Policieson-Seed.jpg" alt="">
                    </figure>
                    <h3>ବିହନ ଉପରେ ନୀତି 
                        <img src=".../../assets/images/icons/Policies.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href=".../../assets/seed/State_Agriculture_Policy_2013.pdf" target="_blank">ରାଜ୍ୟ କୃଷି ନୀତି ୨୦୧୩</a></li>
                            <li>
                              <a href=".../../assets/seed/National_Seed_Policy_2002.pdf" target="_blank">ଜାତୀୟ ବିହନ ନୀତି ୨୦୦୨</a></li>
                            <li>
                              <a href="http://dgft.delhi.nic.in/" target="_blank">ରପ୍ତାନି ନୀତି ଆମଦାନୀ କରନ୍ତୁ |</a></li>
                            <li>
                              <a href=".../../assets/seed/Exim_policy_note.pdf" target="_blank">ରପ୍ତାନି ଆମଦାନୀ ନୀତି ୨୦୦୨-୦୭ ଉପରେ ଟିପ୍ପଣୀ</a></li>
                            <li>
                              <a href=".../../assets/seed/New_Policy_on_Seed_Development_1988.pdf" target="_blank">ବିହନ ବିକାଶ ଉପରେ ନୂତନ ନୀତି ୧୯୮୮</a></li>
                            <li>
                              <a href=".../../assets/seed/Amended_New_Policy_on_SeedDevelopment1988.pdf" target="_blank">ବିହନ ବିକାଶ ୧୯୮୮ ରେ ନୀତିରେ ସଂଶୋଧନ</a></li>
                          </ul>
                  
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src=".../../assets/images/ResourceMaterials.jpg" alt="">
                    </figure>
                    <h3>ଉତ୍ସ ସାମଗ୍ରୀ
                         <img src=".../../assets/images/icons/Resource.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href=".../../assets/seed/INDIAN_MINIMUM_SEED_CERTIFICATION_STANDARDS.pdf" target="_blank">ଭାରତୀୟ ସର୍ବନିମ୍ନ ବିହନ ସାର୍ଟିଫିକେଟ୍ ମାନକ ୨୦୧୩</a></li>
                            <li>
                              <a href="" target="_blank">ବିହନ ଯାଞ୍ଚ ପ୍ରକରଣ ପୁସ୍ତିକା</a></li>
                            <li>
                                <a href="" target="_blank">ବିହନ ପରୀକ୍ଷା ଉପରେ ଛୋଟ ପୁସ୍ତକ</a>
                            <li>
                              <a href= ".../../assets/seed/Seed Testing Manual.pdf" target="_blank">ବିହନ ପରୀକ୍ଷା ପ୍ରକରଣ ପୁସ୍ତିକା </a></li>
                            <li>
                              <a href=".../../assets/seed/scan0134.pdf" target="_blank">ବିହନ ପ୍ରକ୍ରିୟାକରଣ ପାଇଁ ପରାମର୍ଶିତ ପରଦା  ଆପେଚର ଆକାର</a></li>
                            <li>
                              <a href=".../../assets/seed/SRR_SMR.pdf" target="_blank">କ୍ଷେତ୍ର ଫସଲର ବିହନ ହାର / ବିହନ ଗୁଣନ ଅନୁପାତ</a></li>
                            <li>
                              <a href=".../../assets/seed/Seed Inspectors List.xls" target="_blank">ବିହନ ନିରୀକ୍ଷକ ତାଲିକା</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6"></div>
            <div class="col-md-4 col-sm-6">
                <div class="box-1"  style="    height: 308px;">
                    <figure>
                        <img src=".../../assets/images/SeedLicensing.jpg" alt="">
                    </figure>
                    <h3>ବିହନ ଲାଇସେନ୍ସ
                        <img src=".../../assets/images/icons/Licensing.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="https://odishaagrilicense.nic.in/" target="_blank">ଅନଲାଇନ୍ ବିହନ ଲାଇସେନ୍ସ</a>
                            </li>
                            <li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6" >
                <div class="box-1"  style="    height: 308px;">
                    <figure>
                        <img src=".../../assets/images/SeedCertification.jpg" alt="">
                    </figure>
                    <h3>ବିହନ ପ୍ରମାଣପତ୍ର
                        <img src=".../../assets/images/icons/certification.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="https://wf.ossopca.nic.in/" target="_blank">
                                ଓଡିଶା ରାଜ୍ୟ ବିହନ ଓ ଜୈବ ଉତ୍ପାଦ ପ୍ରମାଣନ ସଂସ୍ଥା</a>
                            </li>
                            <li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6"></div>
            <!-- <div class="col-md-4 col-sm-6">
                <div class="box-1" >
                    <figure>
                        <img src="../../assets/images/SeedStatistics.jpg" alt="">
                    </figure>
                    <h3>Seed Statistics
                        <img src="../../assets/images/icons/Statistics.png" alt="">
                    </h3>
                    <div class="box-1content">
                        <ul>
                            <li>
                              <a href="../../assets/seed/DISTRIBUTION_OF_DIFFERENT_SEEDS_FROM_2009-14.pdf"
                                target="_blank">Seed distribution in last 5 years.</a>
                            </li>
                            <li>
                              Seed Production in last 5 years.</li>
                            <li>
                              <a href="../../assets/seed/SRR_during_2008-09_to_2012-13.pdf"
                                target="_blank">Seed replacement rate in last 5 years</a>
                            </li>
                            <li>
                              Projected Seed replacement in next 5 years.</li>
                          </ul>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
    <div class="home-page-sec-2-bottom">
        <img src=".../../assets/images/home-section-2-bottom.png" alt="" title="" class="w-100">
    </div>
</section>