<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12" style="margin-top: 9px;">
                <label style="font-size: 18px; font-weight: bold;">Benificiary Details for Transfor of seed subsidy for
                    groundnut cluster
                    demonstration under state plan - Kharif 2022</label>
            </div>

        </div>
    </div>
</div>
<div class="page-body">
    <br>
    <div class="container-fluid">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-left">
                                <h5 class="card-header-text">Transfor Of Seed Subsidy For Groundnut
                                </h5>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row">
                                <div class=" col-md-3">

                                </div>
                                <div class=" col-md-2" style="text-align: right;">
                                    <label class="col-form-label"><b>Enter Farmer ID</b> <span
                                            class="text-danger">*</span>:-</label>
                                </div>
                                <div class=" col-md-4" style="text-align: left;">
                                    <div class="input-group">
                                        <span class="input-group-prepend" id="name"><label class="input-group-text"><i
                                                    class="">{{FarmerIdPre}}/</i></label></span>

                                        <input id="farmerid" type="number" min="0" oninput="validity.valid||(value='');"
                                            [(ngModel)]="farmerid" class="form-control1" placeholder="Enter Farmer ID"
                                            title="Enter your Farmer ID" data-toggle="tooltip">&nbsp;

                                    </div>
                                </div>
                                <div class=" col-md-3">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class=" col-md-4">

                                </div>
                                <div class=" col-md-4">
                                    <label for="" style="font-weight: bold;">
                                        <h5>Purchase Details</h5>
                                    </label>
                                </div>
                                <div class=" col-md-4">

                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class=" col-md-4">
                                    <label class="col-form-label">Bag Size <span class="text-danger">*</span></label>

                                    <select name="select" class="form-control" [(ngModel)]="bagSize"
                                        (change)="quintalChnaged();">
                                        <option value="" disabled>Select Bag Size</option>
                                       
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class=" col-md-4">
                                    <label class="col-form-label">No of Bags<span class="text-danger">*</span></label>

                                    <input type="text" class="form-control" placeholder="Enter No of Bags"
                                        [(ngModel)]="noOfBags" (change)="quintalChnaged();">
                                </div>
                                <div class=" col-md-4">
                                    <label class="col-form-label">Quintal <span class="text-danger">*</span></label>

                                    <input type="text" class="form-control" placeholder="Enter No of Quintal" readonly
                                        [(ngModel)]="Quintal" (change)="amountChnaged();">
                                </div>
                                <div class=" col-md-4">
                                    <label class="col-form-label">Source <span class="text-danger">*</span></label>

                                    <select name="select" class="form-control" [(ngModel)]="Source"
                                        (change)="amountChnaged();">
                                        <option value="" disabled>Select Source</option>
                                        <option value="3980">NSC</option>
                                        <option value="3381">OSSC</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label class="col-form-label">Amount <span class="text-danger">*</span></label>

                                    <input type="text" class="form-control" placeholder="Enter Amount" readonly
                                        [(ngModel)]="Amount">

                                </div>


                            </div>
                        </div>
                        <br>
                        <div class="d-block text-right card-footer">
                            <!-- <div class="row">
                                <div class=" col-md-1">
                                    <div class="dropdown-primary dropdown open">
                                        <button class="btn btn-primary dropdown-toggle waves-effect waves-light "
                                            type="button" id="dropdown-2" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">Log
                                            out</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown-2"
                                            data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                            <a class="dropdown-item waves-light waves-effect"
                                                href="https://agrisnetodisha.ori.nic.in/stock/login.aspx">log
                                                out</a>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-11">
                                    
                                </div>

                            </div> -->
                            <button class="btn btn-primary waves-effect waves-light"
                                        (click)="submitSeedSubsidyOfGrountnut();">Submit</button>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>