<div class="app-wrapper-footer footer" >
    <div class="app-footer">
      <div class="app-footer__inner">
        <div class="row" style="color: white;">
            <div class="col-3">
              
            </div> 
            <div class="col-6">
                  <div >
                    <strong>Designed and developed by National Informatics Centre, Odisha</strong>
                    <img alt="NIC-Logo" src="../../../assets/images/niclogo.png"
                      style="height: 20px; width: 70px">
                  </div>
            </div> 
        </div>
      
      </div>
    </div>
  </div>