<app-odiaheader></app-odiaheader>
<section class="breadcrumb-banner" >
    <figure>
        <!--<img src="" alt="" style="width: 100%;"/>-->
        <img src="../../assets/3.jpg" alt="" style="width: 100%;" height="400px" width="300px">
    </figure>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h2>Contact Us</h2>
                    <div class="bread">
                        <ul id="crumbs"><li><a routerLink="/">HOME</a><span>/</span></li><li>Contact Us</li></ul>						</div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="banne-bottom">
        <img src="../../assets/images/inner-page-banner-shape-2.png" class="w-100" alt="" title="">
    </div>
</section>
   
<section class="home-section-2">
    <div class="container">
        <div class="bg-wrapper inner-wrapper">
            <!-- <div class="breadcam-bg breadcam">
               <div class="container common-container four_content ">
                  <ul>
                     <li><a href="/"> Home </a></li>
                     <li><a href="#"> &nbsp; Contact us </a></li>
                  </ul>
               </div>
            </div> -->
      
            <style>
               hr {
                  border-top: 1px solid #000;
                  width: 50%;
               }
      
               a {
                  color: #000;
               }
      
               a:link {
                  text-decoration: none;
               }
      
               #contact2 {
                  letter-spacing: 3px;
               }
          
      
            </style>
      </div>
            <div class="container">
               <h1 style="text-align: center;">ଯୋଗାଯୋଗ ଠିକଣା</h1>
               <hr style=" margin-left: 25%;">
               <div class="row">
      
                  <div class="col-sm-7">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d14972.096993505918!2d85.82427457937493!3d20.257829082734755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d20.2459739!2d85.83838469999999!4m5!1s0x3a19a724348135b3%3A0x527aec929994f312!2sdirectorate%20of%20agriculture%20and%20food%20production!3m2!1d20.270821599999998!2d85.82848!5e0!3m2!1sen!2sin!4v1687772061016!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
      
                  <div class="col-sm-5" id="contact2">
                     <h5>ଡାକ ଠିକଣା:</h5>
                     <hr >
                     <!-- <h4 class="pt-2">Sede operativa</h4> -->
                     <i class="fa-solid fa-address-card" style="color:#000"></i> କୃଷି ଏବଂ ଖାଦ୍ୟ ଉତ୍ପାଦନ ନିର୍ଦ୍ଦେଶାଳୟ,<br>
                     &nbsp; &nbsp; କୃଷି ଭବନ, ଭୁବନେଶ୍ୱର,ଓଡ଼ିଶା-୭୫୧୦୦୧
                     <h5 class="pt-2">ଫୋନ୍</h5>
                     <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> ୦୬୭୪-୨୩୯୫୫୩୨</a><br>
                     <i class="fas fa-phone" style="color:#000"></i><a href="tel:+">  ୦୬୭୪-୨୩୯୨୪୩୧ </a><br><br>
                     <h5 class="pt-2">ଇ-ମେଲ୍</h5>
                     <i class="fa fa-envelope" style="color:#000"></i> <a href=""> diragri[dot]or[at]nic[dot]in </a><br>
                     <i class="fa fa-envelope" style="color:#000"></i> <a href=""> jdafarmseeds[dot]dag[at]nic[dot]in </a><br>
                  </div>
               </div>
            </div><br>
    </div>
    <div class="home-page-sec-2-bottom">
        <img src="../../assets/images/home-page-sec-4-bottom.png" alt="" title="" class="w-100">
    </div>
</section>
<app-odiafooter></app-odiafooter>
