.tableFixHead          { overflow: auto; max-height: 400px; }
.tableFixHead thead tr { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 11px 16px; }
th     { background:#eee; }