<header class="width">
    <div class="region region-header-top">
       <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
          <noscript class="no_scr">"JzavaScript is a standard programming language that is included to provide
             interactive features, Kindly enable Javascript in your browser. For details visit help page"
          </noscript>
          <div class="wrapper common-wrapper">
             <div class="container common-container four_content top-header">
                <div class="common-left clearfix">
                   <ul>
                      <li class="gov-india"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                               href="https://india.gov.in/hi"
                               title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">ଓଡ଼ିଶା
                               ସରକାର<br></a></span></li>
                      <li class="ministry"><span class="responsive_go_hindi" lang="hi"><a target="_blank"
                               href="https://india.gov.in/hi"
                               title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)" role="link">Government of
                               odisha<br></a></span></li>
                   </ul>
                </div>
                <div class="common-right clearfix">
                   <ul id="header-nav">
                      <li class="ico-skip cf"><a href="#skipCont" title="">Skip to main content</a>
                      </li>
                      <li class="ico-site-search cf">
                         <a href="javascript:void(0);" id="toggleSearch" title="Site Search">
                            <img class="top" src="assets/images/ico-site-search.png" alt="Site Search" /></a>
                         <div class="search-drop both-search">
                            <div class="google-find">
                               <form method="get" action="http://www.google.com/search" target="_blank">
                                  <label for="search_key_g" class="notdisplay">Search</label>
                                  <input type="text" name="q" value="" id="search_key_g" />
                                  <input type="submit" value="Search" class="submit" />
                                  <div class="">
                                     <input type="radio" name="sitesearch" value="" id="the_web" />
                                     <label for="the_web">The Web</label>
                                     <input type="radio" name="sitesearch" value="india.gov.in" checked
                                        id="the_domain" />
                                     <label for="the_domain"> INDIA.GOV.IN</label>
                                  </div>
                               </form>
                            </div>
                            <div class="find">
                               <form name="searchForm" action="">
                                  <label for="search_key" class="notdisplay">Search</label>
                                  <input type="text" name="search_key" id="search_key" onKeyUp="autoComplete()"
                                     autocomplete="off" required />
                                  <input type="submit" value="Search" class="bttn-search" />
                               </form>
                               <div id="auto_suggesion"></div>
                            </div>
                         </div>
                      </li>
                      <li class="ico-accessibility cf">
                         <a href="javascript:void(0);" id="toggleAccessibility" title="Accessibility Dropdown"
                            role="link">
                            <img class="top" src="assets/images/ico-accessibility.png" alt="Accessibility Dropdown" />
                         </a>
                         <ul style="visibility: hidden;">
                            <li> <a onClick="set_font_size(increase)" title="Increase font size"
                                  href="javascript:void(0);" role="link">A<sup>+</sup>
                               </a>
                            </li>
                            <li> <a onClick="set_font_size()" title="Reset font size" href="javascript:void(0);"
                                  role="link">A<sup>&nbsp;</sup></a> </li>
                            <li> <a onClick="set_font_size(decrease)" title="Decrease font size"
                                  href="javascript:void(0);" role="link">A<sup>-</sup></a> </li>
                            <li> <a href="javascript:void(0);" class="high-contrast dark" title="High Contrast"
                                  role="link">A</a> </li>
                            <li> <a href="javascript:void(0);" class="high-contrast light" title="Normal Contrast"
                                  style="display: none;" role="link">A</a> </li>
                         </ul>
                      </li>
                      <li class="ico-social cf">
                         <a href="javascript:void(0);" id="toggleSocial" title="Social Medias">
                            <img class="top" src="assets/images/ico-social.png" alt="Social Medias" /></a>
                         <ul>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.facebook.com/"><img alt="Facebook Page"
                                     src="assets/images/ico-facebook.png"></a>
                            </li>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.twitter.com/"><img alt="Twitter Page"
                                     src="assets/images/ico-twitter.png"></a>
                            </li>
                            <li>
                               <a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.youtube.com/"><img alt="youtube Page"
                                     src="assets/images/ico-youtube.png"></a>
                            </li>
                         </ul>
                      </li>
                      <li class="ico-sitemap cf">
                         <a href="" title="Sitemap">
                            <img class="top" src="assets/images/ico-sitemap.png" alt="Sitemap" /></a>
                      </li>
                      <li style="margin-right: 10px;">
                         <a href=""><strong style="color:black">English</strong>
                         </a>
                      </li>
                      <li>
                         <a href="/odia"><strong strong style="color:black">Odia</strong>
                         </a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <p id="scroll" style="display: none;"><span></span></p>
    </div>
   
   
       <div class="container common-container four_content header-container">
 
          <div class="logo">
             <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
                <img class="national_emblem" src="../../../assets/images/container/seed2.jpg" alt="national emblem"
                   style="border-radius: 50%;width: 100px;">
             </a>
             <div style="display: flex;"> <strong>Seed Portal</strong>
             </div>
             <div style="display: flex;"> <strong>Directorate of Agriculture and food production odisha</strong>
             </div>
 
          </div>
 
          <div class="header-right clearfix">
             <div class="right-content clearfix">
                <div class="float-element" style="display: flex;">
                   <div class="logo">
                      <strong>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ
                      </strong>
                      <div> Department of Agriculture </div>
                      <div> and Farmers' Empowerment</div>
                   </div>
                   <div> <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
                         <img class="national_emblem" src="assets/images/OdishaLogo.png" alt="national emblem">
 
                      </a></div>
                </div>
             </div>
          </div>
       </div>
       <section class="wrapper megamenu-wraper">
         <div class="container common-container four_content">
            <p class="showhide"><em></em><em></em><em></em></p>
            <nav class="main-menu clearfix" id="main_menu">
               <ul class="nav-menu">
                  <li class="nav-item"> <a href="#" class="home"><span style="display: none;">home</span><i
                           class="fa fa-home"></i></a> </li>
                  <li class="nav-item" *ngFor='let i of MenuTextE'>
                     <a href="{{i.MenuLink}}">{{i.MenuText}}<img src="{{i.MenuImg}}" /></a>
                     <div class="sub-nav">
                        <ul class="sub-nav-group">
                           <li *ngFor='let j of SubMenuTextE'><a href="{{j.MenuLink}}">{{j.MenuText}} </a></li>
                        </ul>
                     </div>
                  </li>
   
                  <li class="nav-item">
                     <a href="#">Released Variety</a>
   
                     <ul class="sub-nav-group">
                        <li><a routerLink="/ouat" >OUAT </a></li>
                        <li><a routerLink="/crri" >CRRI</a></li>
                        <li><a routerLink="/released" >Others</a></li>
                     </ul>
   
                  </li>
                  <!-- <li class="nav-item">
                     <a href="http://odishaseedsportal.nic.in/farmerVariety/FrmVar">Farmers Variety</a>
                  </li> -->
                  <li class="nav-item">
                     <a href="#">Govt. Seed Sector</a>
   
                     <ul class="sub-nav-group">
                        <li><a href="http://www.osscltd.in/index.htm">OSSC</a></li>
                        <li><a href="http://www.orissaagro.com/">OAIC</a></li>
                        <li><a
                              href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/OSSOPCA_Letter.pdf">OSSOPCA</a>
                        </li>
                     </ul>
   
                  </li>
                  <li class="nav-item">
                     <a >About Us</a>
   
                     <ul class="sub-nav-group">
                        <li _ngcontent-qkk-c5=""><a routerLink="/contactUs">ContactUs</a>
                        </li>
                           
                     </ul>
   
                  </li>
                  <li class="nav-item">
                     <a href="http://odishaseedsportal.nic.in/login/login">Login </a>
                  </li>
                  <li class="nav-item"><a href="inner.html">Seed DBT</a>
   
                     <ul class="sub-nav-group">
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">INVENTORY OF SEED</a></li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/farmer/home.aspx">PRINT FARMER ID</a></li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/stock/login.aspx">Farmer Registration</a></li>
                        <li><a href="http://agrisnetodisha.ori.nic.in/agrisnetSLS/">Online Seed licencing</a></li>
                     </ul>
   
                  </li>
                  <li class="nav-item"><a href="inner.html">Farmer Updation Manual
                      <!-- <img
                           src="assets/theme/images/ico-new.png" /> -->
                        </a>
   
                     <ul class="sub-nav-group">
                        <li><a
                              href="../../../assets/seed/AAO Manual.pdf">AAO</a>
                        </li>
                        <li><a
                              href="../../../assets/seed/CDAO Manual.pdf">CDAO</a>
                        </li>
                     </ul>
   
                  </li>
                  <!-- <li class="nav-item"><a href="inner.html">Farmer Updation Manual <img
                     src="assets/theme/images/ico-new.png" /></a> -->
                  <!-- <div class="sub-nav">
                  <ul class="sub-nav-group">
                     <li><a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/AAO Manual.pdf">AAO</a>
                     </li>
                     <li><a
                           href="http://odishaseedsportal.nic.in/SeedPortalData/OSSOPCA_News_Letter/CDAO Manual.pdf">CDAO</a>
                     </li>
                  </ul>
               </div> -->
                  <!-- </li> -->
               </ul>
            </nav>
            <nav class="main-menu clearfix" id="overflow_menu">
               <ul class="nav-menu clearfix">
               </ul>
            </nav>
         </div>
         <style type="text/css">
            body~.sub-nav {
               right: 0
            }
         </style>
      </section>
 
 </header>

