<div class="app-wrapper-footer">
    <div class="app-footer">
      <div class="app-footer__inner">
        <div class="row" style="background-color: black;color: white;">
            <div class="col-4">
              
            </div> 
            <div class="col-4">
                <div class="app-footer-left">
                  
                  </div>
                  <div class="app-footer-right" style="margin: 1%;">
                    <strong>Designed and developed by National Informatics Centre, Odisha</strong>
                    <img alt="NIC-Logo" src="../../../assets/images/niclogo.png"
                      style="height: 20px; width: 70px">
                  </div>
            </div> 
        </div>
      
      </div>
    </div>
  </div>