<div class="container">
  <div class="card">
    <div class="circle" > 
      <img src="../../../assets/images/container/5456793cef26c.jpg" class="card-img-top"  alt="...">
      
    </div>
    <h6><b>ବିହନ ନିୟମ ଓ କାର୍ଯ୍ୟାନୁଷ୍ଠାନ</b></h6>
 
    <br>
    <div class="content" >
  
      <ul>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Act%201966.pdf" target="_blank">ବିହନ ବିଧି, 1966</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ବିଧି, 1972</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Rule%201968.pdf" target="_blank">ବିହନ ନିୟମ, 1968</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ନିୟମ, 1973</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">ବିହନ (ସଂଶୋଧନ) ନିୟମ</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">,1974</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed_Control_Order-1983.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ ନିର୍ଦ୍ଦେଶ, 1983.</a></li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ ନିର୍ଦ୍ଦେଶର ସଂଶୋଧନ, 2006</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">ବିହନ ନିୟନ୍ତ୍ରଣ (ସଂଶୋଧନ) ନିର୍ଦ୍ଦେଶ</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">,2014</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">ଅତ୍ୟାବଶ୍ୟକ ଦ୍ରବ୍ୟ ବିଧି, 1955</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">ଅତ୍ୟାବଶ୍ୟକ ଦ୍ରବ୍ୟ ବିଧି (ସଂଶୋଧନ 1986 ପର୍ଯ୍ୟନ୍ତ)</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">&nbsp;</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">ଅତ୍ୟାବଶ୍ୟକ ଦ୍ରବ୍ୟ ବିଧି,</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank"> 2006</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Bill%202004.pdf" target="_blank">ବିହନ ବିଲ୍, 2004</a>.</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_2001.pdf" target="_blank">ଉଦ୍ଭିଦ କିସମର ସୁରକ୍ଷା ଓ କୃଷକର ଅଧିକାର ବିଧି, (2001)</a></li>
        <li>
          ଉଦ୍ଭିଦ କିସମର ସୁରକ୍ଷା ଓ କୃଷକର ଅଧିକାର ନିୟମ, 2003</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">ବିହନ ନିରୀକ୍ଷକ ତାଲିକା</a></li>
      </ul>
        <a href="#">Read More</a>
    </div>
</div>
<!-- 

  <div class="card">
      <div class="circle">
         
        <img src="../../../assets/images/container/images.png" class="card-img-top" alt="...">
      </div>
      <h6><b>ବିହନ ଉତ୍ପାଦନ</b></h6>
      <br>
      <div class="content">
        <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Print_Indent_Report">ପ୍ରଜଜକ ବିହନ ବରାଦ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Print_Allocation_Report">ପ୍ରଜଜକ ବିହନ ଆବଣ୍ଟନ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/Lifting_Report">ପ୍ରଜଜକ ବିହନ ଉଠାଣ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/BS_FS_Report">ପ୍ରଜଜକ ବିହନକୁ ପିଣ୍ଡ ବିହନରେ ପରିଣତ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/Home/FS_CS_Report">ପିଣ୍ଡ ବିହନକୁ ପ୍ରାମାଣିକ ବିହନରେ ପରିଣତ</a></li>
        </ul>
       </div>

  </div>
  <div class="card">
      <div class="circle">
        <img src="../../../assets/images/container/images (1).jpg" class="card-img-top" alt="...">
      </div>
      <h6><b>  ବିହନ ବଣ୍ଟନ</b></h6>
      <br>
      <div class="content" >
        <ul>
          <li>
            <a href="http://odishaseedsportal.nic.in/dda/ddavarietywisereport">କୃଷି ଉପ ନିର୍ଦ୍ଦେଶକଙ୍କ ଦ୍ବାରା ପ୍ରାମାଣିକ ବିହନ ବରାଦ</a></li>
          <li>
            କୃଷି ଉପ ନିର୍ଦ୍ଦେଶକଙ୍କ ଦ୍ବାରା ଅତିରିକ୍ତ ବିହନ ବରାଦ</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/dda/ddareport">ବିହନ ବଣ୍ଟନ କାର୍ଯ୍ୟକ୍ରମ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/supplier/ReportCsAvailability">ଓ.ଏସ୍.ଏସ୍.ସି / ଓ.ଏ.ଆଇ.ସିଙ୍କ ପାଖରେ ଉପଲବ୍ଧ ବିହନ</a></li>
          <li>
            <a href="http://odishaseedsportal.nic.in/dda/ddareport">ବିହନ ସ୍ଥାନାନ୍ତର କାର୍ଯ୍ୟକ୍ରମ</a></li>
          <li>
            ଯୋଗାଣ କାର୍ଯ୍ୟକ୍ରମ</li>
          <li>
            <a href="http://odishaseedsportal.nic.in/supplier/reportdailyseeddistribution">ଓଡ଼ିଶା ରାଜ୍ୟ ବିହନ ନିଗମ / ଓଡ଼ିଶା କୃଷି ଶିଳ୍ପ ନିଗମ ଦ୍ବାରା ବିହନ ବଣ୍ଟନ</a></li>
        </ul>
      </div>
  </div> -->

  <div class="card">
    <div class="circle"> <img src="../../../assets/images/container/download (1).png" class="card-img-top" alt="...">
    </div>
    <h6><b>ବିହନ ସମ୍ବନ୍ଧୀୟ ନୀତି</b></h6>
    <br>
    <div class="content">
      <ul>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/State_Agriculture_Policy_2013.pdf">ରାଜ୍ୟ
            କୃଷି ନୀତି, 2013</a>
        </li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/National_Seed_Policy_2002.pdf">ଜାତୀୟ
            ବିହନ ନୀତି, 2002</a>
        </li>
        <li>
          <a href="http://dgft.delhi.nic.in/">ରପ୍ତାନୀ ଆମଦାନୀ ନୀତି </a>
        </li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Exim_policy_note.pdf">ରପ୍ତାନୀ ଆମଦାନୀ
            ନୀତି ଉପରେ ଟିପ୍ପଣୀ 2002-07 </a>
        </li>
        <li>
          <a
            href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/New_Policy_on_Seed_Development_1988.pdf">ବିହନ
            ଉନ୍ନୟନ ସମ୍ବନ୍ଧୀୟ ନୂତନ ନୀତି, 1988</a>
        </li>
        <li>
          <a
            href="http://odishaseedsportal.nic.in/SeedPortalData/Polices_on_seed/Amended_New_Policy_on_SeedDevelopment1988.pdf">ବିହନ
            ଉନ୍ନୟନ ସମ୍ବନ୍ଧୀୟ ସଂଶୋଧନ ନୀତି, 1988</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="circle">
      <img src="../../../assets/images/container/images (2).jpg" class="card-img-top" alt="...">
    </div>
    <h6><b>ସମ୍ବନ୍ଧୀୟ ତଥ୍ୟ</b></h6> <br>
    <div class="content">
      <ul>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData\Resource Material/INDIAN_MINIMUM_SEED_CERTIFICATION_STANDARDS.pdf"
            target="_blank">ଭାରତୀୟ ସର୍ବନିମ୍ନ ବିହନ ପ୍ରମାଣନ ମାନ 2013 </a>
        </li>
        <li>
          <a href="http://www.agricoop.nic.in/seed/">ବିହନ ନିରୀକ୍ଷକ ମାନୁଆଲ</a>
        </li>
        <li>
          ବିହନ ପରିକ୍ଷଣ ସହାୟକ ପୁସ୍ତକ</li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/Resource Material/Seed Testing Manual.pdf"
            target="_blank">ବିହନ ପରୀକ୍ଷଣ ମାନୁଆଲ</a>
        </li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/scan0134.pdf">ବିହନ ପ୍ରକ୍ରିୟାକରଣ ପାଇଁ ଆବଶ୍ୟକୀୟ ଅନୁମୋଦିତ
            ଜାଲି</a>
        </li>
        <li>
          <a href="http://odishaseedsportal.nic.in/SeedPortalData/SRR_SMR.pdf">କ୍ଷେତ୍ର ଫସଲର ବିହନ ହାର / ବିହନର ଗୁଣନ
            ଅନୁପାତ</a>
        </li>
      </ul>
    </div>

  </div>


</div> 