<div class="wrapper">
   <div class="container">
     <div class="row">
       <div class="col-md-6 col-lg-3">
         <div class="card mx-30">
           <div class="card-header text-center">
             <img src="../../../assets/images/container/banner_Scales.png" class="card-img-top" alt="..." >
           </div>
 
           <div class="card-body scroll" id="scrollid">
             <h6 class="card-title">
               Seed Legislation & Enforcement</h6>
               <ul class="myUL">
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Act%201966.pdf" target="_blank">&nbsp;The&nbsp;Seeds Act,1966</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Ammendment%20Act%201972.pdf" target="_blank">The&nbsp;Seeds (Amendment) Act, 1972</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Rule%201968.pdf" target="_blank">The&nbsp;</a><a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed Rule 1968.pdf">Seeds Rule,1968</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/SeedAmendmentRule_1973.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1973</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Amendment%20Rules%201974.pdf" target="_blank">The&nbsp;Seeds (Amendment) Rule,1974</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed_Control_Order-1983.pdf" target="_blank">The&nbsp;Seeds Control Order ,1983</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Control%20Order(Amendment)%202006.pdf" target="_blank">The&nbsp;Amendment in Seeds Control Order, 2006</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20(Control)%20Amendment%20Order%202014.pdf" target="_blank">The&nbsp;Seeds Control(Ammendment) Order, 2014</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential%20Commodity%20Act%201955.pdf">The&nbsp;Essential Commodity Act, 1955</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_Commodity_Act_1955(Amend_upto_1986).pdf" target="_blank">The&nbsp;Essential Commodity Act (Amendment up to 1986)</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Essential_commodities(Amendment)_Act_2006.pdf" target="_blank">The&nbsp;Essential Commodity Act, 2006</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/Seed%20Bill%202004.pdf" target="_blank">The&nbsp;Seeds bill, 2004</a>.</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_2001.pdf" target="_blank">The Protection of Plant Varieties and Farmers Act, 2001</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/PPVFRA_RULES_2003.pdf" target="_blank">The Protection of Plant Varieties and Farmer's Rights Rules, 2003.</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/SeedPortalData/Legislations/DDAwiseSeedinspectorlist.pdf" target="_blank">Seed Inspectors List</a></li>
               </ul>
 
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <div class="card mx-30">
           <div class="card-header text-center">
           <img src="../../../assets/images/container/banner_environmentalsvg-02-512.png" class="card-img-top" alt="...">
           </div>
           <div class="card-body scroll " id="scrollid">
             <h6 class="card-title">
               Seed Production</h6>
               <p>
                 <span style="color:#0a0a0a;"><span style="font-family: verdana, geneva, sans-serif;margin-left: -70px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><u style="font-family: verdana, geneva, sans-serif;">Public Sector</u></span></p>
               <ul class="myUL">
                 <li>
                   <a href="http://odishaseedsportal.nic.in/Home/Print_Indent_Report">Breeder Seed&nbsp;Indent</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/Home/Print_Allocation_Report">Breeder Seed allotment</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/Home/Lifting_Report">Breeder Seed&nbsp;Lifting</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/Home/BS_FS_Report">Conversion of Breeder Seed to Foundation Seed</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/Home/FS_CS_Report">Conversion of Foundation Seed to Certified Seed</a></li>
               </ul>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <div class="card mx-30">
           <div class="card-header text-center">
           <img src="../../../assets/images/container/banner_Shopping_retail-09-128.png" class="card-img-top" alt="...">
           </div>
           <div class="card-body scroll " id="scrollid">
             <h6 class="card-title">
               Seed Distribution</h6>
               <p>
                 <span style="color:#0a0a0a;"><span style="font-family: verdana, geneva, sans-serif;margin-left: -70px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><u style="font-family: verdana, geneva, sans-serif;">Public Sector</u></span></p>
               <ul class="myUL">
                 <li>
                   <a href="http://odishaseedsportal.nic.in/login/login" target="_blank">Certified&nbsp;Seed Indent by DDAs</a></li>
                 <li>
                   Additional Seed Indent by DDAs</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/dda/ddareport" target="_blank">Seed distribution program</a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/dda/DDAVarietywiseSeedDivisionReport" target="_blank">Seed diversion Programme</a></li>
                 <li>
                   Supply Schedule</li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/supplier/ReportCsAvailability" target="_blank">Certified Seed Availability by OSSC/OAIC </a></li>
                 <li>
                   <a href="http://odishaseedsportal.nic.in/supplier/reportdailyseeddistribution" target="_blank">Distribution of Seeds by OSSC/ OAIC</a></li>
               </ul>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <div class="card mx-30 " >
           <div class="card-header text-center">
           <img src="../../../assets/images/container/banner_certificate_seal-512.png" class="card-img-top" alt="...">
           </div>
           <div class="card-body scroll " id="scrollid">
             <h6 class="card-title">
               Seed Certification</h6>
               <ul class="myUL">
                 <li>
                     <a href="SeedPortalData/OSSOPCA_News_Letter/PRAMANIKA-7thEDITION.pdf" target="_blank">OSSOPCA 7th Pramanika Letter</a>
                                 <img src="Images/newgood.gif"></li>
                   <li>
                     <a href="http://ossopca.nic.in/Publicinformation/Dist_growerer_Report.aspx" target="_blank">List of Seed Growers(Dist Wise)</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/Plant.aspx" target="_blank">List of Processing Plant</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/scoasco.aspx" target="_blank">List of SCO &amp; ASCO Information</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/PublicInformation/Matrix.aspx" target="_blank">Circle Wise Crop Registered Report</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/PublicInformation/OssopcaTotalCropSummary.aspx" target="_blank">Agency-Wise Verified Report.</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/" target="_blank">Seed Grower&nbsp;Online&nbsp;Registration System.</a></li>
                   <li>
                     <a href="http://ossopca.nic.in/publicinformation/ossopca_agency.aspx">SCO wise Agency wise seed cerification and P/S/T status</a></li>
                   <li>
                     SCO wise crop registration Status.</li>
                 </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>