<div class="whats-new-wrapper">
    <h2>Whats's new</h2>
    <div class="whats-new-text">
       <ul class="list">
          <li>
             <div class="list-content"><a href="#">Description of Whats's new 1 goes here - mm-dd-yyyy.</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Description of Whats's new 2 goes here - mm-dd-yyyy.</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Description of Whats's new 3 goes here - mm-dd-yyyy.</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Description of Whats's new 4 goes here - mm-dd-yyyy.</a></div>
          </li>
          <li>
             <div class="list-content"><a href="#">Description of Whats's new 5 goes here - mm-dd-yyyy.</a></div>
          </li>
       </ul>
       <div class="view-all">
          <a href="#" title="Know More About What's new" alt="Viw all updates of what's new"><button>View All</button></a>
       </div>
    </div>
 </div>