 
   <div class="container">
    <div class="card">
     <div class="content" >
        <h4 class="heading5">Registration Process</h4>
        <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
        <!-- <div class="row">
           <div class="col-xl-4">
              <div class="card" id="cardform">
                 <h4 class="heading5">Registration Process</h4>
                    <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
              </div>
          </div>
          <div class="col-xl-4">
           <div class="card" id="cardform">
           </div>
       </div>
       <div class="col-xl-4">
        <div class="card" id="cardform">
        </div>
    </div>
       </div>  -->
     </div>
  </div>
  <div class="card">
     <div class="content" >
        <h4 class="heading5">Registration Process</h4>
        <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
        <!-- <div class="row">
           <div class="col-xl-4">
              <div class="card" id="cardform">
                 <h4 class="heading5">Registration Process</h4>
                    <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
              </div>
          </div>
          <div class="col-xl-4">
           <div class="card" id="cardform">
           </div>
       </div>
       <div class="col-xl-4">
        <div class="card" id="cardform">
        </div>
    </div>
       </div>  -->
     </div>
  </div>
  <div class="card">
     <div class="content" >
        <h4 class="heading5">Registration Process</h4>
        <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
        <!-- <div class="row">
           <div class="col-xl-4">
              <div class="card" id="cardform">
                 <h4 class="heading5">Registration Process</h4>
                    <p>If you do not have a farmer id, contact BAO and receive one within 7 days.A cell number is required to purchase seed from a dealer; if you do not have one, you can add or update it at the nearest BAO office.</p>
              </div>
          </div>
          <div class="col-xl-4">
           <div class="card" id="cardform">
           </div>
       </div>
       <div class="col-xl-4">
        <div class="card" id="cardform">
        </div>
    </div>
       </div>  -->
     </div>
  </div>
  </div>
  
  
