<section class="home-page-slider">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="margin-top: 5px;">
        <div class="carousel-inner" style="height: 500px;image-resolution:from-image 200dpi">

            <!-- <div class="carousel-item ">
                <img src=".../../assets/1.jpeg" class="d-block w-100" alt="...">
            </div> -->

            <div class="carousel-item ">
                <img src=".../../assets/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
                <img src=".../../assets/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src=".../../assets/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src=".../../assets/images/slider-1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="slider-tab">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-6">

                    <div class="tab-wrapper left-tab ">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link " id="LatestNews-tab" data-bs-toggle="tab"
                                    data-bs-target="#LatestNews" type="button" role="tab" aria-controls="latestnews"
                                    aria-selected="true">ନୂଆ ଖବର</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Notice-tab" data-bs-toggle="tab"
                                    data-bs-target="#Notice" type="button" role="tab" aria-controls="notice"
                                    aria-selected="false">ଧ୍ୟାନ ଦିଅନ୍ତୁ</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade " id="LatestNews" role="tabpanel"
                                aria-labelledby="LatestNews-tab">
                                <div class="notice-latestnews">
                                    <ul style="overflow-y: hidden !important;">
                                        <li>
                                            <div class="calender">
                                                <span>ଅପ୍ରେଲ </span> <br>
                                                <span>୨୦୨୪</span>
                                            </div>
                                            <div class="content">
                                                <h5><a>ଖରିଫ ୨୦୨୪</a></h5>
                                                <h5> ଖରିଫ ୨୦୨୪ ପାଇଁ ଅନଲାଇନ ବିହନ ବିକ୍ରୟ ପ୍ରକ୍ରିୟା ୦୧.୦୫.୨୦୨୪ ଠାରୁ ଆରମ୍ଭ ହୋଇଅଛି।    
                                                </h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="calender">
                                                <span>ନଭେମ୍ବର</span> <br>
                                                <span>୨୦୨୩</span>
                                            </div>
                                            <div class="content">
                                                <h5><a>କୃଷକ ପରିଚୟ ସଂଖ୍ୟା</a></h5>
                                                <h5>   ଓଡିଶା ରାଜ୍ୟ ବିହନ ନିଗମର ପ୍ରାଧିକୃତ ଡିଲର ଓ ପ୍ରାଥମିକ କୃଷି ସେବା ସମବାୟ ସମିତି ମାନେ ପ୍ରଥମେ ଅନଲାଇନ ରେ ଏଣ୍ଟ୍ରି କରି କୃଷକ ପରିଚୟ ସଂଖ୍ୟା ଥିବା କୃଷକ ମାନଙ୍କୁ ବିହନ ବିକ୍ରୟ କରନ୍ତୁ ।  
                                                </h5>
                                            </div>
                                        </li>
                                       </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="Notice" role="tabpanel"
                                aria-labelledby="Notice-tab">
                                <div class="notice-latestnews">
                                    <ul style="overflow-y: hidden !important;">
                                        <li>
                                            <div class="calender">
                                                <span>ନଭେମ୍ବର</span> <br>
                                                <span>୨୦୨୩</span>
                                            </div>
                                            <div class="content">
                                                <h5><a>ଲଗଇନ୍</a></h5>
                                                <h5> <b>ଖରିଫ ୨୦୨୩ ପାଇଁ ଏବଂ ପୂର୍ବରୁ ପୁରୁଣା ସଂସ୍କରଣ ଲଗଇନ୍ ବ୍ୟବହାର କରନ୍ତୁ |</b>
                                                </h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="calender">
                                                <span>ନଭେମ୍ବର</span> <br>
                                                <span>୨୦୨୩</span>
                                            </div>
                                            <div class="content">
                                                <h5><a>ଲଗଇନ୍</a></h5>
                                                <h5> <b>ରବି ୨୦୨୩-୨୪ ଏବଂ ଅନୱାର୍ଡ ପାଇଁ ଦୟାକରି ନୂତନ ସଂସ୍କରଣ ଲଗଇନ୍ ବ୍ୟବହାର କରନ୍ତୁ |</b>
                                                </h5>
                                            </div>
                                        </li>
                                         </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>


    <section class="five-t-sec" style="margin-top: -49px;">
      
    </section>
</section>