<header>
    <div class="header-top" style="overflow: hidden;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="top-left-1">
                    <ul>
                        <li><a href="https://www.odisha.gov.in/" title="Government of Odisha" target="_blank">Government
                                of Odisha</a></li>
                        <li><a href="https://www.odisha.gov.in/" title="ଓଡ଼ିଶା ସରକାର" target="_blank">ଓଡ଼ିଶା
                                ସରକାର </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-5" style="text-align: end;">
                <div class="top-right-1">
                    <ul>
                        <li>
                            <div class="font-size-changer">
                                <button id="increaseFont">A+</button>
                                <button id="defaultFont">A</button>
                                <button id="decreaseFont">A-</button>
                            </div>
                        </li>
                        <li>
                            <div class="color-switcher">
                                <button id="Black">Black</button>
                                <button id="Blue">Blue</button>
                                <button id="White">White</button>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="top-1">
        <div class="container">
            <!-- <div class="row">
                <div class="col-6">

                    <div class="logo">
                        <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/seedlogo.png" alt="Logo" title="SPDA & FPO"
                                    class="logo-1">
                                <figcaption>
                                    <h1>Seed Portal <br>Directorate of Agriculture and Food Production Odisha</h1>
                                    <h5>Department of Agriculture and Farmers' Empowerment</h5>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="logo logo-right">
                        <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/odisha.png" alt="Logo" title="Government Of Odisha"
                                    class="odisha-logo">
                            </figure>
                        </a>
                        <div class="cm-con">
                            <div class="logo2-text">
                                <h4>Shri Naveen Patnaik</h4>
                                <h6>Chief Minister of Odisha</h6>
                            </div>
                            <figure>
                                <img decoding="async"
                                    src=".../../assets/images/nabin_babu.png"
                                    alt="Naveen Patnaik" title="Naveen Patnaik"><br>
                            </figure>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/logo1.png" alt="Logo"
                                    title="Directorate of Agriculture and Food Production Odisha" class="logo-1">
                                <figcaption>
                                    <h1><strong>Odisha Seeds Portal </strong> <br />Directorate of Agriculture and Food
                                        Production Odisha</h1>
                                    <h5>Department of Agriculture and Farmers' Empowerment</h5>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                    <div class="logo logo-right">
                        <!-- <a href="index.html">
                            <figure>
                                <img src=".../../assets/images/odisha.png" alt="Logo" title="SPDA & FPO" class="odisha-logo">
                            </figure>
                        </a> -->
                        <div class="cm-con">
                            <div class="logo2-text">
                                <h4>Shri. Naveen Patnaik </h4>
                                <h6>Hon'ble Chief Minister</h6>
                            </div>
                            <figure>
                                <img decoding="async" src=".../../assets/images/nabin_babu.png" alt="Naveen Patnaik"
                                    title="Naveen Patnaik"><br>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="top-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-2-wrapper">
                        <div class="menu-wrapper">
                            <nav id="navigation1" class="navigation">
                                <div class="nav-header">
                                    <div class="nav-toggle"></div>
                                </div>
                                <div class="nav-menus-wrapper">

                                    <ul class="nav-menu align-to-right">



                                        <li><a routerLink="/" (click)="homepage()"><i class="fa-solid fa-house"></i></a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Released Variety
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" routerLink="/ouat">OUAT</a></li>
                                                <li><a class="dropdown-item" routerLink="/crri">CRRI</a></li>
                                                <li><a class="dropdown-item" routerLink="/others">Others</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Govt. Seed Sector
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="https://www.osscltd.in/"
                                                        target="_blank">OSSC</a></li>
                                                <li><a class="dropdown-item" href="https://odishaagro.nic.in"
                                                        target="_blank">OAIC</a></li>
                                                <li><a class="dropdown-item"
                                                        href="https://wf.ossopca.nic.in/"
                                                        target="_blank">OSSOPCA</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Manual
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/AAO Manual.pdf"  target="_blank">AAO</a></li>
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/CDAO Manual.pdf"  target="_blank">CDAO</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/users">Login</a></li>
                                    </ul>

                                </div>
                            </nav>
                        </div>

                        <div class="top-2-announcement">
                            <h4>Announcement</h4>
                            <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">

                                <a href="#" *ngFor="let i of fillnewsList"><span><img
                                            src=".../../assets/images/icons/new.png" alt=""></span>
                                    {{i.NEWS}}
                                </a>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="top-2">

        <div class="top-2-wrapper">
            <div class="menu-wrapper">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">


                            <nav id="navigation1" class="navigation">
                                <div class="nav-header">
                                    <div class="nav-toggle"></div>
                                </div>
                                <div class="nav-menus-wrapper">
                                    <ul class="nav-menu align-to-right">
                                        <li><a routerLink="/" (click)="homepage()"><i class="fa-solid fa-house"></i></a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Released Variety
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" routerLink="/ouat">OUAT</a></li>
                                                <li><a class="dropdown-item" routerLink="/crri">CRRI</a></li>
                                                <li><a class="dropdown-item" routerLink="/others">Others</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Govt. Seed Sector
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="https://www.osscltd.in/"
                                                        target="_blank">OSSC</a></li>
                                                <li><a class="dropdown-item" href="https://odishaagro.nic.in"
                                                        target="_blank">OAIC</a></li>
                                                <li><a class="dropdown-item"
                                                        href="https://wf.ossopca.nic.in/"
                                                        target="_blank">OSSOPCA</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Manual
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/AAO Manual.pdf"  target="_blank">BAO</a></li>
                                                <li><a class="dropdown-item"
                                                        href=".../../../assets/seed/CDAO Manual.pdf"  target="_blank">CDAO</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/users">Login</a></li>
                                        <!-- <li><a href="index.html"><i class="fa-solid fa-house"></i></a></li>
                                        <li>
                                            <a href="#">Released Variety </a>
                                            <ul class="nav-dropdown two-col-menu">
                                                <li><a href="released-variety.html">Released Variety</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="#">Govt. Seed Sector </a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Seed DBT</a></li>
                                        <li><a href="#">Farmer Updation Manual</a></li> -->
                                        <!--<li><a href="#">ADMINISTRATION</a>
                            <ul class="nav-dropdown two-col-menu">
                                <li><a href="#">Government Orders</a></li>
                                <li><a href="#">School Details</a></li>
                                <li><a href="#">Student Enrolment Data</a></li>
                                <li><a href="#">Teachers’ data</a></li>
                                <li><a href="#">Guidelines for Teachers</a></li>
                                <li><a href="#">Trainings Calendar</a></li>
                                <li><a href="#">Dashboards & Statistics</a></li>
                                <li><a href="#">Student Assessments & Performance tracking</a>
                                    <ul class="nav-dropdown">
                                        <li><a href="#">Formative Assessment</a></li>
                                        <li><a href="#">Summative Assessments</a></li>
                                        <li><a href="#">Benchmark Assessments</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>-->
                                    </ul>

                                </div>
                            </nav>
                            <!-- <div class="top-search-box">
                                <form action="">
                                    <input type="text" placeholder="Search">
                                    <button>Go</button>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>


            </div>

            <div class="top-2-announcement" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Announcement</h4>
                            <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                <a href="#" *ngFor="let i of fillnewsList"><span><img
                                            src=".../../assets/images/icons/new.png" alt=""></span>
                                    {{i.NEWS}}
                                </a>
                            </marquee>
                            <!-- <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">

                            <a href="#" *ngFor="let i of fillnewsList"><span><img
                                        src=".../../assets/images/icons/new.png" alt=""></span>
                                {{i.NEWS}}
                            </a>
                        </marquee> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>









    </div>

</header>