<!-- Page-header start -->
<div class="page-header" style="height: 120px;">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">Dealer Sale</h5>
          <p class="m-b-0">Dealer/PACS selling to farmer</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/dealersale"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="/dealersale">Dealer Sale</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->

<div class="page-body">
  <br>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Badges on button card start -->
          <div class="card">
            <div class="card-header">
              <div class="card-header-left">
                <h5 class="card-header-text">Stock Distribution</h5>
              </div>

            </div>
            <div class="container-fluid">
              <br>
              <div class="row">
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Stock Supplied To</b> </label> <span class="text-danger"
                    style="text-align: end;">*:-</span>
                </div>
                <!-- <div class="btn-group col-md-8" data-toggle="buttons">
                    <label class="btn btn-secondary mr-2">
                      <input type="radio" name="radioExample" [(ngModel)]="Dealer" autocomplete="off"> Dealer
                    </label>
                    <label class="btn btn-secondary mr-2">
                      <input type="radio" name="radioExample" autocomplete="off"> PACS
                    </label>
                    <label class="btn btn-secondary mr-2">
                      <input type="radio" name="radioExample" autocomplete="off"> OAIC
                    </label>
                    <label class="btn btn-secondary mr-2">
                      <input type="radio" name="radioExample" autocomplete="off"> Demonstration
                    </label>
                  </div> -->
                <div class="radio-tile-group">
                  <div class="input-container">
                    <input id="walk" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <!-- <div class="icon walk-icon">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 0h24v24H0z" fill="none"/>
                              <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/>
                            </svg>
                          </div> -->
                      <label for="walk" class="radio-tile-label">Dealer</label>
                    </div>
                  </div>

                  <div class="input-container">
                    <input id="bike" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <!-- <div class="icon bike-icon">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 0h24v24H0z" fill="none"/>
                              <path d="M15.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM5 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5zm5.8-10l2.4-2.4.8.8c1.3 1.3 3 2.1 5.1 2.1V9c-1.5 0-2.7-.6-3.6-1.5l-1.9-1.9c-.5-.4-1-.6-1.6-.6s-1.1.2-1.4.6L7.8 8.4c-.4.4-.6.9-.6 1.4 0 .6.2 1.1.6 1.4L11 14v5h2v-6.2l-2.2-2.3zM19 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5z"/>
                            </svg>
                          </div> -->
                      <label for="bike" class="radio-tile-label">PACS</label>
                    </div>
                  </div>

                  <div class="input-container">
                    <input id="drive" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <!-- <div class="icon car-icon">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                              <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                          </div> -->
                      <label for="drive" class="radio-tile-label">OAIC</label>
                    </div>
                  </div>

                  <div class="input-container">
                    <input id="fly" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <!-- <div class="icon fly-icon">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10.18 9"/>
                              <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"/>
                              <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                          </div> -->
                      <label for="fly" class="radio-tile-label">Demonstration</label>
                    </div>
                  </div>
                </div>



              </div>
              <div class="row" *ngIf="Dealer">
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Delivery date</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="date" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <select name="select" class="form-control">
                    <option value="opt1">SBI Collect UTR No</option>
                    <option value="opt2">SBI Collect DU No</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <label class="col-form-label"><b> Amount(in Rs.)</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="row" *ngIf="Dealer">
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Delivery date</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="date" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Stock Delivered To</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <select name="select" class="form-control">
                    <option value="opt1">opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class=" col-md-5">
                  <label>
                    <input type="radio" name="radioExample" autocomplete="off"> Own Arrangement
                  </label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <input type="radio" name="radioExample" autocomplete="off"> OSSC Arrangement
                  </label>
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <select name="select" class="form-control">
                    <option value="opt1">SBI Collect UTR No</option>
                    <option value="opt2">SBI Collect DU No</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <label class="col-form-label"><b> Amount(in Rs.)</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Delivery date</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="date" class="form-control">
                </div>

                <div class="col-md-6">
                </div>
                <br>
                <br>
                <div class=" col-md-3">
                  <select name="select" class="form-control">
                    <option value="opt1">SBI Collect UTR No</option>
                    <option value="opt2">SBI Collect DU No</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <div class=" col-md-3">
                  <label class="col-form-label"><b> Amount(in Rs.)</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="row" *ngIf="Dealer">
                <div class=" col-md-3">
                  <label class="col-form-label"><b>Delivery date</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="date" class="form-control">
                </div>

                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <select name="select" class="form-control">
                    <option value="opt1">SBI Collect UTR No</option>
                    <option value="opt2">SBI Collect DU No</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                </div>
                <br>
                <br>
                <br>
                <div class=" col-md-3">
                  <label class="col-form-label"><b> Amount(in Rs.)</b> <span class="text-danger">*</span>:-</label>
                </div>

                <div class="col-md-3">
                  <input type="number" class="form-control">
                </div>
              </div>
              <br>
              <br>
              <div class="row" style="text-align: left;">
                <div class=" col-md-5"></div>
                <div class=" col-md-6">
                  <button class="btn btn-primary waves-effect waves-light">Proceed</button>
                </div>
              </div>
              <br>
              <br>

            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Badges on button card start -->
          <div class="card">
            <div class="card-header">
              <div class="card-header-left">
                <h5 class="card-header-text">Stock Distribution</h5>
              </div>

            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Financial Year :-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Season :-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Select GoDown <span class="text-danger">*</span>:-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Crop Catagory :-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Crop Name :-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
                <div class="form-group form-primary form-static-label col-md-4">
                  <label class="col-form-label">Variety :-</label>
                  <select name="select" class="form-control">
                    <option value="" selected disabled>opt1</option>
                    <option value="opt2">opt2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>



  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3c8aff" type="line-scale-pulse-out-rapid"
    [fullScreen]="true">
    <h2 style="color: white"> Loading... </h2>
  </ngx-spinner>